phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/iop-gateway/src/main/resources/EMSPManagerV1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://webservices.onlinepayroll.intuit.com/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.onlinepayroll.intuit.com/v1">

<xs:element name="PayrollWebServiceException" nillable="true" type="tns:payrollWebServiceFaultInfo" />

<xs:element name="getCompaniesWithContractorPaymentActivity" type="tns:getCompaniesWithContractorPaymentActivity" />

<xs:element name="getCompaniesWithContractorPaymentActivityResponse" type="tns:getCompaniesWithContractorPaymentActivityResponse" />

<xs:element name="getCompaniesWithPayrollActivity" type="tns:getCompaniesWithPayrollActivity" />

<xs:element name="getCompaniesWithPayrollActivityResponse" type="tns:getCompaniesWithPayrollActivityResponse" />

<xs:element name="getContractorPaymentCompanyModel" type="tns:getContractorPaymentCompanyModel" />

<xs:element name="getContractorPaymentCompanyModelResponse" type="tns:getContractorPaymentCompanyModelResponse" />

<xs:element name="getPayrollCompanyModel" type="tns:getPayrollCompanyModel" />

<xs:element name="getPayrollCompanyModelResponse" type="tns:getPayrollCompanyModelResponse" />

<xs:complexType name="getCompaniesWithContractorPaymentActivity">
<xs:sequence>
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompaniesWithContractorPaymentActivityResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="payrollWebServiceFaultInfo">
<xs:sequence>
<xs:element name="code" type="tns:payrollWebServiceFaultCode" minOccurs="0" />
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompaniesWithPayrollActivity">
<xs:sequence>
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompaniesWithPayrollActivityResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContractorPaymentCompanyModel">
<xs:sequence>
<xs:element name="companyID" type="xs:long" />
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContractorPaymentCompanyModelResponse">
<xs:sequence>
<xs:element name="return" type="tns:contractorPaymentCompanyModel" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="contractorPaymentCompanyModel">
<xs:sequence>
<xs:element name="company" type="tns:companyModel" minOccurs="0" />
<xs:element name="contractors" type="tns:contractorModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="contractorPayments" type="tns:contractorPaymentModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="companyModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="businessName" type="xs:string" minOccurs="0" />
<xs:element name="companyType" type="tns:companyType" minOccurs="0" />
<xs:element name="isAccountantClient" type="xs:boolean" minOccurs="0" />
<xs:element name="businessAddress" type="tns:addressModel" minOccurs="0" />
<xs:element name="principalOfficer" type="tns:principalOfficer" minOccurs="0" />
<xs:element name="signupDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="businessType" type="xs:string" minOccurs="0" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
<xs:element name="phoneExtension" type="xs:string" minOccurs="0" />
<xs:element name="homePhone" type="xs:string" minOccurs="0" />
<xs:element name="mobilePhone" type="xs:string" minOccurs="0" />
<xs:element name="fax" type="xs:string" minOccurs="0" />
<xs:element name="employeeCount" type="tns:employeeCountRange" minOccurs="0" />
<xs:element name="acceptedCustomerServiceAgreement" type="xs:boolean" minOccurs="0" />
<xs:element name="needsToAcceptCustomerServiceAgreement" type="xs:boolean" minOccurs="0" />
<xs:element name="featureSetType" type="tns:featureSetType" minOccurs="0" />
<xs:element name="featureSetIsLocked" type="xs:boolean" minOccurs="0" />
<xs:element name="offerCodeEncrypted" type="xs:string" minOccurs="0" />
<xs:element name="overrideOfferCode" type="xs:string" minOccurs="0" />
<xs:element name="clearTextSourceCode" type="xs:string" minOccurs="0" />
<xs:element name="visitorId" type="xs:long" minOccurs="0" />
<xs:element name="LeadId" type="xs:long" minOccurs="0" />
<xs:element name="KeyAccountData" type="xs:string" minOccurs="0" />
<xs:element name="OpptyId" type="xs:string" minOccurs="0" />
<xs:element name="partnerSignupCode" type="xs:string" minOccurs="0" />
<xs:element name="marketingCode" type="xs:string" minOccurs="0" />
<xs:element name="referrer" type="xs:string" minOccurs="0" />
<xs:element name="directDeposit" type="xs:boolean" minOccurs="0" />
<xs:element name="directDepositPaperCheckWhileWaiting" type="xs:boolean" minOccurs="0" />
<xs:element name="havePaidEmployeesThisYear" type="xs:boolean" minOccurs="0" />
<xs:element name="startPayrollThisQtr" type="xs:boolean" minOccurs="0" />
<xs:element name="payrollStartQuestion" type="tns:startQuestion" minOccurs="0" />
<xs:element name="estimatedStartDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="havePaidTimeOff" type="xs:boolean" minOccurs="0" />
<xs:element name="haveAssignedPaidTimeOffToEmployees" type="xs:boolean" minOccurs="0" />
<xs:element name="moreThanOneWorkLocation" type="xs:boolean" minOccurs="0" />
<xs:element name="haveContractor" type="xs:boolean" minOccurs="0" />
<xs:element name="contractorsOnly" type="xs:boolean" minOccurs="0" />
<xs:element name="editWorkLocationAllowed" type="xs:boolean" minOccurs="0" />
<xs:element name="haveTimeTracking" type="xs:boolean" minOccurs="0" />
<xs:element name="isTimeSheetsTrackingOn" type="xs:boolean" minOccurs="0" />
<xs:element name="allInterviewQuestionsMustBeAnswered" type="xs:boolean" minOccurs="0" />
<xs:element name="showWorkLocation" type="xs:boolean" minOccurs="0" />
<xs:element name="showTimeTracking" type="xs:boolean" minOccurs="0" />
<xs:element name="showContractor" type="xs:boolean" minOccurs="0" />
<xs:element name="contractorsOnlyEditIsLocked" type="xs:boolean" minOccurs="0" />
<xs:element name="showDirectDeposit" type="xs:boolean" minOccurs="0" />
<xs:element name="showHistory" type="xs:boolean" minOccurs="0" />
<xs:element name="showFUD" type="xs:boolean" minOccurs="0" />
<xs:element name="stateEditIsLocked" type="xs:boolean" minOccurs="0" />
<xs:element name="emailConfirmationIsNeeded" type="xs:boolean" minOccurs="0" />
<xs:element name="primaryContact" type="tns:primaryContactModel" minOccurs="0" />
<xs:element name="workLocations" type="tns:workLocationModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="companyDeductions" type="tns:companyDeductionModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="ptoPolicies" type="tns:ptoPolicyModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="companyWageItems" type="tns:companyWageItemModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="havePriorQuarterPayrolls" type="xs:boolean" minOccurs="0" />
<xs:element name="haveCurrentQuarterPayrolls" type="xs:boolean" minOccurs="0" />
<xs:element name="convertFromCode" type="tns:conversionCode" minOccurs="0" />
<xs:element name="departments" type="tns:department" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="miscAttributes">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string" />
<xs:element name="value" minOccurs="0" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="billingInformation" type="tns:billingInformationModel" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="billingActivationDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="customFieldLabels" type="tns:customFieldLabel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="companyTaxSetup" type="tns:companyTaxSetupModel" minOccurs="0" />
<xs:element name="ssoFederatedID" type="xs:string" minOccurs="0" />
<xs:element name="saveCreditCardInfo" type="xs:boolean" minOccurs="0" />
<xs:element name="isBillingAddressBizAddress" type="xs:boolean" minOccurs="0" />
<xs:element name="cCard" type="tns:cCard" minOccurs="0" />
<xs:element name="externalAddon" type="tns:externalAddonModel" minOccurs="0" />
<xs:element name="formUsageDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="confirmEMailAddress" type="xs:boolean" minOccurs="0" />
<xs:element name="suppressWarnings" type="xs:boolean" minOccurs="0" />
<xs:element name="useClasses" type="xs:boolean" minOccurs="0" />
<xs:element name="warnIfNoClass" type="xs:boolean" minOccurs="0" />
<xs:element name="initialSetupCompleted" type="xs:boolean" minOccurs="0" />
<xs:element name="isOnHold" type="xs:boolean" minOccurs="0" />
<xs:element name="companyExternalId" type="xs:long" minOccurs="0" />
<xs:element name="workersCompensationClasses" type="tns:companyWorkersCompensationClassModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="exportDestination" type="xs:string" minOccurs="0" />
<xs:element name="bankAccountStatusId" type="xs:int" />
<xs:element name="estPayrollDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="last1099QuickBooksUpdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="last1099IDSSync" type="xs:dateTime" minOccurs="0" />
<xs:element name="pcCalcVersion2" type="xs:boolean" minOccurs="0" />
<xs:element name="ifspActivationStatus" type="tns:ifspActivationStatus" minOccurs="0" />
<xs:element name="ifspActivationStatusTimeStamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="ifspActualFirstPayrollDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="ifspEstimatedFirstPayrollDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="ifspNextContactDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="ifspBestTimeToCall" type="xs:string" minOccurs="0" />
<xs:element name="useIFSPDDProcess" type="xs:boolean" minOccurs="0" />
<xs:element name="passedVBD" type="xs:boolean" minOccurs="0" />
<xs:element name="ifspClientNotes" type="xs:string" minOccurs="0" />
<xs:element name="ifspFirstPayrollAppointmentID" type="xs:string" minOccurs="0" />
<xs:element name="ifspFirstPayrollAppointmentDateTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="ifspTelesalesAgentName" type="xs:string" minOccurs="0" />
<xs:element name="ifspRetainSaleNotes" type="xs:string" minOccurs="0" />
<xs:element name="ddStatus" type="tns:companyDirectDepositStatus" minOccurs="0" />
<xs:element name="ddAccount" type="tns:bankAccountModel" minOccurs="0" />
<xs:element name="fundingType" type="tns:fundingType" minOccurs="0" />
<xs:element name="ddLimit" type="xs:double" minOccurs="0" />
<xs:element name="f01KCompany" type="tns:f01KCompanyModel" minOccurs="0" />
<xs:element name="hasActiveContractors" type="xs:boolean" minOccurs="0" />
<xs:element name="hasContractorPaymentHistory" type="xs:boolean" minOccurs="0" />
<xs:element name="partnerName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseModel">
<xs:complexContent>
<xs:extension base="tns:keyedRecord">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="keyedRecord">
<xs:sequence>
<xs:element name="externalPartnerDataId" type="xs:string" minOccurs="0" />
<xs:element name="formSalt" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" />
<xs:element name="version" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addressModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0" />
<xs:element name="address2" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="county" type="xs:string" minOccurs="0" />
<xs:element name="isTaxAddress" type="xs:boolean" />
<xs:element name="latitude" type="xs:double" minOccurs="0" />
<xs:element name="longitude" type="xs:double" minOccurs="0" />
<xs:element name="state" type="xs:string" minOccurs="0" />
<xs:element name="taxAddress" type="tns:addressModel" minOccurs="0" />
<xs:element name="updateTaxAddress" type="xs:boolean" minOccurs="0" />
<xs:element name="validateAddress" type="xs:boolean" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="principalOfficer">
<xs:sequence>
<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0" />
<xs:element name="entityType" type="tns:companyEntityType" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="signerTitle" type="tns:companySignerTitle" minOccurs="0" />
<xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0" />
<xs:element name="writeOnlySocialSecurityNumber" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dateModel">
<xs:sequence>
<xs:element name="year" type="xs:int" />
<xs:element name="month" type="xs:int" />
<xs:element name="day" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="primaryContactModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="middleInitial" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="eMailAddress" type="xs:string" minOccurs="0" />
<xs:element name="eMailAddress2" type="xs:string" minOccurs="0" />
<xs:element name="userID" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="password2" type="xs:string" minOccurs="0" />
<xs:element name="forceChange" type="xs:boolean" minOccurs="0" />
<xs:element name="secretQuestionsAnswered" type="xs:boolean" minOccurs="0" />
<xs:element name="secretQuestions" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="secretAnswers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="phones" type="tns:phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="phone">
<xs:complexContent>
<xs:extension base="tns:personContact">
<xs:sequence>
<xs:element name="extension" type="xs:string" minOccurs="0" />
<xs:element name="phoneNumber" type="xs:string" minOccurs="0" />
<xs:element name="phoneType" type="tns:phoneType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="personContact">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="deleteItem" type="xs:boolean" minOccurs="0" />
<xs:element name="displayOrder" type="xs:int" minOccurs="0" />
<xs:element name="person" type="tns:person" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="person">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="customFields" type="tns:customField" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="emailAddress" type="xs:string" minOccurs="0" />
<xs:element name="emergencyContact1" type="tns:person" minOccurs="0" />
<xs:element name="emergencyContact2" type="tns:person" minOccurs="0" />
<xs:element name="faxNumber" type="xs:string" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="homeAddress" type="tns:address" minOccurs="0" />
<xs:element name="homePhone" type="xs:string" minOccurs="0" />
<xs:element name="jobTitle" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="middleInitial" type="xs:string" minOccurs="0" />
<xs:element name="mobilePhone" type="xs:string" minOccurs="0" />
<xs:element name="race" type="tns:race" minOccurs="0" />
<xs:element name="workExtension" type="xs:string" minOccurs="0" />
<xs:element name="workPhone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="customField" abstract="true">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="label" type="tns:customFieldLabel" minOccurs="0" />
<xs:element name="objectId" type="xs:long" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="customFieldLabel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="canDelete" type="xs:boolean" minOccurs="0" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
<xs:element name="displayOrder" type="xs:int" />
<xs:element name="labelName" type="xs:string" minOccurs="0" />
<xs:element name="labelType" type="tns:customFieldType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="address">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="address1" type="xs:string" minOccurs="0" />
<xs:element name="address2" type="xs:string" minOccurs="0" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="county" type="xs:string" minOccurs="0" />
<xs:element name="state" type="xs:string" minOccurs="0" />
<xs:element name="zipCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="workLocationModel">
<xs:complexContent>
<xs:extension base="tns:addressModel">
<xs:sequence>
<xs:element name="active" type="xs:boolean" minOccurs="0" />
<xs:element name="canDelete" type="xs:boolean" minOccurs="0" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
<xs:element name="shownSeparateReportingWarning" type="xs:boolean" minOccurs="0" />
<xs:element name="unitNumber" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyDeductionModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="maxAmount" type="xs:double" minOccurs="0" />
<xs:element name="isEditMaxAmount" type="xs:boolean" minOccurs="0" />
<xs:element name="isMaxAmountOptional" type="xs:boolean" minOccurs="0" />
<xs:element name="deductionProvider" type="tns:deductionProvider" minOccurs="0" />
<xs:element name="isPreTax" type="xs:boolean" minOccurs="0" />
<xs:element name="categoryId" type="xs:long" minOccurs="0" />
<xs:element name="contributionType" type="tns:contributionType" minOccurs="0" />
<xs:element name="deductionItemDecription" type="xs:string" minOccurs="0" />
<xs:element name="deductionItemId" type="xs:long" minOccurs="0" />
<xs:element name="isGarnishment" type="xs:boolean" minOccurs="0" />
<xs:element name="isAssigned" type="xs:boolean" minOccurs="0" />
<xs:element name="isEditSetup" type="xs:boolean" minOccurs="0" />
<xs:element name="isIntuit401K" type="xs:boolean" minOccurs="0" />
<xs:element name="canUserDelete" type="xs:boolean" minOccurs="0" />
<xs:element name="allCanChangePreTax" type="xs:boolean" minOccurs="0" />
<xs:element name="empCanChangePreTax" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ptoPolicyModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="category" type="tns:ptoCategoryModel" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="accrualFrequency" type="tns:ptoAccrualFrequency" minOccurs="0" />
<xs:element name="accrualRate" type="xs:decimal" minOccurs="0" />
<xs:element name="accrualMaximum" type="xs:decimal" minOccurs="0" />
<xs:element name="editEmpIndex" type="xs:long" minOccurs="0" />
<xs:element name="editException" type="tns:ptoEditExceptionStatus" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyWageItemModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="permanentName" type="xs:string" minOccurs="0" />
<xs:element name="isNonCash" type="xs:boolean" minOccurs="0" />
<xs:element name="rate" type="xs:decimal" minOccurs="0" />
<xs:element name="displayOrder" type="xs:int" />
<xs:element name="wageItemId" type="tns:wageItemID" minOccurs="0" />
<xs:element name="isPaidByHours" type="xs:boolean" minOccurs="0" />
<xs:element name="payDayName" type="xs:string" minOccurs="0" />
<xs:element name="wageItemExportType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="department">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="billingInformationModel">
<xs:sequence>
<xs:element name="billingId" type="xs:int" minOccurs="0" />
<xs:element name="nextBillingId" type="xs:int" minOccurs="0" />
<xs:element name="nextBillingDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="billingExpirationDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="shortDesc" type="xs:string" minOccurs="0" />
<xs:element name="adShortDesc" type="xs:string" minOccurs="0" />
<xs:element name="longDesc" type="xs:string" minOccurs="0" />
<xs:element name="adLongDesc" type="xs:string" minOccurs="0" />
<xs:element name="adBulletDesc" type="xs:string" minOccurs="0" />
<xs:element name="clientDesc" type="xs:string" minOccurs="0" />
<xs:element name="isFree" type="xs:boolean" />
<xs:element name="isObsolete" type="xs:boolean" />
<xs:element name="discountRate" type="xs:decimal" minOccurs="0" />
<xs:element name="footNote1" type="xs:string" minOccurs="0" />
<xs:element name="footNote2" type="xs:string" minOccurs="0" />
<xs:element name="billingTerms" type="xs:string" minOccurs="0" />
<xs:element name="isBilledYearly" type="xs:boolean" />
<xs:element name="address" type="tns:addressModel" minOccurs="0" />
<xs:element name="skipValidation" type="xs:boolean" minOccurs="0" />
<xs:element name="nextBillingDateForNonZeroAmount" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="companyTaxSetupModel">
<xs:sequence>
<xs:element name="filingName" type="xs:string" minOccurs="0" />
<xs:element name="filingType" type="tns:companyFilingType" minOccurs="0" />
<xs:element name="filingAddress" type="tns:addressModel" minOccurs="0" />
<xs:element name="isFilingAddressSameAsBusinessAddress" type="xs:boolean" minOccurs="0" />
<xs:element name="federalEIN" type="xs:string" minOccurs="0" />
<xs:element name="federalDepositSchedules" type="tns:companyScheduleModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="stateTaxSetup" type="tns:companyStateTaxSetupModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="companyScheduleModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="scheduleId" type="xs:long" minOccurs="0" />
<xs:element name="filingType" type="tns:filingType" minOccurs="0" />
<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyStateTaxSetupModel">
<xs:sequence>
<xs:element name="state" type="xs:string" minOccurs="0" />
<xs:element name="stateSchedules" type="tns:companyScheduleModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="stateTaxRates" type="tns:companyTaxRateModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="ein1" type="xs:string" minOccurs="0" />
<xs:element name="ein2" type="xs:string" minOccurs="0" />
<xs:element name="ein3" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="companyTaxRateModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="rate" type="xs:decimal" minOccurs="0" />
<xs:element name="taxItemId" type="xs:long" minOccurs="0" />
<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
<xs:element name="useDefaultRate" type="xs:boolean" minOccurs="0" />
<xs:element name="state" type="xs:string" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="cCard">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
<xs:element name="CCardExpireMonth" type="xs:int" />
<xs:element name="CCardExpireYear" type="xs:int" />
<xs:element name="CCardHolderName" type="xs:string" minOccurs="0" />
<xs:element name="CCardNumber" type="xs:string" minOccurs="0" />
<xs:element name="CCardType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="externalAddonModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="addonType" type="xs:string" minOccurs="0" />
<xs:element name="vendorName" type="xs:string" minOccurs="0" />
<xs:element name="expirationMonth" type="tns:monthOption" minOccurs="0" />
<xs:element name="expirationYear" type="tns:yearOption" minOccurs="0" />
<xs:element name="note" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyWorkersCompensationClassModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="classCode" type="xs:string" minOccurs="0" />
<xs:element name="subClassCode" type="xs:string" minOccurs="0" />
<xs:element name="natureOfWork" type="xs:string" minOccurs="0" />
<xs:element name="active" type="xs:boolean" minOccurs="0" />
<xs:element name="companyWorkersCompensationRateModels" type="tns:companyWorkersCompensationRateModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyWorkersCompensationRateModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="effectiveDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="endDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="compositeRate" type="xs:double" minOccurs="0" />
<xs:element name="payrollDeduction" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="bankAccountModel">
<xs:sequence>
<xs:element name="bankName" type="xs:string" minOccurs="0" />
<xs:element name="bankRoutingNumberSensitized" type="xs:string" minOccurs="0" />
<xs:element name="bankRoutingNumber" type="xs:string" minOccurs="0" />
<xs:element name="accountNumberSensitized" type="xs:string" minOccurs="0" />
<xs:element name="accountNumber" type="xs:string" minOccurs="0" />
<xs:element name="accountNumberConfirmation" type="xs:string" minOccurs="0" />
<xs:element name="bankAccountType" type="tns:bankAccountType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="f01KCompanyModel">
<xs:sequence>
<xs:element name="custodialAccntId" type="xs:string" minOccurs="0" />
<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="legalName" type="xs:string" minOccurs="0" />
<xs:element name="safeHarbor" type="xs:boolean" minOccurs="0" />
<xs:element name="terminationDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="safeHarborChangeDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="safeHarborChange" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="contractorModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="directDepositAccount1" type="tns:bankAccountModel" minOccurs="0" />
<xs:element name="directDepositAccount2" type="tns:bankAccountModel" minOccurs="0" />
<xs:element name="contractorType" type="tns:contractorType" minOccurs="0" />
<xs:element name="payTypes" type="tns:payTypeModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="allWages" type="tns:employeeWageItemModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="payments" type="tns:contractorPaymentModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="active" type="xs:boolean" />
<xs:element name="address" type="tns:address" minOccurs="0" />
<xs:element name="addressModel" type="tns:addressModel" minOccurs="0" />
<xs:element name="boxAmounts">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:int" />
<xs:element name="value" minOccurs="0" type="xs:decimal" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="businessName" type="xs:string" minOccurs="0" />
<xs:element name="contact" type="tns:userModel" minOccurs="0" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="hireDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="index" type="xs:int" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="payThroughPayCycle" type="xs:boolean" />
<xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0" />
<xs:element name="TIN" type="xs:string" minOccurs="0" />
<xs:element name="type" type="xs:int" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="payTypeModel">
<xs:sequence>
<xs:element name="wageItemId" type="tns:wageItemID" minOccurs="0" />
<xs:element name="wageItemName" type="xs:string" minOccurs="0" />
<xs:element name="wageItemExplanation" type="xs:string" minOccurs="0" />
<xs:element name="recurringAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="hasRecurringAmount" type="xs:boolean" minOccurs="0" />
<xs:element name="isAdvanced" type="xs:boolean" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="isFringe" type="xs:boolean" minOccurs="0" />
<xs:element name="employeeWageItemId" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeWageItemModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="isBaseRate" type="xs:boolean" minOccurs="0" />
<xs:element name="isHourly" type="xs:boolean" minOccurs="0" />
<xs:element name="isNonCash" type="xs:boolean" minOccurs="0" />
<xs:element name="recurringAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="rate" type="xs:decimal" minOccurs="0" />
<xs:element name="wageItemId" type="tns:wageItemID" minOccurs="0" />
<xs:element name="details" type="xs:string" minOccurs="0" />
<xs:element name="companyWageItem" type="tns:companyWageItemModel" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="contractorPaymentModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="contractor" type="tns:contractorModel" minOccurs="0" />
<xs:element name="createTimeStamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="periodStartDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="periodEndDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="checkDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="ddStatus" type="tns:ddStatus" minOccurs="0" />
<xs:element name="ddType" type="tns:ddType" minOccurs="0" />
<xs:element name="memo" type="xs:string" minOccurs="0" />
<xs:element name="netCheckAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="grossAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="checkAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="ddAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="ddAmount2" type="xs:decimal" minOccurs="0" />
<xs:element name="voucherNumber" type="xs:int" minOccurs="0" />
<xs:element name="isApproved" type="xs:boolean" minOccurs="0" />
<xs:element name="approvalDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="warnings" type="xs:string" minOccurs="0" />
<xs:element name="isDeleted" type="xs:boolean" />
<xs:element name="wageDetails" type="tns:paycheckWagesModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="paycheckWagesModel">
<xs:sequence>
<xs:element name="wageAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="hours" type="xs:double" minOccurs="0" />
<xs:element name="rate" type="xs:double" minOccurs="0" />
<xs:element name="wageItemId" type="tns:wageItemID" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="originalRate" type="xs:double" minOccurs="0" />
<xs:element name="isOverride" type="xs:boolean" minOccurs="0" />
<xs:element name="allowZeroes" type="xs:boolean" minOccurs="0" />
<xs:element name="transientDisplayOrder" type="xs:int" minOccurs="0" />
<xs:element name="ytdAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="employeeWageItem" type="tns:employeeWageItemModel" minOccurs="0" />
<xs:element name="employeeWageItemId" type="xs:long" minOccurs="0" />
<xs:element name="wagePermanentName" type="xs:string" minOccurs="0" />
<xs:element name="wageName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="userModel">
<xs:complexContent>
<xs:extension base="tns:personModel">
<xs:sequence>
<xs:element name="hasAnyRole" type="xs:boolean" minOccurs="0" />
<xs:element name="hasAccessRole" type="xs:boolean" minOccurs="0" />
<xs:element name="isProviderAdmin" type="xs:boolean" minOccurs="0" />
<xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0" />
<xs:element name="socialSecurityNumberSensitized" type="xs:string" minOccurs="0" />
<xs:element name="secretCode" type="xs:string" minOccurs="0" />
<xs:element name="tempPassword" type="xs:string" minOccurs="0" />
<xs:element name="userType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="personModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="emailAddress" type="xs:string" minOccurs="0" />
<xs:element name="emails" type="tns:emailAddr" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="emergencyContacts" type="tns:emergencyContactModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="homeAddress" type="tns:addressModel" minOccurs="0" />
<xs:element name="ims" type="tns:im" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="jobTitle" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="middleInitial" type="xs:string" minOccurs="0" />
<xs:element name="personCustomFields" type="tns:personCustomField" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="phones" type="tns:phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="race" type="tns:race" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="emailAddr">
<xs:complexContent>
<xs:extension base="tns:personContact">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="emailType" type="tns:emailType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="emergencyContactModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
<xs:element name="emails" type="tns:emailAddr" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="firstName" type="xs:string" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="middleInitial" type="xs:string" minOccurs="0" />
<xs:element name="phones" type="tns:phone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="im">
<xs:complexContent>
<xs:extension base="tns:personContact">
<xs:sequence>
<xs:element name="IM" type="xs:string" minOccurs="0" />
<xs:element name="IMType" type="tns:imType" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="personCustomField">
<xs:complexContent>
<xs:extension base="tns:customField">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getPayrollCompanyModel">
<xs:sequence>
<xs:element name="companyID" type="xs:long" />
<xs:element name="startDateTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="endDateTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPayrollCompanyModelResponse">
<xs:sequence>
<xs:element name="return" type="tns:payrollCompanyModel" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="payrollCompanyModel">
<xs:sequence>
<xs:element name="company" type="tns:companyModel" minOccurs="0" />
<xs:element name="employees" type="tns:employeeModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="paychecks" type="tns:paycheckModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeModel">
<xs:complexContent>
<xs:extension base="tns:userModel">
<xs:sequence>
<xs:element name="index" type="xs:int" />
<xs:element name="badge" type="xs:string" minOccurs="0" />
<xs:element name="jobCategory" type="tns:jobCategory" minOccurs="0" />
<xs:element name="workLocation" type="tns:workLocationModel" minOccurs="0" />
<xs:element name="employmentStatus" type="tns:employmentStatus" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="isActiveForAccounting" type="xs:boolean" minOccurs="0" />
<xs:element name="filedNewHireForm" type="xs:boolean" minOccurs="0" />
<xs:element name="filedI9Form" type="xs:boolean" minOccurs="0" />
<xs:element name="removeW4Form" type="xs:boolean" minOccurs="0" />
<xs:element name="leaveStartDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="leaveEndDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="leaveReason" type="tns:leaveReason" minOccurs="0" />
<xs:element name="leaveReasonOther" type="xs:string" minOccurs="0" />
<xs:element name="deactivationDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="terminationDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="terminationReason" type="tns:terminationReason" minOccurs="0" />
<xs:element name="terminationReasonOther" type="xs:string" minOccurs="0" />
<xs:element name="eligibleForRehire" type="xs:boolean" minOccurs="0" />
<xs:element name="allowPaystubAccess" type="xs:boolean" minOccurs="0" />
<xs:element name="accessMailWasSent" type="xs:boolean" minOccurs="0" />
<xs:element name="occupationalTitleOrCode" type="xs:string" minOccurs="0" />
<xs:element name="commuterOnlyOptOut" type="xs:boolean" minOccurs="0" />
<xs:element name="timeSheetsTrackingEnabled" type="xs:boolean" minOccurs="0" />
<xs:element name="timeSheetsTrackingName" type="xs:string" minOccurs="0" />
<xs:element name="hireDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="birthDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="gender" type="tns:gender" minOccurs="0" />
<xs:element name="payRateType" type="tns:payRateType" minOccurs="0" />
<xs:element name="salaryRate" type="xs:decimal" minOccurs="0" />
<xs:element name="salaryFrequency" type="tns:salaryFrequency" minOccurs="0" />
<xs:element name="salaryHoursPerDay" type="xs:double" minOccurs="0" />
<xs:element name="salaryDaysPerWeek" type="xs:double" minOccurs="0" />
<xs:element name="payTypes" type="tns:payTypeModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="showAllAdvancedPayTypes" type="xs:boolean" minOccurs="0" />
<xs:element name="allWages" type="tns:employeeWageItemModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="hourlyWages" type="tns:employeeWageItemModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="jobTitleID" type="xs:int" minOccurs="0" />
<xs:element name="payTrendsJobTitle" type="xs:string" minOccurs="0" />
<xs:element name="jobTitleSOC" type="xs:string" minOccurs="0" />
<xs:element name="paySchedule" type="tns:payScheduleModel" minOccurs="0" />
<xs:element name="payMethod" type="tns:payMethod" minOccurs="0" />
<xs:element name="directDepositAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="directDepositAccount1" type="tns:bankAccountModel" minOccurs="0" />
<xs:element name="directDepositAccount2" type="tns:bankAccountModel" minOccurs="0" />
<xs:element name="verifyDirectDepositOnly" type="xs:boolean" minOccurs="0" />
<xs:element name="displayBoaODDChoice" type="xs:boolean" minOccurs="0" />
<xs:element name="federalTaxSetup" type="tns:employeeTaxSetupModel" minOccurs="0" />
<xs:element name="residenceTaxSetup" type="tns:employeeTaxSetupModel" minOccurs="0" />
<xs:element name="workTaxSetup" type="tns:employeeTaxSetupModel" minOccurs="0" />
<xs:element name="hasNonResidentCertificate" type="xs:boolean" minOccurs="0" />
<xs:element name="isReciprocityPair" type="xs:boolean" minOccurs="0" />
<xs:element name="isTaxEmployerPaid" type="xs:boolean" minOccurs="0" />
<xs:element name="canHaveLocalTaxes" type="xs:boolean" minOccurs="0" />
<xs:element name="localTaxItems" type="tns:localTaxItemModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="oregonTransitTax" type="tns:oregonTransitTax" minOccurs="0" />
<xs:element name="hasOregonTransitTax" type="xs:boolean" minOccurs="0" />
<xs:element name="workLocalTaxExtraAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="residentLocalTaxExtraAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="labelForResidentLocalTaxAdditionalAmount" type="xs:string" minOccurs="0" />
<xs:element name="requiresResidentLocalTaxAdditionalAmount" type="xs:boolean" minOccurs="0" />
<xs:element name="labelForWorkLocalTaxAdditionalAmount" type="xs:string" minOccurs="0" />
<xs:element name="requiresWorkLocalTaxAdditionalAmount" type="xs:boolean" minOccurs="0" />
<xs:element name="isLocalTaxAdditionalAmountAbsolute" type="xs:boolean" minOccurs="0" />
<xs:element name="taxExemptions" type="tns:taxGroupModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="futaExemptReason" type="xs:int" minOccurs="0" />
<xs:element name="isAEICCalculated" type="xs:boolean" minOccurs="0" />
<xs:element name="isCorporateOfficer" type="xs:boolean" minOccurs="0" />
<xs:element name="isHIRETaxCreditExempt" type="xs:boolean" minOccurs="0" />
<xs:element name="requireCommissionHoursWorked" type="xs:boolean" minOccurs="0" />
<xs:element name="isSetupForPayroll" type="xs:boolean" minOccurs="0" />
<xs:element name="deductions" type="tns:employeeDeductionModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="garnishmentWeighting" type="xs:int" minOccurs="0" />
<xs:element name="sickPtoPolicy" type="tns:ptoPolicyModel" minOccurs="0" />
<xs:element name="sickBalance" type="xs:double" minOccurs="0" />
<xs:element name="vacationPtoPolicy" type="tns:ptoPolicyModel" minOccurs="0" />
<xs:element name="vacationBalance" type="xs:double" minOccurs="0" />
<xs:element name="employeeWorkersCompensationClasses" type="tns:employeeWorkersCompensationClassModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="currentEmployeeWorkersCompensation" type="tns:employeeWorkersCompensationClassModel" minOccurs="0" />
<xs:element name="workersComp" type="tns:workersCompModel" minOccurs="0" />
<xs:element name="department" type="tns:department" minOccurs="0" />
<xs:element name="manager" type="tns:baseModel" minOccurs="0" />
<xs:element name="timeTracking" type="tns:employeeTimeTracking" minOccurs="0" />
<xs:element name="hasTimeTracking" type="xs:boolean" minOccurs="0" />
<xs:element name="unitNumber" type="xs:string" minOccurs="0" />
<xs:element name="defaultUnitNumber" type="xs:boolean" minOccurs="0" />
<xs:element name="notes" type="xs:string" minOccurs="0" />
<xs:element name="paychecks" type="tns:paycheckModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="company" type="tns:companyModel" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="payScheduleModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="payFrequency" type="tns:payFrequency" minOccurs="0" />
<xs:element name="nextPayDay" type="tns:dateModel" minOccurs="0" />
<xs:element name="realPayDay" type="tns:dateModel" minOccurs="0" />
<xs:element name="periodEndDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="periodStartDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="useAsDefault" type="xs:boolean" minOccurs="0" />
<xs:element name="isCustom" type="xs:boolean" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="editException" type="tns:payScheduleEditExceptionStatus" minOccurs="0" />
<xs:element name="firstPayDay1" type="tns:dayOfMonth" minOccurs="0" />
<xs:element name="arrearsType1" type="tns:arrearsType" minOccurs="0" />
<xs:element name="arrearsDayOfTheMonth1" type="tns:dayOfMonth" minOccurs="0" />
<xs:element name="arrearsDayOfTheMonthWhichMonth1" type="tns:whichMonthType" minOccurs="0" />
<xs:element name="arrearsDaysBeforePayDay1" type="xs:int" minOccurs="0" />
<xs:element name="timeTrackingEffectiveDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="firstPayDay2" type="tns:dayOfMonth" minOccurs="0" />
<xs:element name="arrearsType2" type="tns:arrearsType" minOccurs="0" />
<xs:element name="arrearsDayOfTheMonth2" type="tns:dayOfMonth" minOccurs="0" />
<xs:element name="arrearsDayOfTheMonthWhichMonth2" type="tns:whichMonthType" minOccurs="0" />
<xs:element name="arrearsDaysBeforePayDay2" type="xs:int" minOccurs="0" />
<xs:element name="numberOfActiveEmployees" type="xs:int" minOccurs="0" />
<xs:element name="numberOfEmployeesPaidInCurrentPeriod" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="employeeTaxSetupModel">
<xs:sequence>
<xs:element name="filingStatus" type="xs:int" minOccurs="0" />
<xs:element name="allowances" type="xs:int" minOccurs="0" />
<xs:element name="allowanceAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="additionalWithholding" type="xs:decimal" minOccurs="0" />
<xs:element name="isIncomeTaxWithholdingRequired" type="xs:boolean" minOccurs="0" />
<xs:element name="hasRegularAllowances" type="xs:boolean" minOccurs="0" />
<xs:element name="hasAdditionalWithholding" type="xs:boolean" minOccurs="0" />
<xs:element name="hasExemptionAmount" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="localTaxItemModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="taxItemId" type="xs:long" minOccurs="0" />
<xs:element name="taxType" type="tns:taxType" minOccurs="0" />
<xs:element name="isNotApplicable" type="xs:boolean" minOccurs="0" />
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="rates" type="xs:string" minOccurs="0" />
<xs:element name="isEmployer" type="xs:boolean" minOccurs="0" />
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="state" type="xs:string" minOccurs="0" />
<xs:element name="county" type="xs:string" minOccurs="0" />
<xs:element name="taxId" type="xs:int" minOccurs="0" />
<xs:element name="classicTaxItemId" type="xs:long" minOccurs="0" />
<xs:element name="selectedByDefault" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="taxGroupModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="jurisdiction" type="xs:string" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="employeeDeductionModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="deductionType" type="tns:deductionType" minOccurs="0" />
<xs:element name="isGarnishment" type="xs:boolean" minOccurs="0" />
<xs:element name="isActive" type="xs:boolean" minOccurs="0" />
<xs:element name="companyDeduction" type="tns:companyDeductionModel" minOccurs="0" />
<xs:element name="amountType" type="tns:amountType" minOccurs="0" />
<xs:element name="amountForDisplay" type="xs:string" minOccurs="0" />
<xs:element name="amount" type="xs:decimal" minOccurs="0" />
<xs:element name="maxAmountForDisplay" type="xs:string" minOccurs="0" />
<xs:element name="maxAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="amountExempt" type="xs:decimal" minOccurs="0" />
<xs:element name="amountRequested" type="xs:decimal" minOccurs="0" />
<xs:element name="maxPercent" type="xs:decimal" minOccurs="0" />
<xs:element name="totalAmountOwed" type="xs:decimal" minOccurs="0" />
<xs:element name="otherGarnishmentAmountType" type="tns:amountType" minOccurs="0" />
<xs:element name="otherGarnishmentAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="alternateGarnishmentCap" type="xs:decimal" minOccurs="0" />
<xs:element name="exemptDeductionAdjustment" type="xs:decimal" minOccurs="0" />
<xs:element name="weighting" type="tns:garnishmentWeighting" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="employeeWorkersCompensationClassModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="companyWorkersCompensationClassModel" type="tns:companyWorkersCompensationClassModel" minOccurs="0" />
<xs:element name="effectiveDate" type="tns:dateModel" minOccurs="0" />
<xs:element name="delete" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="workersCompModel">
<xs:sequence>
<xs:element name="workersCompClass" type="xs:string" minOccurs="0" />
<xs:element name="showWorkersComp" type="xs:boolean" minOccurs="0" />
<xs:element name="showWorkersCompPromo" type="xs:boolean" minOccurs="0" />
<xs:element name="workersCompHelpId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="employeeTimeTracking">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="emailAddress" type="xs:string" minOccurs="0" />
<xs:element name="firstInvalidPasscodeTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="needApproverAccountEmail" type="xs:boolean" />
<xs:element name="needTimecardAccountEmail" type="xs:boolean" />
<xs:element name="overtimePolicy" type="tns:companyOTPolicy" minOccurs="0" />
<xs:element name="passcode" type="xs:string" minOccurs="0" />
<xs:element name="passcodeRetries" type="xs:int" />
<xs:element name="timeTrackingMethod" type="xs:string" minOccurs="0" />
<xs:element name="workWeekPolicy" type="tns:workWeekPolicy" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="companyOTPolicy">
<xs:complexContent>
<xs:extension base="tns:otPolicy">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="otPolicy">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="dtHoursPerDay" type="xs:int" minOccurs="0" />
<xs:element name="dtHoursPerWeek" type="xs:int" minOccurs="0" />
<xs:element name="jurisdiction" type="xs:string" minOccurs="0" />
<xs:element name="otHoursPerDay" type="xs:int" minOccurs="0" />
<xs:element name="otHoursPerWeek" type="xs:int" minOccurs="0" />
<xs:element name="useDtConsecutiveDays" type="xs:boolean" minOccurs="0" />
<xs:element name="useDtHolidayPay" type="xs:boolean" minOccurs="0" />
<xs:element name="useDtHoursPerDay" type="xs:boolean" minOccurs="0" />
<xs:element name="useDtHoursPerWeek" type="xs:boolean" minOccurs="0" />
<xs:element name="useDtWeekendPay" type="xs:boolean" minOccurs="0" />
<xs:element name="useOtConsecutiveDays" type="xs:boolean" minOccurs="0" />
<xs:element name="useOtHolidayPay" type="xs:boolean" minOccurs="0" />
<xs:element name="useOtHoursPerDay" type="xs:boolean" minOccurs="0" />
<xs:element name="useOtHoursPerWeek" type="xs:boolean" minOccurs="0" />
<xs:element name="useOtWeekendPay" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="workWeekPolicy">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="dayOfWeek" type="xs:int" />
<xs:element name="time" type="xs:dateTime" minOccurs="0" />
<xs:element name="weekday" type="tns:weekday" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="paycheckModel">
<xs:complexContent>
<xs:extension base="tns:baseModel">
<xs:sequence>
<xs:element name="employee" type="tns:employeeModel" minOccurs="0" />
<xs:element name="checkDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="periodStartDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="periodEndDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="netCheckAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="grossAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="createTimeStamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="isApproved" type="xs:boolean" minOccurs="0" />
<xs:element name="approvalDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="isHistory" type="xs:boolean" minOccurs="0" />
<xs:element name="txType" type="tns:txType" minOccurs="0" />
<xs:element name="ddStatus" type="tns:ddStatus" minOccurs="0" />
<xs:element name="ddType" type="tns:ddType" minOccurs="0" />
<xs:element name="checkAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="ddAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="ddAmount2" type="xs:decimal" minOccurs="0" />
<xs:element name="externalID" type="xs:long" minOccurs="0" />
<xs:element name="memo" type="xs:string" minOccurs="0" />
<xs:element name="voucherNumber" type="xs:int" minOccurs="0" />
<xs:element name="transmitToProvider" type="xs:boolean" minOccurs="0" />
<xs:element name="wageDetails" type="tns:paycheckWagesModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="taxDetails" type="tns:paycheckTaxesModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="deductionDetails" type="tns:paycheckDeductionModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="contributionDetails" type="tns:paycheckContributionModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="otherDetails" type="tns:paycheckOtherDetailsModel" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="totalHours" type="xs:double" minOccurs="0" />
<xs:element name="taxesWH" type="xs:decimal" minOccurs="0" />
<xs:element name="deductionsWH" type="xs:decimal" minOccurs="0" />
<xs:element name="taxesEmployer" type="xs:decimal" minOccurs="0" />
<xs:element name="employerContributions" type="xs:decimal" minOccurs="0" />
<xs:element name="totalCostFringeBenefits" type="xs:decimal" minOccurs="0" />
<xs:element name="sickUsed" type="xs:double" minOccurs="0" />
<xs:element name="sickAvailable" type="xs:double" minOccurs="0" />
<xs:element name="vacationUsed" type="xs:double" minOccurs="0" />
<xs:element name="vacationAvailable" type="xs:double" minOccurs="0" />
<xs:element name="isDeleted" type="xs:boolean" />
<xs:element name="payrollDeltas" type="tns:payrollDelta" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="paycheckTaxesModel">
<xs:sequence>
<xs:element name="taxAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="wageBasis" type="xs:decimal" minOccurs="0" />
<xs:element name="incomeSubjectToTax" type="xs:decimal" minOccurs="0" />
<xs:element name="taxItemId" type="xs:long" minOccurs="0" />
<xs:element name="classicTaxItemId" type="xs:long" minOccurs="0" />
<xs:element name="taxType" type="tns:paycheckTaxType" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="isEmployer" type="xs:boolean" minOccurs="0" />
<xs:element name="qtdAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="qtdWageBasis" type="xs:decimal" minOccurs="0" />
<xs:element name="qtdIncomeSubjectToTax" type="xs:decimal" minOccurs="0" />
<xs:element name="ytdAmount" type="xs:decimal" minOccurs="0" />
<xs:element name="ytdWageBasis" type="xs:decimal" minOccurs="0" />
<xs:element name="ytdIncomeSubjectToTax" type="xs:decimal" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="paycheckDeductionModel">
<xs:sequence>
<xs:element name="employeeDeduction" type="tns:employeeDeductionModel" minOccurs="0" />
<xs:element name="amount" type="xs:decimal" minOccurs="0" />
<xs:element name="isPreTax" type="xs:boolean" minOccurs="0" />
<xs:element name="ytdAmount" type="xs:decimal" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="paycheckContributionModel">
<xs:sequence>
<xs:element name="employerContribution" type="tns:employeeDeductionModel" minOccurs="0" />
<xs:element name="amount" type="xs:decimal" minOccurs="0" />
<xs:element name="ytdAmount" type="xs:decimal" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="paycheckOtherDetailsModel">
<xs:sequence>
<xs:element name="taxAmount" type="xs:decimal" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="payrollDelta">
<xs:sequence>
<xs:element name="deltaAmount" type="xs:double" />
<xs:element name="deltaPercentage" type="xs:double" />
<xs:element name="displayMessage" type="xs:string" minOccurs="0" />
<xs:element name="newValue" type="xs:double" />
<xs:element name="oldValue" type="xs:double" />
<xs:element name="payrollItemType" type="tns:payrollItemType" minOccurs="0" />
<xs:element name="payrollLineItemId" type="xs:long" />
<xs:element name="payrollSubItemType" type="tns:payrollSubItemType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="payrollWebServiceFaultCode">
<xs:restriction base="xs:string">
<xs:enumeration value="NoCode" />
<xs:enumeration value="UserException" />
<xs:enumeration value="CannotPerformActionWhenSubscribedToEService" />
<xs:enumeration value="CannotChangeFilingNameDueToPendingTaxPayments" />
<xs:enumeration value="CannotChangeEINDueToEservicesEnabled" />
<xs:enumeration value="CannotChangeEINDueToPendingTaxPayments" />
<xs:enumeration value="InvalidEINFormat" />
<xs:enumeration value="WorkLocationMustBeUSState" />
<xs:enumeration value="MustUpgradeToPlusService" />
<xs:enumeration value="BadId" />
<xs:enumeration value="MissingAddress" />
<xs:enumeration value="BadAddress" />
<xs:enumeration value="NotFound" />
<xs:enumeration value="AlreadyExists" />
<xs:enumeration value="InvalidTaxIdentifier" />
<xs:enumeration value="ClientVersionIsNoLongerSupported" />
<xs:enumeration value="SessionExpired" />
<xs:enumeration value="InvalidSourceCode" />
<xs:enumeration value="MissingParameter" />
<xs:enumeration value="FieldTooShort" />
<xs:enumeration value="FieldTooLong" />
<xs:enumeration value="CreditCardAuthorizationFailed" />
<xs:enumeration value="ClientVersionAndOsAreNoLongerSupported" />
<xs:enumeration value="UnspecifiedPayrollBlocker" />
<xs:enumeration value="CSANotAccepted" />
<xs:enumeration value="RequireCommissionHours" />
<xs:enumeration value="NeedBillingForApproval" />
<xs:enumeration value="NeedMAUHIRate" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="companyType">
<xs:restriction base="xs:string">
<xs:enumeration value="Household" />
<xs:enumeration value="SmallBusiness" />
<xs:enumeration value="Accountant" />
<xs:enumeration value="FullService" />
<xs:enumeration value="SmallBusinessClient" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="companyEntityType">
<xs:restriction base="xs:string">
<xs:enumeration value="SoleProprietor" />
<xs:enumeration value="Corporation" />
<xs:enumeration value="LimitedLiabilityCompany" />
<xs:enumeration value="LimitedLiabilityCorporation" />
<xs:enumeration value="LimitedLiabilityPartnership" />
<xs:enumeration value="NonProfit" />
<xs:enumeration value="TrustEstate" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="companySignerTitle">
<xs:restriction base="xs:string">
<xs:enumeration value="ChairmanoftheBoard" />
<xs:enumeration value="President" />
<xs:enumeration value="VicePresident" />
<xs:enumeration value="CorporateSecretary" />
<xs:enumeration value="AssistantCorporateSecretary" />
<xs:enumeration value="ChiefFinancialOfficer" />
<xs:enumeration value="Treasurer" />
<xs:enumeration value="AssistantTreasurer" />
<xs:enumeration value="AuthorizedSigner" />
<xs:enumeration value="CorporateOfficer" />
<xs:enumeration value="ManagingMember" />
<xs:enumeration value="Owner" />
<xs:enumeration value="ManagingPartner" />
<xs:enumeration value="MemberofBoardofDirectors" />
<xs:enumeration value="Fiduciary" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="employeeCountRange">
<xs:restriction base="xs:string">
<xs:enumeration value="Zero" />
<xs:enumeration value="OneToTwentyFive" />
<xs:enumeration value="TwentySixToFifty" />
<xs:enumeration value="MoreThanFifty" />
<xs:enumeration value="FiftyOneToNinetyNine" />
<xs:enumeration value="HundredToOneFifty" />
<xs:enumeration value="MoreThanOneFifty" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="featureSetType">
<xs:restriction base="xs:string">
<xs:enumeration value="Sample" />
<xs:enumeration value="Basic" />
<xs:enumeration value="Plus" />
<xs:enumeration value="Money" />
<xs:enumeration value="Premium" />
<xs:enumeration value="Payday" />
<xs:enumeration value="EFile_1099" />
<xs:enumeration value="HouseHold" />
<xs:enumeration value="Accountant" />
<xs:enumeration value="SUPER" />
<xs:enumeration value="FullServiceBasic" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="startQuestion">
<xs:restriction base="xs:string">
<xs:enumeration value="Today" />
<xs:enumeration value="Other" />
<xs:enumeration value="Unsure" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="phoneType">
<xs:restriction base="xs:string">
<xs:enumeration value="Work" />
<xs:enumeration value="Work2" />
<xs:enumeration value="Home" />
<xs:enumeration value="Home2" />
<xs:enumeration value="Mobile" />
<xs:enumeration value="Pager" />
<xs:enumeration value="WorkFax" />
<xs:enumeration value="HomeFax" />
<xs:enumeration value="Other" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="customFieldType">
<xs:restriction base="xs:string">
<xs:enumeration value="Basic" />
<xs:enumeration value="Employment" />
<xs:enumeration value="Pay" />
<xs:enumeration value="Tax" />
<xs:enumeration value="Deduction" />
<xs:enumeration value="SickVacation" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="race">
<xs:restriction base="xs:string">
<xs:enumeration value="NotAssigned" />
<xs:enumeration value="Hispanic" />
<xs:enumeration value="White" />
<xs:enumeration value="Black" />
<xs:enumeration value="Hawaiian" />
<xs:enumeration value="Asian" />
<xs:enumeration value="Indian" />
<xs:enumeration value="TwoOrMore" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="deductionProvider">
<xs:restriction base="xs:string">
<xs:enumeration value="TOK" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="contributionType">
<xs:restriction base="xs:string">
<xs:enumeration value="EmployeeOnly" />
<xs:enumeration value="EmployerOnly" />
<xs:enumeration value="BothEmployerAndEmployee" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ptoCategoryModel">
<xs:restriction base="xs:string">
<xs:enumeration value="Sick" />
<xs:enumeration value="Vacation" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ptoAccrualFrequency">
<xs:restriction base="xs:string">
<xs:enumeration value="perYear" />
<xs:enumeration value="perPayPeriod" />
<xs:enumeration value="perHourWorked" />
<xs:enumeration value="perAnniversary" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ptoEditExceptionStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="PTOPOLICY_EDITEXCEPTION_NONE" />
<xs:enumeration value="PTOPOLICY_EDITEXCEPTION_THISEMP" />
<xs:enumeration value="PTOPOLICY_EDITEXCEPTION_ALLEMPS" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="wageItemID">
<xs:restriction base="xs:string">
<xs:enumeration value="NONE" />
<xs:enumeration value="HOURLY_PAY" />
<xs:enumeration value="MEALS" />
<xs:enumeration value="LODGING" />
<xs:enumeration value="UNUSED_TRANSIT" />
<xs:enumeration value="UNUSED_PARKING" />
<xs:enumeration value="UNUSED_OTHER_NON_CASH" />
<xs:enumeration value="OVERTIME" />
<xs:enumeration value="DOUBLE_OVERTIME" />
<xs:enumeration value="REIMBURSED_EE_TAXES" />
<xs:enumeration value="SALARY" />
<xs:enumeration value="SICK_PAY" />
<xs:enumeration value="VACATION_PAY" />
<xs:enumeration value="BONUS" />
<xs:enumeration value="COMMISSION" />
<xs:enumeration value="ALLOWANCE" />
<xs:enumeration value="CASH_TIPS" />
<xs:enumeration value="CHARGED_TIPS" />
<xs:enumeration value="REIMBURSEMENT" />
<xs:enumeration value="HOURLY_PAY2_OBSOLETE" />
<xs:enumeration value="HOLIDAY_PAY" />
<xs:enumeration value="GTL" />
<xs:enumeration value="SCORP_HEALTH" />
<xs:enumeration value="CLERGY_CASH" />
<xs:enumeration value="CLERGY_NON_CASH" />
<xs:enumeration value="PUCC" />
<xs:enumeration value="CONTRACTOR_PAYMENTS" />
<xs:enumeration value="RENT" />
<xs:enumeration value="ATTORNEY_PROCEEDS" />
<xs:enumeration value="OTHER_EARNINGS" />
<xs:enumeration value="OTHER_EARNINGS2" />
<xs:enumeration value="BEREAVEMENT_PAY" />
<xs:enumeration value="HSA" />
<xs:enumeration value="PER_DIEM" />
<xs:enumeration value="ROYALTIES" />
<xs:enumeration value="OTHER_INCOME" />
<xs:enumeration value="FEDERAL_TAX_WITHHELD" />
<xs:enumeration value="FISHING_BOAT_PROCEEDS" />
<xs:enumeration value="MEDICAL_PAYMENTS" />
<xs:enumeration value="SUBSTITUTE_PAYMENTS" />
<xs:enumeration value="DIRECT_SALES" />
<xs:enumeration value="CROP_INSURANCE_PROCEEDS" />
<xs:enumeration value="EXCESS_GOLDEN_PARACHUTE" />
<xs:enumeration value="PIECEWORK" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="conversionCode">
<xs:restriction base="xs:string">
<xs:enumeration value="UNDEFINED" />
<xs:enumeration value="QUICKEN" />
<xs:enumeration value="NONE" />
<xs:enumeration value="PRE_HIST" />
<xs:enumeration value="QUICKBOOKS" />
<xs:enumeration value="OTHERSOFTWARE" />
<xs:enumeration value="PAYCHEX" />
<xs:enumeration value="ADP" />
<xs:enumeration value="OTHERSERVICE" />
<xs:enumeration value="ACCOUNTANT" />
<xs:enumeration value="ACCTANDSELF" />
<xs:enumeration value="SELF" />
<xs:enumeration value="ASSISTED" />
<xs:enumeration value="COMPLETE" />
<xs:enumeration value="OTHER" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="companyFilingType">
<xs:restriction base="xs:string">
<xs:enumeration value="nonProfit501c3" />
<xs:enumeration value="soleProprietor" />
<xs:enumeration value="other" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="filingType">
<xs:restriction base="xs:string">
<xs:enumeration value="form944" />
<xs:enumeration value="form941" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="monthOption">
<xs:restriction base="xs:string">
<xs:enumeration value="None" />
<xs:enumeration value="JANUARY" />
<xs:enumeration value="FEBRUARY" />
<xs:enumeration value="MARCH" />
<xs:enumeration value="APRIL" />
<xs:enumeration value="MAY" />
<xs:enumeration value="JUNE" />
<xs:enumeration value="JULY" />
<xs:enumeration value="AUGUST" />
<xs:enumeration value="SEPTEMBER" />
<xs:enumeration value="OCTOBER" />
<xs:enumeration value="NOVEMBER" />
<xs:enumeration value="DECEMBER" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="yearOption">
<xs:restriction base="xs:string">
<xs:enumeration value="None" />
<xs:enumeration value="First" />
<xs:enumeration value="Second" />
<xs:enumeration value="Third" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ifspActivationStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="QualifiedLeadFromSales" />
<xs:enumeration value="PrepareCustomer" />
<xs:enumeration value="RetainSale" />
<xs:enumeration value="PrepareCustomer_WaitingForCustomer" />
<xs:enumeration value="Conversion" />
<xs:enumeration value="Conversion_WaitingForCustomer" />
<xs:enumeration value="ReadyToRunFirstPayroll" />
<xs:enumeration value="NoStart" />
<xs:enumeration value="Active" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="companyDirectDepositStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="ACTIVE" />
<xs:enumeration value="ON_HOLD" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="bankAccountType">
<xs:restriction base="xs:string">
<xs:enumeration value="Checking" />
<xs:enumeration value="Savings" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="fundingType">
<xs:restriction base="xs:string">
<xs:enumeration value="DD_TWODAY" />
<xs:enumeration value="PREFUND_FIVEDAY" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="contractorType">
<xs:restriction base="xs:string">
<xs:enumeration value="Business" />
<xs:enumeration value="Individual" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ddStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="NOT_PROCESSED" />
<xs:enumeration value="START_PROCESS" />
<xs:enumeration value="PROCESSED" />
<xs:enumeration value="EMPLOYER_PROCESSING_FAILED" />
<xs:enumeration value="EMPLOYEE_PROCESSING_FAILED" />
<xs:enumeration value="NEED_REPRESENT" />
<xs:enumeration value="MANUALLY_RESOLVED" />
<xs:enumeration value="PARTIALLY_PROCESSED" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ddType">
<xs:restriction base="xs:string">
<xs:enumeration value="NONE" />
<xs:enumeration value="ACH" />
<xs:enumeration value="BOA_MM_SCHEDULED" />
<xs:enumeration value="BOA_MM_IMMEDIATE" />
<xs:enumeration value="BOA_MM_DIRECT" />
<xs:enumeration value="BOA_MM_SCHEDULED_AND_ACH" />
<xs:enumeration value="BOA_MM_IMMEDIATE_AND_ACH" />
<xs:enumeration value="IOPCLASSIC_DD" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="emailType">
<xs:restriction base="xs:string">
<xs:enumeration value="Work" />
<xs:enumeration value="Work2" />
<xs:enumeration value="Home" />
<xs:enumeration value="Home2" />
<xs:enumeration value="Other" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="imType">
<xs:restriction base="xs:string">
<xs:enumeration value="AIM" />
<xs:enumeration value="LIVEIM" />
<xs:enumeration value="YAHOO" />
<xs:enumeration value="SKYPE" />
<xs:enumeration value="JABBER" />
<xs:enumeration value="ICQ" />
<xs:enumeration value="EBUDDY" />
<xs:enumeration value="TENCENT" />
<xs:enumeration value="OTHER" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="jobCategory">
<xs:restriction base="xs:string">
<xs:enumeration value="NotAssigned" />
<xs:enumeration value="Executive" />
<xs:enumeration value="FirstMidLevel" />
<xs:enumeration value="Professionals" />
<xs:enumeration value="Technicians" />
<xs:enumeration value="Sales" />
<xs:enumeration value="Admins" />
<xs:enumeration value="Craft" />
<xs:enumeration value="Operatives" />
<xs:enumeration value="Laborers" />
<xs:enumeration value="Service" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="employmentStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="Active" />
<xs:enumeration value="PaidLeave" />
<xs:enumeration value="UnpaidLeave" />
<xs:enumeration value="NotOnPayroll" />
<xs:enumeration value="Terminated" />
<xs:enumeration value="Deceased" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="leaveReason">
<xs:restriction base="xs:string">
<xs:enumeration value="Family" />
<xs:enumeration value="Pregnancy" />
<xs:enumeration value="JuryDuty" />
<xs:enumeration value="Military" />
<xs:enumeration value="Other" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="terminationReason">
<xs:restriction base="xs:string">
<xs:enumeration value="Voluntary" />
<xs:enumeration value="Involuntary" />
<xs:enumeration value="LayOff" />
<xs:enumeration value="Other" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="gender">
<xs:restriction base="xs:string">
<xs:enumeration value="Male" />
<xs:enumeration value="Female" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="payRateType">
<xs:restriction base="xs:string">
<xs:enumeration value="Hourly" />
<xs:enumeration value="Salary" />
<xs:enumeration value="CommissionOnly" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="salaryFrequency">
<xs:restriction base="xs:string">
<xs:enumeration value="Year" />
<xs:enumeration value="Month" />
<xs:enumeration value="Week" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="payFrequency">
<xs:restriction base="xs:string">
<xs:enumeration value="EVERY_WEEK" />
<xs:enumeration value="EVERY_OTHER_WEEK" />
<xs:enumeration value="TWICE_A_MONTH" />
<xs:enumeration value="EVERY_MONTH" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="payScheduleEditExceptionStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="PAYSCHEDULE_EDITEXCEPTION_NONE" />
<xs:enumeration value="PAYSCHEDULE_EDITEXCEPTION_THISEMP" />
<xs:enumeration value="PAYSCHEDULE_EDITEXCEPTION_ALLEMPS" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="dayOfMonth">
<xs:restriction base="xs:string">
<xs:enumeration value="First" />
<xs:enumeration value="Second" />
<xs:enumeration value="Third" />
<xs:enumeration value="Fourth" />
<xs:enumeration value="Fifth" />
<xs:enumeration value="Sixth" />
<xs:enumeration value="Seventh" />
<xs:enumeration value="Eigth" />
<xs:enumeration value="Ninth" />
<xs:enumeration value="Tenth" />
<xs:enumeration value="Eleventh" />
<xs:enumeration value="Twelfth" />
<xs:enumeration value="Thirteenth" />
<xs:enumeration value="Fourteenth" />
<xs:enumeration value="Fifteenth" />
<xs:enumeration value="Sixteenth" />
<xs:enumeration value="Seventeenth" />
<xs:enumeration value="Eigthteenth" />
<xs:enumeration value="Nineteenth" />
<xs:enumeration value="Twentieth" />
<xs:enumeration value="TwentyFirst" />
<xs:enumeration value="TwentySecond" />
<xs:enumeration value="TwentyThird" />
<xs:enumeration value="TwentyFourth" />
<xs:enumeration value="TwentyFifth" />
<xs:enumeration value="TwentySixth" />
<xs:enumeration value="TwentySeventh" />
<xs:enumeration value="TwentyEigth" />
<xs:enumeration value="TwentyNineth" />
<xs:enumeration value="Thirtieth" />
<xs:enumeration value="EndOfMonth" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="arrearsType">
<xs:restriction base="xs:string">
<xs:enumeration value="dayOfTheMonth" />
<xs:enumeration value="daysBeforePayDay" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="whichMonthType">
<xs:restriction base="xs:string">
<xs:enumeration value="Previous" />
<xs:enumeration value="Same" />
<xs:enumeration value="Next" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="payMethod">
<xs:restriction base="xs:string">
<xs:enumeration value="Check" />
<xs:enumeration value="DirectDeposit" />
<xs:enumeration value="DirectDeposit2Accounts" />
<xs:enumeration value="DirectDepositPlusCheck" />
<xs:enumeration value="DirectDepositBoaODD" />
<xs:enumeration value="DirectDepositBoaODDPlusCheck" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="taxType">
<xs:restriction base="xs:string">
<xs:enumeration value="Residence" />
<xs:enumeration value="Work" />
<xs:enumeration value="ResidenceAndWork" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="oregonTransitTax">
<xs:restriction base="xs:string">
<xs:enumeration value="None" />
<xs:enumeration value="LTDTransitTax" />
<xs:enumeration value="TriMetTransitTax" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="deductionType">
<xs:restriction base="xs:string">
<xs:enumeration value="PayrollCorrection" />
<xs:enumeration value="EmployeeDeduction" />
<xs:enumeration value="GarnishmentTaxLevy" />
<xs:enumeration value="GarnishmentChildSpousalSupport" />
<xs:enumeration value="GarnishmentOther" />
<xs:enumeration value="EmployerContribution" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="amountType">
<xs:restriction base="xs:string">
<xs:enumeration value="Percentage" />
<xs:enumeration value="Dollar" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="garnishmentWeighting">
<xs:restriction base="xs:string">
<xs:enumeration value="None" />
<xs:enumeration value="Primary" />
<xs:enumeration value="PrimaryFirst" />
<xs:enumeration value="Equal" />
<xs:enumeration value="ProRated" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="weekday">
<xs:restriction base="xs:string">
<xs:enumeration value="SUNDAY" />
<xs:enumeration value="MONDAY" />
<xs:enumeration value="TUESDAY" />
<xs:enumeration value="WEDNESDAY" />
<xs:enumeration value="THURSDAY" />
<xs:enumeration value="FRIDAY" />
<xs:enumeration value="SATURDAY" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="txType">
<xs:restriction base="xs:string">
<xs:enumeration value="Regular" />
<xs:enumeration value="Bonus" />
<xs:enumeration value="Commission" />
<xs:enumeration value="Adjustment" />
<xs:enumeration value="Fringe" />
<xs:enumeration value="ProfitSharing" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="paycheckTaxType">
<xs:restriction base="xs:string">
<xs:enumeration value="Federal" />
<xs:enumeration value="Work" />
<xs:enumeration value="Residence" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="payrollItemType">
<xs:restriction base="xs:string">
<xs:enumeration value="Pay" />
<xs:enumeration value="Tax" />
<xs:enumeration value="Deduction" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="payrollSubItemType">
<xs:restriction base="xs:string">
<xs:enumeration value="Hours" />
<xs:enumeration value="Rate" />
<xs:enumeration value="TotalPay" />
<xs:enumeration value="TotalHours" />
<xs:enumeration value="TotalTaxes" />
<xs:enumeration value="TotalDeductions" />
<xs:enumeration value="NetPay" />
</xs:restriction>
</xs:simpleType>
</xs:schema>