phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/iop-gateway/src/main/resources/EMSPManagerV1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.onlinepayroll.intuit.com/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.onlinepayroll.intuit.com/v1" name="EMSPManager">
<types>
<xsd:schema targetNamespace="http://webservices.onlinepayroll.intuit.com/v1">
   <xsd:include schemaLocation="EMSPManagerV1.xsd"/>
</xsd:schema>
</types>
<message name="getCompaniesWithPayrollActivity">
<part name="parameters" element="tns:getCompaniesWithPayrollActivity" />
</message>
<message name="getCompaniesWithPayrollActivityResponse">
<part name="parameters" element="tns:getCompaniesWithPayrollActivityResponse" />
</message>
<message name="PayrollWebServiceException">
<part name="fault" element="tns:PayrollWebServiceException" />
</message>
<message name="getPayrollCompanyModel">
<part name="parameters" element="tns:getPayrollCompanyModel" />
</message>
<message name="getPayrollCompanyModelResponse">
<part name="parameters" element="tns:getPayrollCompanyModelResponse" />
</message>
<message name="getCompaniesWithContractorPaymentActivity">
<part name="parameters" element="tns:getCompaniesWithContractorPaymentActivity" />
</message>
<message name="getCompaniesWithContractorPaymentActivityResponse">
<part name="parameters" element="tns:getCompaniesWithContractorPaymentActivityResponse" />
</message>
<message name="getContractorPaymentCompanyModel">
<part name="parameters" element="tns:getContractorPaymentCompanyModel" />
</message>
<message name="getContractorPaymentCompanyModelResponse">
<part name="parameters" element="tns:getContractorPaymentCompanyModelResponse" />
</message>
<portType name="EMSPManager">
<operation name="getCompaniesWithPayrollActivity">
<input wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getCompaniesWithPayrollActivityRequest" message="tns:getCompaniesWithPayrollActivity" />
<output wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getCompaniesWithPayrollActivityResponse" message="tns:getCompaniesWithPayrollActivityResponse" />
<fault message="tns:PayrollWebServiceException" name="PayrollWebServiceException" wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getCompaniesWithPayrollActivity/Fault/PayrollWebServiceException" />
</operation>
<operation name="getPayrollCompanyModel">
<input wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getPayrollCompanyModelRequest" message="tns:getPayrollCompanyModel" />
<output wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getPayrollCompanyModelResponse" message="tns:getPayrollCompanyModelResponse" />
<fault message="tns:PayrollWebServiceException" name="PayrollWebServiceException" wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getPayrollCompanyModel/Fault/PayrollWebServiceException" />
</operation>
<operation name="getCompaniesWithContractorPaymentActivity">
<input wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getCompaniesWithContractorPaymentActivityRequest" message="tns:getCompaniesWithContractorPaymentActivity" />
<output wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getCompaniesWithContractorPaymentActivityResponse" message="tns:getCompaniesWithContractorPaymentActivityResponse" />
<fault message="tns:PayrollWebServiceException" name="PayrollWebServiceException" wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getCompaniesWithContractorPaymentActivity/Fault/PayrollWebServiceException" />
</operation>
<operation name="getContractorPaymentCompanyModel">
<input wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getContractorPaymentCompanyModelRequest" message="tns:getContractorPaymentCompanyModel" />
<output wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getContractorPaymentCompanyModelResponse" message="tns:getContractorPaymentCompanyModelResponse" />
<fault message="tns:PayrollWebServiceException" name="PayrollWebServiceException" wsam:Action="http://webservices.onlinepayroll.intuit.com/v1/EMSPManager/getContractorPaymentCompanyModel/Fault/PayrollWebServiceException" />
</operation>
</portType>
<binding name="EMSPManagerBinding" type="tns:EMSPManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCompaniesWithPayrollActivity">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="PayrollWebServiceException">
<soap:fault name="PayrollWebServiceException" use="literal" />
</fault>
</operation>
<operation name="getPayrollCompanyModel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="PayrollWebServiceException">
<soap:fault name="PayrollWebServiceException" use="literal" />
</fault>
</operation>
<operation name="getCompaniesWithContractorPaymentActivity">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="PayrollWebServiceException">
<soap:fault name="PayrollWebServiceException" use="literal" />
</fault>
</operation>
<operation name="getContractorPaymentCompanyModel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="PayrollWebServiceException">
<soap:fault name="PayrollWebServiceException" use="literal" />
</fault>
</operation>
</binding>
<service name="EMSPManager">
<port name="EMSPManager" binding="tns:EMSPManagerBinding">
<soap:address location="http://public-branch1.corp.paycycle.com:1080/webservices/secure/soap/EMSPManager/v1" />
</port>
</service>
</definitions>