phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/BinaryAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Arman Meltonyan (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>State Binary Attachment</Description>
		</xsd:documentation>
	</xsd:annotation>
    <!--Updated links manually -->
	<xsd:include schemaLocation="efileTypes.xsd"/>
	<xsd:include schemaLocation="StateeFileTypes.xsd"/>
	<!-- ===================================================== -->
	<!-- ================= Binary Attachment ================= -->
	<!-- ===================================================== -->
	<xsd:element name="BinaryAttachment">
		<xsd:annotation>
			<xsd:documentation>Binary Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BinaryAttachmentType">
					<xsd:attributeGroup ref="StateDocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BinaryAttachmentType">
		<xsd:annotation>
			<xsd:documentation>Content model for Binary Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Document Type -->
			<xsd:element name="Reference" type="String20Type" minOccurs="0"/>
			<xsd:element name="DocumentType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Document Type</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="PDF"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Description -->
			<xsd:element name="Description" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="128"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- Attachment Location - short filename without path (required) -->
			<xsd:element name="AttachmentLocation" type="String64Type">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Attachment Location - short filename without path</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
