phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/FinancialTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by April Branson (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>Data for tax payments or refund deposits</Description>
			<ReleaseDate>November 12, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
    <!--Updated links manually -->
	<xsd:include schemaLocation="efileTypes.xsd"/>
	<xsd:include schemaLocation="StateeFileTypes.xsd"/>
	<!-- Root Element -->
	<xsd:element name="FinancialTransaction" type="FinancialTransactionType">
		<xsd:annotation>
			<xsd:documentation>Root element for Financial Transaction</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--Structure for Full Financial Transaction Schema-->
	<xsd:complexType name="FinancialTransactionType">
		<xsd:choice>
			<xsd:choice>
				<!-- Payment(s) -->
				<xsd:element name="StatePayment">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="ACHEntityDetailType">
								<xsd:choice>
									<xsd:element name="NotIATTransaction" type="CheckboxType"/>
									<xsd:element name="IsIATTransaction">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="CheckboxType">
													<xsd:attribute name="receivingDFIName" type="String50Type"/>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="FullIAT" type="FullIATType"/>
								</xsd:choice>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<!-- Refund(s) -->
				<!-- ACH Credit -->
				<xsd:element name="ACHCreditInfo">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="ACHCreditDetailType">
								<xsd:choice>
									<xsd:element name="NotIATTransaction" type="CheckboxType"/>
									<xsd:element name="IsIATTransaction">
										<xsd:complexType>
											<xsd:simpleContent>
												<xsd:extension base="CheckboxType">
													<xsd:attribute name="originatingDFIName" type="String50Type"/>
												</xsd:extension>
											</xsd:simpleContent>
										</xsd:complexType>
									</xsd:element>
								</xsd:choice>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
			<!-- Estimated Payment(s) -->
			<xsd:element name="EstimatedPayments">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ACHEntityDetailType">
							<xsd:choice>
								<xsd:element name="NotIATTransaction" type="CheckboxType"/>
								<xsd:element name="IsIATTransaction">
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="CheckboxType">
												<xsd:attribute name="receivingDFIName" type="String50Type"/>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="FullIAT" type="FullIATType"/>
							</xsd:choice>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
