phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/FSETEnumerationTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>This file contains sample FSET enumerations. Each state would modify this file to suit.</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="EnumerationSource">
		<xsd:annotation>
			<xsd:documentation>Source of the enumerated values (could be a State).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnumerationVersion">
		<xsd:annotation>
			<xsd:documentation>Version number of the enumerated values.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JurisdictionTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Wisconsin"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Submission Category Type -->
	<xsd:simpleType name="SubmissionCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EO"/>
			<xsd:enumeration value="CORP"/>
			<xsd:enumeration value="PART"/>
			<xsd:enumeration value="FSET"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Exception Category Type -->
	<xsd:simpleType name="ExceptionCategoryType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SYSTEM_ERROR"/>
			<xsd:enumeration value="RESOURCE_UNAVAILBLE"/>
			<xsd:enumeration value="MESSAGE_FORMAT_ERROR"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
