phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/intuit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="1.0" attributeFormDefault="unqualified" 
	elementFormDefault="unqualified" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="Payroll">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="businesses">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="business" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element type="xsd:string" name="Addr1" nillable="true"/>
                    <xsd:element type="xsd:string" name="Addr2" nillable="true"/>
                    <xsd:element type="xsd:string" name="City" nillable="true"/>
                    <xsd:element type="xsd:string" name="State" nillable="true"/>
                    <xsd:element type="xsd:string" name="Zip" nillable="true"/>
                    <xsd:element type="xsd:string" name="CompanyName" nillable="true"/>
                    <xsd:element type="xsd:string" name="EmailAddress" nillable="true"/>
                    <xsd:element type="xsd:string" name="EmployeeCount" nillable="true"/>
                    <xsd:element type="xsd:string" name="ExternalClientId" nillable="true"/>
                    <xsd:element type="xsd:string" name="fein" nillable="true"/>
                    <xsd:element type="xsd:string" name="PreviousFEIN" nillable="true"/>
                    <xsd:element type="xsd:string" name="PayrollFrequency" nillable="true"/>
                    <xsd:element type="xsd:string" name="phone" nillable="true"/>
                    <xsd:element type="xsd:string" name="Fax" nillable="true"/>
                    <xsd:element type="xsd:string" name="Status" nillable="true"/>
                    <xsd:element type="xsd:string" name="ShutdownInd" nillable="true"/>
                    <xsd:element type="xsd:string" name="ShutdownRem" nillable="true"/>
                    <xsd:element type="xsd:string" name="SICCode" nillable="true"/>
                    <xsd:element type="xsd:string" name="StatusDate" nillable="true"/>
                    <xsd:element type="xsd:string" name="TotalPayroll" nillable="true"/>
                    <xsd:element type="xsd:string" name="Product" nillable="true"/>
                    <xsd:element type="xsd:string" name="FeatureSetName" nillable="true"/>
                    <xsd:element type="xsd:string" name="Partner" nillable="true"/>
                    <xsd:element type="xsd:string" name="source" nillable="true"/>
                    <xsd:element name="address">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element type="xsd:string" name="addressLineOne" nillable="true"/>
                          <xsd:element type="xsd:string" name="addressLineTwo" nillable="true"/>
                          <xsd:element type="xsd:string" name="city" nillable="true"/>
                          <xsd:element type="xsd:string" name="state" nillable="true"/>
                          <xsd:element type="xsd:string" name="zip" nillable="true"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element type="xsd:string" name="email" nillable="true"/>
                    <xsd:element name="employees">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="employee" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element type="xsd:double" name="annualGrossSalary"/>
                                <xsd:element type="xsd:string" name="CheckDate" nillable="true"/>
                                <xsd:element type="xsd:string" name="Department" nillable="true"/>
                                <xsd:element type="xsd:string" name="employeeID"/>
                                <xsd:element type="xsd:string" name="PreviousEmployeeId" nillable="true"/>
                                <xsd:element type="xsd:string" name="firstName"/>
                                <xsd:element type="xsd:string" name="lastName"/>
                                <xsd:element type="xsd:string" name="MiddleInitial" nillable="true"/>
                                <xsd:element type="xsd:double" name="Hours" nillable="true"/>
                                <xsd:element type="xsd:byte" name="isExempt"/>
                                <xsd:element type="xsd:byte" name="isOfficer"/>
                                <xsd:element type="xsd:string" name="JobDesc" nillable="true"/>
                                <xsd:element type="xsd:string" name="PeriodStartDate" nillable="true"/>
                                <xsd:element type="xsd:string" name="PeriodEndDate" nillable="true"/>
                                <xsd:element type="xsd:string" name="State" nillable="true"/>
                                <xsd:element type="xsd:string" name="TotalPayrollIncluded" nillable="true"/>
                                <xsd:element type="xsd:string" name="TotalPayrollExcluded" nillable="true"/>
                                <xsd:element type="xsd:string" name="workState"/>
                                <xsd:element name="paychecks">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="paycheck" maxOccurs="unbounded" minOccurs="0">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element type="xsd:string" name="paycheckId"/>
                                            <xsd:element type="xsd:string" name="checkStatus" nillable="true"/>
                                            <xsd:element type="xsd:string" name="checkDate"/>
                                            <xsd:element type="xsd:double" name="hours" nillable="true"/>
                                            <xsd:element type="xsd:string" name="periodEndDate" nillable="true"/>
                                            <xsd:element type="xsd:string" name="periodStartDate" nillable="true"/>
                                            <xsd:element name="paycheckItems">
                                              <xsd:complexType>
                                                <xsd:sequence>
                                                  <xsd:element name="paycheckItem" maxOccurs="unbounded" minOccurs="0">
                                                    <xsd:complexType>
                                                      <xsd:sequence>
                                                        <xsd:element type="xsd:string" name="type"/>
                                                        <xsd:element type="xsd:float" name="deductionAmount" />
                                                        <xsd:element type="xsd:string" name="deductionCode" nillable="true"/>
                                                        <xsd:element type="xsd:string" name="deductionDesc" nillable="true"/>
                                                        <xsd:element type="xsd:string" name="deductionCustomItemName" nillable="true"/>
                                                        <xsd:element type="xsd:string" name="deductionItemName" nillable="true"/>
                                                        <xsd:element type="xsd:double" name="payAmount"/>
                                                        <xsd:element type="xsd:string" name="payCode"/>
                                                        <xsd:element type="xsd:string" name="payDesc" nillable="true"/>
                                                        <xsd:element type="xsd:string" name="payItemName" nillable="true"/>
                                                        <xsd:element type="xsd:string" name="payCustomItemName" nillable="true"/>
                                                        <xsd:element type="xsd:double" name="overTimeMultiplier" nillable="true"/>
                                                        <xsd:element type="xsd:string" name="payCodeId" nillable="true"/>
                                                      </xsd:sequence>
                                                    </xsd:complexType>
                                                  </xsd:element>
                                                </xsd:sequence>
                                              </xsd:complexType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element type="xsd:string" name="companyId"/>
                    <xsd:element type="xsd:string" name="name"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>