phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/StateWH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by April Branson (ASC X12) -->
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.4">
	<xsd:annotation>
		<xsd:documentation>
			<Description>State Employment Schema - Schema for State Withholding</Description>
			<TaxYear>2008</TaxYear>
			<Version>Draft</Version>
			<ReleaseDate>Feb 7, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
    <!--Updated links manually -->
	<xsd:include schemaLocation="efileTypes.xsd"/>
	<xsd:include schemaLocation="StateeFileTypes.xsd"/>
	<xsd:include schemaLocation="FSETeFileTypes.xsd"/>
	<xsd:element name="StateWH" type="StateWHType">
		<xsd:annotation>
			<xsd:documentation>State Withholding excluding supporting info</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StateWHType">
		<xsd:annotation>
			<xsd:documentation>Content model for state Withholding.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TotalIncomeTaxWithheld" type="AmountType">
				<xsd:annotation>
					<xsd:documentation>Total state income tax withheld.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WHInterest" type="AmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State withholding interest.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WHPenalty" type="AmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>State witholding penalty.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WHTotalTax" type="AmountType">
				<xsd:annotation>
					<xsd:documentation>Total state withholding tax.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
