phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/TransactionDTO.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="1.0">
	<!--  Data types section.  
  <xsd:annotation><xsd:appinfo>
    <jaxb:globalBindings>
      <jaxb:javaType name="java.util.Calendar" xmlType="xsd:dateTime"
        parseMethod="javax.xml.bind.DatatypeConverter.parseDate"
        printMethod="javax.xml.bind.DatatypeConverter.printDate"
        />
    </jaxb:globalBindings>
  </xsd:appinfo></xsd:annotation>
  -->
	<xsd:simpleType name="string4">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string5">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string14">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string100">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string100empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="payroll_company_id">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string50">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string50empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phone_number">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\da-zA-Z]{0,21}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contact_principal_number">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string20empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string2">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string40">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string255">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string128">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string128empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string30">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string30empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string9">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string9empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string10">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string10empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string15">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string15empty">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string32">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="payroll_service">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Basic"/>
			<xsd:enumeration value="Basic + DD"/>
			<xsd:enumeration value="Deluxe"/>
			<xsd:enumeration value="Fed E-File Service"/>
			<xsd:enumeration value="Fed and State E-File Service"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="payroll_feature">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DD"/>
			<xsd:enumeration value="ASSISTED"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="payroll_service_status">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Active"/>
			<xsd:enumeration value="Inactive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Message definitions section.  -->
	<xsd:element name="TransactionDTO">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="messageType" minOccurs="0"/>
				<xsd:element ref="sourceSystem" minOccurs="0"/>
				<xsd:element ref="destinationSystem" minOccurs="0"/>
				<xsd:element ref="token" minOccurs="0"/>
				<xsd:element ref="error_text" minOccurs="0"/>
				<xsd:element ref="cuinfomod" minOccurs="0"/>
				<xsd:element ref="cuevent" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cuinfomod">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="date_time"/>
				<xsd:element ref="cri_user_id"/>
				<xsd:element ref="agreement_number" minOccurs="0"/>
				<xsd:element ref="agreement_subtype" minOccurs="0"/>
				<xsd:element ref="agreement_create_date" minOccurs="0"/>
				<xsd:element ref="price_type" minOccurs="0"/>
				<xsd:element ref="change_source" minOccurs="0"/>
				<xsd:element ref="business_name" minOccurs="0"/>
				<xsd:element ref="legal_name" minOccurs="0"/>
				<xsd:element ref="principal_name" minOccurs="0"/>
				<xsd:element ref="fein" minOccurs="0"/>
				<xsd:element ref="service_key" minOccurs="0"/>
				<xsd:element ref="service_name" minOccurs="0"/>
				<xsd:element ref="service_status" minOccurs="0"/>
				<xsd:element ref="status_reason" minOccurs="0"/>
				<xsd:element ref="tax_deposit_frequency" minOccurs="0"/>
				<xsd:element ref="application_id" minOccurs="0"/>
				<xsd:element ref="application_version" minOccurs="0"/>
				<xsd:element ref="tax_exempt_flag" minOccurs="0"/>
				<xsd:element ref="tax_exempt_expiration_date" minOccurs="0"/>
				<xsd:element ref="registration_number" minOccurs="0"/>
				<xsd:element ref="business_fax" minOccurs="0"/>
				<xsd:element ref="business_phone" minOccurs="0"/>
				<xsd:element ref="account_name" minOccurs="0"/>
				<xsd:element ref="bank_name" minOccurs="0"/>
				<xsd:element ref="account_number" minOccurs="0"/>
				<xsd:element ref="routing_number" minOccurs="0"/>
				<xsd:element ref="account_type" minOccurs="0"/>
				<xsd:element ref="tax_disposition" minOccurs="0"/>
				<xsd:element ref="cancel_reason" minOccurs="0"/>
				<xsd:element ref="cancel_disposition" minOccurs="0"/>
				<xsd:element ref="address_list" minOccurs="0"/>
				<xsd:element ref="contact" minOccurs="0"/>
				<xsd:element ref="principal_list" minOccurs="0"/>
				<xsd:element ref="filing_state_list" minOccurs="0"/>
				<xsd:element ref="feature_name" minOccurs="0"/>
				<xsd:element ref="activation_status" minOccurs="0"/>
				<xsd:element ref="hold_flag" minOccurs="0"/>
				<xsd:element ref="payroll_status" minOccurs="0"/>
				<xsd:element ref="psid_list" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="cuevent">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="cri_user_id" minOccurs="0"/>
				<xsd:element ref="agreement_number" minOccurs="0"/>
				<xsd:element ref="payroll_event"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	
  <xsd:element name="psid_list">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="cri_user_id" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  	
	<!-- aggregate definitions section -->
	<xsd:element name="address_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="address" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="principal_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="principal" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="payroll_event_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="payroll_event" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="filing_state_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="filing_state" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="address">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="address_type"/>
				<xsd:element ref="address_line_1"/>
				<xsd:element ref="address_line_2" minOccurs="0"/>
				<xsd:element ref="city"/>
				<xsd:element ref="state"/>
				<xsd:element ref="postal_code"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="person_name">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="name_prefix" minOccurs="0"/>
				<xsd:element ref="first_name"/>
				<xsd:element ref="middle_initial" minOccurs="0"/>
				<xsd:element ref="last_name" minOccurs="0"/>
				<xsd:element ref="name_suffix" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="contact">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="person_name"/>
				<xsd:element ref="day_phone" minOccurs="0"/>
				<xsd:element ref="evening_phone" minOccurs="0"/>
				<xsd:element ref="fax" minOccurs="0"/>
				<xsd:element ref="email" minOccurs="0"/>
				<xsd:element ref="business_title" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="principal">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="principal_number"/>
				<xsd:element ref="person_name"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="payroll_event">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="date_time"/>
				<xsd:element ref="event_code" minOccurs="0"/>
				<xsd:element ref="activation_status" minOccurs="0"/>
				<xsd:element ref="hold_flag" minOccurs="0"/>
				<xsd:element ref="payroll_status" minOccurs="0"/>
				<xsd:element ref="event_reason_list" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="event_reason_list">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="event_reason" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="event_reason">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="reason_code"/>
				<xsd:element ref="reason_text" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Simple element definitions section.  -->
	<xsd:element name="token">
		<xsd:simpleType>
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="sourceSystem" type="string128empty"/>
	<xsd:element name="destinationSystem" type="string128empty"/>
	<xsd:element name="messageType" type="string128empty"/>
	<xsd:element name="messageSubType" type="string128empty"/>
	<xsd:element name="account_name" type="string128empty"/>
	<xsd:element name="account_number" type="string30empty"/>
	<xsd:element name="account_type" type="string10empty"/>
	<xsd:element name="activation_status" type="string2"/>
	<xsd:element name="address_line_1" type="string100"/>
	<xsd:element name="address_line_2" type="string100empty"/>
	<xsd:element name="address_type" type="string20"/>
	<xsd:element name="agreement_number" type="string15"/>
	<xsd:element name="agreement_create_date" type="xsd:dateTime"/>
	<xsd:element name="agreement_subtype" type="string50"/>
	<xsd:element name="application_id" type="string20"/>
	<xsd:element name="application_version" type="string50"/>
	<xsd:element name="bank_name" type="string50empty"/>
	<xsd:element name="business_fax" type="phone_number"/>
	<xsd:element name="business_name" type="string100"/>
	<xsd:element name="business_phone" type="phone_number"/>
	<xsd:element name="business_title" type="xsd:string"/>
	<xsd:element name="cancel_disposition" type="string5"/>
	<xsd:element name="cancel_reason" type="string5"/>
	<xsd:element name="change_source" type="string4"/>
	<xsd:element name="city" type="string32"/>
	<xsd:element name="cri_user_id" type="payroll_company_id"/>
	<xsd:element name="customer_id" type="string32"/>
	<xsd:element name="date_time" type="xsd:dateTime"/>
	<xsd:element name="day_phone" type="phone_number"/>
	<xsd:element name="email" type="string100empty"/>
	<xsd:element name="error_number" type="xsd:integer"/>
	<xsd:element name="error_text" type="string255"/>
	<xsd:element name="evening_phone" type="phone_number"/>
	<xsd:element name="event_code" type="string4"/>
	<xsd:element name="fax" type="phone_number"/>
	<xsd:element name="fein" type="payroll_company_id"/>
	<xsd:element name="filing_state" type="string2"/>
	<xsd:element name="first_name" type="string100"/>
	<xsd:element name="hold_flag" type="xsd:boolean"/>
	<xsd:element name="last_name" type="string50empty"/>
	<xsd:element name="legal_name" type="string100"/>
	<xsd:element name="message_name" type="string50"/>
	<xsd:element name="middle_initial" type="xsd:string"/>
	<xsd:element name="name_prefix" type="xsd:string"/>
	<xsd:element name="name_suffix" type="xsd:string"/>
	<xsd:element name="offer_code" type="string15empty"/>
	<xsd:element name="parent_account_number" type="string15"/>
	<xsd:element name="payroll_status" type="string2"/>
	<xsd:element name="postal_code" type="string14"/>
	<xsd:element name="price_type" type="string50"/>
	<xsd:element name="principal_name" type="string100"/>
	<xsd:element name="principal_number" type="contact_principal_number"/>
	<xsd:element name="publisher_id" type="xsd:integer"/>
	<xsd:element name="reason_code" type="string20"/>
	<xsd:element name="reason_text" type="string255"/>
	<xsd:element name="registration_number" type="string40"/>
	<xsd:element name="routing_number" type="string9empty"/>
	<xsd:element name="service_key" type="string32"/>
	<xsd:element name="service_name" type="payroll_service"/>
	<xsd:element name="service_status" type="payroll_service_status"/>
	<xsd:element name="source_id" type="string4"/>
	<xsd:element name="state" type="string2"/>
	<xsd:element name="status_reason" type="string30"/>
	<xsd:element name="tax_deposit_frequency" type="string20"/>
	<xsd:element name="tax_disposition" type="string20empty"/>
	<xsd:element name="tax_exempt_flag" type="string1"/>
	<xsd:element name="tax_exempt_expiration_date" type="xsd:dateTime"/>
	<xsd:element name="feature_name" type="payroll_feature"/>
</xsd:schema>
