phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/PSE/batch-jobs/src/main/resources/TransmissionHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Anita Connors (Sate of Wisconsin) -->
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.06">
	<xsd:annotation>
		<xsd:documentation>
			<Description>Transmission Header for FSET, used by Transmission.xsd to wrap multiple returns together</Description>
			<TaxYear>2009</TaxYear>
			<Version>Draft Release FSETV4.1</Version>
			<ReleaseDate>May 29, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
    <!--Updated links manually -->
	<xsd:include schemaLocation="efileTypes.xsd"/>
	<xsd:include schemaLocation="StateeFileTypes.xsd"/>
	<xsd:element name="TransmissionHeader" type="TransmissionHeaderType"/>
	<xsd:complexType name="TransmissionHeaderType">
		<xsd:sequence>
			<xsd:element name="Jurisdiction" type="StringType"/>
			<xsd:element name="TransmissionId" type="IdType">
				<xsd:annotation>
					<xsd:documentation>Use a unique, for you and your system, value that will identify the transmission</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Timestamp" type="TimestampType">
				<xsd:annotation>
					<xsd:documentation>The time stamp at the time of transmission.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Transmitter">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="ETIN" type="ETINType">
							<xsd:annotation>
								<xsd:documentation>The ETIN of the transmitter</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="EFIN">
							<xsd:annotation>
								<xsd:documentation>The EFIN of the Originator/Transmitter</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ProcessType">
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="T">
							<xsd:annotation>
								<xsd:documentation>Test</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="P">
							<xsd:annotation>
								<xsd:documentation>Production</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AgentIdentifier" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ReportingAgentSignature" type="PINTypeState" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Use only if you are approved by the state to sign for all the Returns included in this Transmission.</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AckAddress" type="EmailAddressType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="recordCount" type="IntegerNNType" use="required">
			<xsd:annotation>
				<xsd:documentation>The number of records in the transmission</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
