phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/echo-sign-gateway/src/main/resources/EchoSignDocumentService9.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.echosign" xmlns:ns2="http://dto9.api.echosign" xmlns:ns1="http://dto.api.echosign" xmlns:ns4="http://dto7.api.echosign" xmlns:ns3="http://dto8.api.echosign" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://api.echosign" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.api.echosign">
<xsd:complexType name="SenderInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="userKey" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfFileInfo">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="FileInfo" nillable="false" type="ns1:FileInfo"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="FileInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="file" nillable="false" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="fileName" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="formKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="libraryDocumentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="libraryDocumentName" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="mimeType" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="url" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CallbackInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="signedDocumentUrl" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SignatureFlow">

<xsd:restriction base="xsd:string">
<xsd:enumeration value="SENDER_SIGNS_LAST"/>
<xsd:enumeration value="SENDER_SIGNS_FIRST"/>
<xsd:enumeration value="SENDER_SIGNATURE_NOT_REQUIRED"/>
<xsd:enumeration value="SEQUENTIAL"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SecurityOptions">
<xsd:sequence>
<xsd:element minOccurs="0" name="password" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="protectOpen" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="protectSignature" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentUrlResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:DocumentUrlErrorCode"/>

<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="url" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="DocumentUrlErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="INVALID_VERSION_KEY"/>
<xsd:enumeration value="DOCUMENT_HAS_BEEN_DELETED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Pong">
<xsd:sequence>
<xsd:element minOccurs="0" name="message" nillable="false" type="xsd:string"/>
</xsd:sequence>

</xsd:complexType>
<xsd:complexType name="RemoveDocumentResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:RemoveDocumentErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="RemoveDocumentErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="DOCUMENT_HAS_BEEN_REMOVED"/>
<xsd:enumeration value="DYNAMIC_DOCUMENT_EXPIRATION_NOT_ENABLED"/>
<xsd:enumeration value="REMOVE_FAILED"/>
</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="DocumentCreationInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="callbackInfo" nillable="false" type="ns1:CallbackInfo"/>
<xsd:element minOccurs="0" name="ccs" nillable="false" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="daysUntilSigningDeadline" nillable="false" type="xsd:int"/>
<xsd:element minOccurs="0" name="externalId" nillable="false" type="ns1:ExternalId"/>
<xsd:element minOccurs="0" name="fileInfos" nillable="false" type="ns1:ArrayOfFileInfo"/>
<xsd:element minOccurs="0" name="locale" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="mergeFieldInfo" nillable="false" type="ns2:MergeFieldInfo"/>
<xsd:element minOccurs="0" name="message" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="reminderFrequency" nillable="false" type="ns1:ReminderFrequency"/>
<xsd:element minOccurs="0" name="securityOptions" nillable="false" type="ns1:SecurityOptions"/>
<xsd:element minOccurs="0" name="signatureFlow" nillable="false" type="ns1:SignatureFlow"/>
<xsd:element minOccurs="0" name="signatureType" nillable="false" type="ns1:SignatureType"/>
<xsd:element minOccurs="0" name="tos" nillable="false" type="tns:ArrayOfString"/>
</xsd:sequence>

</xsd:complexType>
<xsd:simpleType name="ReminderFrequency">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="DAILY_UNTIL_SIGNED"/>
<xsd:enumeration value="WEEKLY_UNTIL_SIGNED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SignatureType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ESIGN"/>
<xsd:enumeration value="WRITTEN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ExternalId">
<xsd:sequence>
<xsd:element minOccurs="0" name="group" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="id" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="namespace" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentKey">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="recipientEmail" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetDocumentsForUserResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentListForUser" nillable="false" type="ns1:ArrayOfDocumentListItem"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:GetDocumentsForUserResultCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ArrayOfDocumentListItem">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DocumentListItem" nillable="false" type="ns1:DocumentListItem"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentListItem">
<xsd:sequence>
<xsd:element minOccurs="0" name="displayDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="displayUserInfo" nillable="false" type="ns1:DisplayUserInfo"/>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="esign" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="megaSign" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="userDocumentStatus" nillable="false" type="ns1:DocumentListItemUserDocumentStatus"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="DocumentListItemUserDocumentStatus">

<xsd:restriction base="xsd:string">
<xsd:enumeration value="WAITING_FOR_MY_SIGNATURE"/>
<xsd:enumeration value="OUT_FOR_SIGNATURE"/>
<xsd:enumeration value="SIGNED"/>
<xsd:enumeration value="RECALLED"/>
<xsd:enumeration value="WAITING_FOR_FAXIN"/>
<xsd:enumeration value="ARCHIVED"/>
<xsd:enumeration value="FORM"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="DisplayUserInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="company" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="fullNameOrEmail" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="GetDocumentsForUserResultCode">

<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_USER_KEY"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
<xsd:enumeration value="PERMISSION_DENIED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="DocumentImageList">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:DocumentImageListErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="pageImages" nillable="false" type="ns1:ArrayOfDocumentPageImages"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ArrayOfDocumentPageImages">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DocumentPageImages" nillable="false" type="ns1:DocumentPageImages"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentPageImages">
<xsd:sequence>
<xsd:element minOccurs="0" name="largeImageUrl" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="mediumImageUrl" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="smallImageUrl" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="DocumentImageListErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="INVALID_VERSION_KEY"/>

<xsd:enumeration value="DOCUMENT_HAS_BEEN_DELETED"/>
<xsd:enumeration value="IMAGES_NOT_AVAILABLE"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ArrayOfDocumentHistoryEvent">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DocumentHistoryEvent" nillable="false" type="ns1:DocumentHistoryEvent"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentHistoryEvent">
<xsd:sequence>
<xsd:element minOccurs="0" name="date" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="description" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="documentVersionKey" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="FormCreationInfo">

<xsd:sequence>
<xsd:element minOccurs="0" name="externalId" nillable="false" type="ns1:ExternalId"/>
<xsd:element minOccurs="0" name="fileInfos" nillable="false" type="ns1:ArrayOfFileInfo"/>
<xsd:element minOccurs="0" name="formType" nillable="false" type="ns1:FormType"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="FormType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="NORMAL"/>
<xsd:enumeration value="WIDGET"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="FormCreationResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="ns1:DocumentKey"/>
<xsd:element minOccurs="0" name="widgetCode" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="widgetUrl" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UserVerificationInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="userVerificationStatus" nillable="false" type="ns1:UserVerificationStatus"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="UserVerificationStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="VALID"/>
<xsd:enumeration value="DOES_NOT_EXIST"/>
<xsd:enumeration value="INVALID_PASSWORD"/>
<xsd:enumeration value="UNVERIFIED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SendReminderResult">

<xsd:sequence>
<xsd:element minOccurs="0" name="recipientEmail" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" nillable="false" type="ns1:Result"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="Result">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="REMINDER_SENT"/>
<xsd:enumeration value="CANCELLED"/>
<xsd:enumeration value="ALREADY_SIGNED"/>
<xsd:enumeration value="ALREADY_CANCELLED"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="INVALID_API_KEY"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ArrayOfDocumentKey">
<xsd:sequence>

<xsd:element maxOccurs="unbounded" minOccurs="0" name="DocumentKey" nillable="false" type="ns1:DocumentKey"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CancelDocumentResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="result" nillable="false" type="ns1:Result"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SendDocumentMegaSignResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="ns1:DocumentKey"/>
<xsd:element minOccurs="0" name="documentKeyArray" nillable="false" type="ns1:ArrayOfDocumentKey"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:SendDocumentMegaSignResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="SendDocumentMegaSignResultErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ERROR"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="UserCreationInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="company" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="customField1" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="customField2" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="customField3" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstName" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastName" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="optIn" nillable="false" type="ns1:OptIn"/>
<xsd:element minOccurs="0" name="password" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="phone" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="title" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="OptIn">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="YES"/>
<xsd:enumeration value="NO"/>
<xsd:enumeration value="UNKNOWN"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="GetMegaSignDocumentResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documents" nillable="false" type="ns1:ArrayOfDocumentListItem"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:GetMegaSignDocumentResultCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>

</xsd:complexType>
<xsd:simpleType name="GetMegaSignDocumentResultCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
<xsd:enumeration value="PERMISSION_DENIED"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="NOT_MEGASIGN"/>
<xsd:enumeration value="EXPIRED"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="GetUsersInAccountResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns1:GetUsersInAccountResultCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="userListForAccount" nillable="false" type="ns1:ArrayOfUserInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfUserInfo">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="UserInfo" nillable="false" type="ns1:UserInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UserInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="company" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="fullNameOrEmail" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="userKey" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="GetUsersInAccountResultCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto8.api.echosign">
<xsd:complexType name="WidgetCreationInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="callbackInfo" nillable="false" type="ns1:CallbackInfo"/>
<xsd:element minOccurs="0" name="fileInfos" nillable="false" type="ns1:ArrayOfFileInfo"/>
<xsd:element minOccurs="0" name="locale" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="mergeFieldInfo" nillable="false" type="ns2:MergeFieldInfo"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="securityOptions" nillable="false" type="ns1:SecurityOptions"/>
<xsd:element minOccurs="0" name="signatureFlow" nillable="false" type="ns1:SignatureFlow"/>
<xsd:element minOccurs="0" name="widgetCompletionInfo" nillable="false" type="ns3:WidgetCompletionInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WidgetCompletionInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="deframe" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="delay" type="xsd:int"/>
<xsd:element minOccurs="0" name="url" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="WidgetPersonalizationInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="allowManualVerification" nillable="false" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="comment" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="expiration" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="reusable" nillable="false" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EmbeddedWidgetCreationResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns3:EmbeddedWidgetCreationResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="javascript" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="EmbeddedWidgetCreationResultErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>

<xsd:enumeration value="INVALID_JAVASCRIPT"/>
<xsd:enumeration value="INVALID_SIGNATURE_FLOW"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="UrlWidgetCreationResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns3:UrlWidgetCreationResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="url" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="UrlWidgetCreationResultErrorCode">
<xsd:restriction base="xsd:string">

<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_URL"/>
<xsd:enumeration value="INVALID_SIGNATURE_FLOW"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="GetFormDataResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns3:GetFormDataResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="formDataCsv" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="GetFormDataResultErrorCode">

<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="DOCUMENT_HAS_BEEN_DELETED"/>
<xsd:enumeration value="NO_FORM_DATA"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto9.api.echosign">
<xsd:complexType name="MergeFieldInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="mergeFields" nillable="false" type="ns2:ArrayOfMergeField"/>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ArrayOfMergeField">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="MergeField" nillable="false" type="ns2:MergeField"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="MergeField">
<xsd:sequence>
<xsd:element minOccurs="0" name="defaultValue" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="fieldName" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AuditTrailResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="auditTrailPdf" nillable="false" type="xsd:base64Binary"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns2:AuditTrailResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>

</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="AuditTrailResultErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="DOCUMENT_HAS_BEEN_DELETED"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="InitiateInteractiveSendDocumentResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="ns1:DocumentKey"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns2:InitiateInteractiveSendDocumentResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="needsInteraction" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="sendDocumentURL" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="InitiateInteractiveSendDocumentResultErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="FILE_RETRIEVAL_ERROR"/>
<xsd:enumeration value="MISC_ERROR"/>
<xsd:enumeration value="EXCEPTION"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="DocumentInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="expiration" type="xsd:dateTime"/>

<xsd:element minOccurs="0" name="locale" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="nextParticipantInfos" nillable="false" type="ns2:ArrayOfNextParticipantInfo"/>
<xsd:element minOccurs="0" name="status" nillable="false" type="ns2:AgreementStatus"/>
<xsd:element minOccurs="0" name="events" nillable="false" type="ns1:ArrayOfDocumentHistoryEvent"/>
<xsd:element minOccurs="0" name="latestDocumentKey" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="AgreementStatus">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OUT_FOR_SIGNATURE"/>
<xsd:enumeration value="SIGNED"/>
<xsd:enumeration value="ABORTED"/>
<xsd:enumeration value="DOCUMENT_LIBRARY"/>
<xsd:enumeration value="WIDGET"/>
<xsd:enumeration value="EXPIRED"/>

<xsd:enumeration value="ARCHIVED"/>
<xsd:enumeration value="PREFILL"/>
<xsd:enumeration value="AUTHORING"/>
<xsd:enumeration value="WAITING_FOR_FAXIN"/>
<xsd:enumeration value="OTHER"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ArrayOfNextParticipantInfo">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="NextParticipantInfo" nillable="false" type="ns2:NextParticipantInfo"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NextParticipantInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="waitingSince" type="xsd:dateTime"/>

</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SigningUrlResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns2:SigningUrlResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="signingUrls" nillable="false" type="ns2:ArrayOfSigningUrl"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SigningUrlResultErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_DOCUMENT_KEY"/>
<xsd:enumeration value="DOCUMENT_HAS_BEEN_DELETED"/>
<xsd:enumeration value="DOCUMENT_NOT_SIGNABLE"/>

<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="ArrayOfSigningUrl">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="SigningUrl" nillable="false" type="ns2:SigningUrl"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SigningUrl">
<xsd:sequence>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="esignUrl" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="simpleEsignUrl" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LibraryDocumentCreationInfo">

<xsd:sequence>
<xsd:element minOccurs="0" name="fileInfos" nillable="false" type="ns1:ArrayOfFileInfo"/>
<xsd:element minOccurs="0" name="librarySharingMode" nillable="false" type="ns2:LibrarySharingMode"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="signatureFlow" nillable="false" type="ns1:SignatureFlow"/>
<xsd:element minOccurs="0" name="signatureType" nillable="false" type="ns1:SignatureType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="LibrarySharingMode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="USER"/>
<xsd:enumeration value="GROUP"/>
<xsd:enumeration value="ACCOUNT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="LibraryDocumentCreationResult">
<xsd:sequence>

<xsd:element minOccurs="0" name="documentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns2:LibraryDocumentCreationResultErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="LibraryDocumentCreationResultErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="UserCredentials">
<xsd:sequence>
<xsd:element minOccurs="0" name="email" nillable="false" type="xsd:string"/>

<xsd:element minOccurs="0" name="password" nillable="false" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetLibraryDocumentsForUserResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns2:GetLibraryDocumentsForUserErrorCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="libraryDocuments" nillable="false" type="ns2:ArrayOfDocumentLibraryItem"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfDocumentLibraryItem">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DocumentLibraryItem" nillable="false" type="ns2:DocumentLibraryItem"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DocumentLibraryItem">

<xsd:sequence>
<xsd:element minOccurs="0" name="documentKey" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="modifiedDate" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="name" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="scope" nillable="false" type="ns2:DocumentLibraryItemScope"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="DocumentLibraryItemScope">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PERSONAL"/>
<xsd:enumeration value="SHARED"/>
<xsd:enumeration value="GLOBAL"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="GetLibraryDocumentsForUserErrorCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>

<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="INVALID_USER_CREDENTIALS"/>
<xsd:enumeration value="PERMISSION_DENIED"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.echosign">
<xsd:element name="createPersonalEmbeddedWidget">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="widgetInfo" nillable="true" type="ns3:WidgetCreationInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="personalizationInfo" nillable="true" type="ns3:WidgetPersonalizationInfo"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="createPersonalEmbeddedWidgetResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="embeddedWidgetCreationResult" nillable="true" type="ns3:EmbeddedWidgetCreationResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentByVersion">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="versionKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="getDocumentByVersionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="pdf" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createUrlWidget">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="widgetInfo" nillable="true" type="ns3:WidgetCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createUrlWidgetResponse">

<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="urlWidgetCreationResult" nillable="true" type="ns3:UrlWidgetCreationResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="personalizeEmbeddedWidget">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="widgetJavascript" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="personalizationInfo" nillable="true" type="ns3:WidgetPersonalizationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="personalizeEmbeddedWidgetResponse">
<xsd:complexType>

<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="embeddedWidgetCreationResult" nillable="true" type="ns3:EmbeddedWidgetCreationResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestDocumentUrl">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestDocumentUrlResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="documentUrlResult" nillable="true" type="ns1:DocumentUrlResult"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createPersonalUrlWidget">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="widgetInfo" nillable="true" type="ns3:WidgetCreationInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="personalizationInfo" nillable="true" type="ns3:WidgetPersonalizationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createPersonalUrlWidgetResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="urlWidgetCreationResult" nillable="true" type="ns3:UrlWidgetCreationResult"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="testPing">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="testPingResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="pong" nillable="true" type="ns1:Pong"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="getAuditTrail">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAuditTrailResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getAuditTrailResult" nillable="true" type="ns2:AuditTrailResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="removeDocument">
<xsd:complexType>

<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="removeDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="removeDocumentResult" nillable="true" type="ns1:RemoveDocumentResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="false" type="xsd:string"/>
</xsd:sequence>

</xsd:complexType>
<xsd:element name="initiateInteractiveSendDocument">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentCreationInfo" nillable="true" type="ns1:DocumentCreationInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="forceSendConfirmation" type="xsd:boolean"/>
<xsd:element maxOccurs="1" minOccurs="1" name="authoringRequested" nillable="true" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="initiateInteractiveSendDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="initiateInteractiveSendDocumentResult" nillable="true" type="ns2:InitiateInteractiveSendDocumentResult"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentsForUser">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="userKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentsForUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getDocumentsForUserResult" nillable="true" type="ns1:GetDocumentsForUserResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="getLatestImages">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestImagesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="documentImageList" nillable="true" type="ns1:DocumentImageList"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentInfo">
<xsd:complexType>

<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentInfoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="documentInfo" nillable="true" type="ns2:DocumentInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createForm">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>

<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="formInfo" nillable="true" type="ns1:FormCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createFormResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="formCreationResult" nillable="true" type="ns1:FormCreationResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="verifyUser">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="email" nillable="true" type="xsd:string"/>

<xsd:element maxOccurs="1" minOccurs="1" name="password" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="verifyUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="userVerificationInfo" nillable="true" type="ns1:UserVerificationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentUrlByVersion">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="versionKey" nillable="true" type="xsd:string"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="getDocumentUrlByVersionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="documentUrlResult" nillable="true" type="ns1:DocumentUrlResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getSigningUrl">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="getSigningUrlResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getSigningUrlResult" nillable="true" type="ns2:SigningUrlResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="testEchoFile">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="file" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="testEchoFileResponse">
<xsd:complexType>

<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="outFile" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendReminder">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="comment" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendReminderResponse">
<xsd:complexType>
<xsd:sequence>

<xsd:element maxOccurs="1" minOccurs="1" name="sendreminderResult" nillable="true" type="ns1:SendReminderResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createEmbeddedWidget">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="widgetInfo" nillable="true" type="ns3:WidgetCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createEmbeddedWidgetResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="embeddedWidgetCreationResult" nillable="true" type="ns3:EmbeddedWidgetCreationResult"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendDocument">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentCreationInfo" nillable="true" type="ns1:DocumentCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKeys" nillable="true" type="ns1:ArrayOfDocumentKey"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="cancelDocument">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="comment" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="notifySigner" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cancelDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="cancelDocumentResult" nillable="true" type="ns1:CancelDocumentResult"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestDocument">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLatestDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="pdf" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

<xsd:element name="sendDocumentMegaSign">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentCreationInfo" nillable="true" type="ns1:DocumentCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="sendDocumentMegaSignResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="sendMegaSignDocumentResult" nillable="true" type="ns1:SendDocumentMegaSignResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="personalizeUrlWidget">

<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="widgetUrl" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="personalizationInfo" nillable="true" type="ns3:WidgetPersonalizationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="personalizeUrlWidgetResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="urlWidgetCreationResult" nillable="true" type="ns3:UrlWidgetCreationResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createUser">
<xsd:complexType>

<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="userInfo" nillable="true" type="ns1:UserCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="userKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getFormData">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>

<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getFormDataResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getFormDataResult" nillable="true" type="ns3:GetFormDataResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getMegaSignDocument">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="documentKey" nillable="true" type="xsd:string"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="getMegaSignDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getMegaSignDocumentResult" nillable="true" type="ns1:GetMegaSignDocumentResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getUsersInAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getUsersInAccountResponse">

<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getUsersInAccountResult" nillable="true" type="ns1:GetUsersInAccountResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getImagesByVersion">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="versionKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getImagesByVersionResponse">
<xsd:complexType>
<xsd:sequence>

<xsd:element maxOccurs="1" minOccurs="1" name="documentImageList" nillable="true" type="ns1:DocumentImageList"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createAccount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="userCreationInfo" nillable="true" type="ns1:UserCreationInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="accountCreationInfo" nillable="true" type="ns4:AccountCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="createAccountResult" nillable="true" type="ns4:CreateAccountResult"/>

</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createLibraryDocument">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="senderInfo" nillable="true" type="ns1:SenderInfo"/>
<xsd:element maxOccurs="1" minOccurs="1" name="libraryDocumentCreationInfo" nillable="true" type="ns2:LibraryDocumentCreationInfo"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="createLibraryDocumentResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="libraryDocumentCreationResult" nillable="true" type="ns2:LibraryDocumentCreationResult"/>
</xsd:sequence>

</xsd:complexType>
</xsd:element>
<xsd:element name="getLibraryDocumentsForUser">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="apiKey" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="userCredentials" nillable="true" type="ns2:UserCredentials"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getLibraryDocumentsForUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="getLibraryDocumentsForUserResult" nillable="true" type="ns2:GetLibraryDocumentsForUserResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>

</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto7.api.echosign">
<xsd:complexType name="AccountCreationInfo">
<xsd:sequence>
<xsd:element minOccurs="0" name="accountType" nillable="false" type="ns4:AccountType"/>
<xsd:element minOccurs="0" name="companyName" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="numSeats" nillable="false" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="AccountType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="PRO"/>
<xsd:enumeration value="TEAM"/>
<xsd:enumeration value="TEAM_TRIAL"/>
<xsd:enumeration value="ENTERPRISE"/>
<xsd:enumeration value="ENTERPRISE_TRIAL"/>
<xsd:enumeration value="GLOBAL"/>

<xsd:enumeration value="GLOBAL_TRIAL"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="CreateAccountResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="errorCode" nillable="false" type="ns4:CreateAccountResultCode"/>
<xsd:element minOccurs="0" name="errorMessage" nillable="false" type="xsd:string"/>
<xsd:element minOccurs="0" name="success" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="CreateAccountResultCode">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="OK"/>
<xsd:enumeration value="INVALID_API_KEY"/>
<xsd:enumeration value="ACCOUNT_CREATION_NOT_ENABLED"/>
<xsd:enumeration value="INVALID_SEAT_COUNT"/>
<xsd:enumeration value="USER_CREATION_ERROR"/>

<xsd:enumeration value="USER_ALREADY_HAS_ACCOUNT"/>
<xsd:enumeration value="EXCEPTION"/>
<xsd:enumeration value="MISC_ERROR"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSigningUrlRequest">
    <wsdl:part name="parameters" element="tns:getSigningUrl">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersInAccountRequest">

    <wsdl:part name="parameters" element="tns:getUsersInAccount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUrlWidgetRequest">
    <wsdl:part name="parameters" element="tns:createUrlWidget">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDocumentResponse">
    <wsdl:part name="parameters" element="tns:removeDocumentResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendReminderResponse">
    <wsdl:part name="parameters" element="tns:sendReminderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLibraryDocumentResponse">
    <wsdl:part name="parameters" element="tns:createLibraryDocumentResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getImagesByVersionRequest">
    <wsdl:part name="parameters" element="tns:getImagesByVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testEchoFileRequest">
    <wsdl:part name="parameters" element="tns:testEchoFile">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getDocumentUrlByVersionResponse">
    <wsdl:part name="parameters" element="tns:getDocumentUrlByVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="personalizeEmbeddedWidgetResponse">
    <wsdl:part name="parameters" element="tns:personalizeEmbeddedWidgetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonalUrlWidgetResponse">

    <wsdl:part name="parameters" element="tns:createPersonalUrlWidgetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentInfoResponse">
    <wsdl:part name="parameters" element="tns:getDocumentInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="personalizeUrlWidgetResponse">
    <wsdl:part name="parameters" element="tns:personalizeUrlWidgetResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeDocumentRequest">
    <wsdl:part name="parameters" element="tns:removeDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByVersionResponse">
    <wsdl:part name="parameters" element="tns:getDocumentByVersionResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="initiateInteractiveSendDocumentRequest">
    <wsdl:part name="parameters" element="tns:initiateInteractiveSendDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFormDataRequest">
    <wsdl:part name="parameters" element="tns:getFormData">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getLibraryDocumentsForUserResponse">
    <wsdl:part name="parameters" element="tns:getLibraryDocumentsForUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonalEmbeddedWidgetResponse">
    <wsdl:part name="parameters" element="tns:createPersonalEmbeddedWidgetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMegaSignDocumentRequest">

    <wsdl:part name="parameters" element="tns:getMegaSignDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testPingRequest">
    <wsdl:part name="parameters" element="tns:testPing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendReminderRequest">
    <wsdl:part name="parameters" element="tns:sendReminder">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestDocumentResponse">
    <wsdl:part name="parameters" element="tns:getLatestDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initiateInteractiveSendDocumentResponse">
    <wsdl:part name="parameters" element="tns:initiateInteractiveSendDocumentResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getDocumentsForUserResponse">
    <wsdl:part name="parameters" element="tns:getDocumentsForUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuditTrailResponse">
    <wsdl:part name="parameters" element="tns:getAuditTrailResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="testEchoFileResponse">
    <wsdl:part name="parameters" element="tns:testEchoFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestImagesRequest">
    <wsdl:part name="parameters" element="tns:getLatestImages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testPingResponse">

    <wsdl:part name="parameters" element="tns:testPingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentMegaSignRequest">
    <wsdl:part name="parameters" element="tns:sendDocumentMegaSign">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersInAccountResponse">
    <wsdl:part name="parameters" element="tns:getUsersInAccountResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEmbeddedWidgetResponse">
    <wsdl:part name="parameters" element="tns:createEmbeddedWidgetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAccountRequest">
    <wsdl:part name="parameters" element="tns:createAccount">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="getSigningUrlResponse">
    <wsdl:part name="parameters" element="tns:getSigningUrlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentUrlByVersionRequest">
    <wsdl:part name="parameters" element="tns:getDocumentUrlByVersion">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getDocumentsForUserRequest">
    <wsdl:part name="parameters" element="tns:getDocumentsForUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentInfoRequest">
    <wsdl:part name="parameters" element="tns:getDocumentInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLibraryDocumentsForUserRequest">

    <wsdl:part name="parameters" element="tns:getLibraryDocumentsForUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyUserResponse">
    <wsdl:part name="parameters" element="tns:verifyUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentResponse">
    <wsdl:part name="parameters" element="tns:sendDocumentResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestDocumentUrlResponse">
    <wsdl:part name="parameters" element="tns:getLatestDocumentUrlResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFormDataResponse">
    <wsdl:part name="parameters" element="tns:getFormDataResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="personalizeEmbeddedWidgetRequest">
    <wsdl:part name="parameters" element="tns:personalizeEmbeddedWidget">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByVersionRequest">
    <wsdl:part name="parameters" element="tns:getDocumentByVersion">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="createUserRequest">
    <wsdl:part name="parameters" element="tns:createUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImagesByVersionResponse">
    <wsdl:part name="parameters" element="tns:getImagesByVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentRequest">

    <wsdl:part name="parameters" element="tns:sendDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelDocumentRequest">
    <wsdl:part name="parameters" element="tns:cancelDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLibraryDocumentRequest">
    <wsdl:part name="parameters" element="tns:createLibraryDocument">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendDocumentMegaSignResponse">
    <wsdl:part name="parameters" element="tns:sendDocumentMegaSignResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="parameters" element="tns:createUserResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="createPersonalEmbeddedWidgetRequest">
    <wsdl:part name="parameters" element="tns:createPersonalEmbeddedWidget">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="personalizeUrlWidgetRequest">
    <wsdl:part name="parameters" element="tns:personalizeUrlWidget">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="cancelDocumentResponse">
    <wsdl:part name="parameters" element="tns:cancelDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFormRequest">
    <wsdl:part name="parameters" element="tns:createForm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMegaSignDocumentResponse">

    <wsdl:part name="parameters" element="tns:getMegaSignDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyUserRequest">
    <wsdl:part name="parameters" element="tns:verifyUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestDocumentUrlRequest">
    <wsdl:part name="parameters" element="tns:getLatestDocumentUrl">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAuditTrailRequest">
    <wsdl:part name="parameters" element="tns:getAuditTrail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUrlWidgetResponse">
    <wsdl:part name="parameters" element="tns:createUrlWidgetResponse">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="createAccountResponse">
    <wsdl:part name="parameters" element="tns:createAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFormResponse">
    <wsdl:part name="parameters" element="tns:createFormResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getLatestDocumentRequest">
    <wsdl:part name="parameters" element="tns:getLatestDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLatestImagesResponse">
    <wsdl:part name="parameters" element="tns:getLatestImagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createEmbeddedWidgetRequest">

    <wsdl:part name="parameters" element="tns:createEmbeddedWidget">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPersonalUrlWidgetRequest">
    <wsdl:part name="parameters" element="tns:createPersonalUrlWidget">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoSignDocumentService9PortType">
    <wsdl:operation name="createPersonalEmbeddedWidget">

      <wsdl:input name="createPersonalEmbeddedWidgetRequest" message="tns:createPersonalEmbeddedWidgetRequest">
    </wsdl:input>
      <wsdl:output name="createPersonalEmbeddedWidgetResponse" message="tns:createPersonalEmbeddedWidgetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentByVersion">
      <wsdl:input name="getDocumentByVersionRequest" message="tns:getDocumentByVersionRequest">
    </wsdl:input>
      <wsdl:output name="getDocumentByVersionResponse" message="tns:getDocumentByVersionResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUrlWidget">
      <wsdl:input name="createUrlWidgetRequest" message="tns:createUrlWidgetRequest">
    </wsdl:input>
      <wsdl:output name="createUrlWidgetResponse" message="tns:createUrlWidgetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personalizeEmbeddedWidget">

      <wsdl:input name="personalizeEmbeddedWidgetRequest" message="tns:personalizeEmbeddedWidgetRequest">
    </wsdl:input>
      <wsdl:output name="personalizeEmbeddedWidgetResponse" message="tns:personalizeEmbeddedWidgetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDocumentUrl">
      <wsdl:input name="getLatestDocumentUrlRequest" message="tns:getLatestDocumentUrlRequest">
    </wsdl:input>
      <wsdl:output name="getLatestDocumentUrlResponse" message="tns:getLatestDocumentUrlResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPersonalUrlWidget">
      <wsdl:input name="createPersonalUrlWidgetRequest" message="tns:createPersonalUrlWidgetRequest">
    </wsdl:input>
      <wsdl:output name="createPersonalUrlWidgetResponse" message="tns:createPersonalUrlWidgetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testPing">

      <wsdl:input name="testPingRequest" message="tns:testPingRequest">
    </wsdl:input>
      <wsdl:output name="testPingResponse" message="tns:testPingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuditTrail">
      <wsdl:input name="getAuditTrailRequest" message="tns:getAuditTrailRequest">
    </wsdl:input>
      <wsdl:output name="getAuditTrailResponse" message="tns:getAuditTrailResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDocument">
      <wsdl:input name="removeDocumentRequest" message="tns:removeDocumentRequest">
    </wsdl:input>
      <wsdl:output name="removeDocumentResponse" message="tns:removeDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateInteractiveSendDocument">

      <wsdl:input name="initiateInteractiveSendDocumentRequest" message="tns:initiateInteractiveSendDocumentRequest">
    </wsdl:input>
      <wsdl:output name="initiateInteractiveSendDocumentResponse" message="tns:initiateInteractiveSendDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentsForUser">
      <wsdl:input name="getDocumentsForUserRequest" message="tns:getDocumentsForUserRequest">
    </wsdl:input>
      <wsdl:output name="getDocumentsForUserResponse" message="tns:getDocumentsForUserResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestImages">
      <wsdl:input name="getLatestImagesRequest" message="tns:getLatestImagesRequest">
    </wsdl:input>
      <wsdl:output name="getLatestImagesResponse" message="tns:getLatestImagesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentInfo">

      <wsdl:input name="getDocumentInfoRequest" message="tns:getDocumentInfoRequest">
    </wsdl:input>
      <wsdl:output name="getDocumentInfoResponse" message="tns:getDocumentInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createForm">
      <wsdl:input name="createFormRequest" message="tns:createFormRequest">
    </wsdl:input>
      <wsdl:output name="createFormResponse" message="tns:createFormResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUser">
      <wsdl:input name="verifyUserRequest" message="tns:verifyUserRequest">
    </wsdl:input>
      <wsdl:output name="verifyUserResponse" message="tns:verifyUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentUrlByVersion">

      <wsdl:input name="getDocumentUrlByVersionRequest" message="tns:getDocumentUrlByVersionRequest">
    </wsdl:input>
      <wsdl:output name="getDocumentUrlByVersionResponse" message="tns:getDocumentUrlByVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSigningUrl">
      <wsdl:input name="getSigningUrlRequest" message="tns:getSigningUrlRequest">
    </wsdl:input>
      <wsdl:output name="getSigningUrlResponse" message="tns:getSigningUrlResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testEchoFile">
      <wsdl:input name="testEchoFileRequest" message="tns:testEchoFileRequest">
    </wsdl:input>
      <wsdl:output name="testEchoFileResponse" message="tns:testEchoFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendReminder">

      <wsdl:input name="sendReminderRequest" message="tns:sendReminderRequest">
    </wsdl:input>
      <wsdl:output name="sendReminderResponse" message="tns:sendReminderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEmbeddedWidget">
      <wsdl:input name="createEmbeddedWidgetRequest" message="tns:createEmbeddedWidgetRequest">
    </wsdl:input>
      <wsdl:output name="createEmbeddedWidgetResponse" message="tns:createEmbeddedWidgetResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocument">
      <wsdl:input name="sendDocumentRequest" message="tns:sendDocumentRequest">
    </wsdl:input>
      <wsdl:output name="sendDocumentResponse" message="tns:sendDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelDocument">

      <wsdl:input name="cancelDocumentRequest" message="tns:cancelDocumentRequest">
    </wsdl:input>
      <wsdl:output name="cancelDocumentResponse" message="tns:cancelDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDocument">
      <wsdl:input name="getLatestDocumentRequest" message="tns:getLatestDocumentRequest">
    </wsdl:input>
      <wsdl:output name="getLatestDocumentResponse" message="tns:getLatestDocumentResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentMegaSign">
      <wsdl:input name="sendDocumentMegaSignRequest" message="tns:sendDocumentMegaSignRequest">
    </wsdl:input>
      <wsdl:output name="sendDocumentMegaSignResponse" message="tns:sendDocumentMegaSignResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personalizeUrlWidget">

      <wsdl:input name="personalizeUrlWidgetRequest" message="tns:personalizeUrlWidgetRequest">
    </wsdl:input>
      <wsdl:output name="personalizeUrlWidgetResponse" message="tns:personalizeUrlWidgetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input name="createUserRequest" message="tns:createUserRequest">
    </wsdl:input>
      <wsdl:output name="createUserResponse" message="tns:createUserResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFormData">
      <wsdl:input name="getFormDataRequest" message="tns:getFormDataRequest">
    </wsdl:input>
      <wsdl:output name="getFormDataResponse" message="tns:getFormDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMegaSignDocument">

      <wsdl:input name="getMegaSignDocumentRequest" message="tns:getMegaSignDocumentRequest">
    </wsdl:input>
      <wsdl:output name="getMegaSignDocumentResponse" message="tns:getMegaSignDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersInAccount">
      <wsdl:input name="getUsersInAccountRequest" message="tns:getUsersInAccountRequest">
    </wsdl:input>
      <wsdl:output name="getUsersInAccountResponse" message="tns:getUsersInAccountResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImagesByVersion">
      <wsdl:input name="getImagesByVersionRequest" message="tns:getImagesByVersionRequest">
    </wsdl:input>
      <wsdl:output name="getImagesByVersionResponse" message="tns:getImagesByVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">

      <wsdl:input name="createAccountRequest" message="tns:createAccountRequest">
    </wsdl:input>
      <wsdl:output name="createAccountResponse" message="tns:createAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLibraryDocument">
      <wsdl:input name="createLibraryDocumentRequest" message="tns:createLibraryDocumentRequest">
    </wsdl:input>
      <wsdl:output name="createLibraryDocumentResponse" message="tns:createLibraryDocumentResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraryDocumentsForUser">
      <wsdl:input name="getLibraryDocumentsForUserRequest" message="tns:getLibraryDocumentsForUserRequest">
    </wsdl:input>
      <wsdl:output name="getLibraryDocumentsForUserResponse" message="tns:getLibraryDocumentsForUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="EchoSignDocumentService9HttpBinding" type="tns:EchoSignDocumentService9PortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createPersonalEmbeddedWidget">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createPersonalEmbeddedWidgetRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPersonalEmbeddedWidgetResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentByVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDocumentByVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentByVersionResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUrlWidget">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createUrlWidgetRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUrlWidgetResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personalizeEmbeddedWidget">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="personalizeEmbeddedWidgetRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="personalizeEmbeddedWidgetResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDocumentUrl">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLatestDocumentUrlRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLatestDocumentUrlResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPersonalUrlWidget">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createPersonalUrlWidgetRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPersonalUrlWidgetResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testPing">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="testPingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testPingResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuditTrail">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAuditTrailRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAuditTrailResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="removeDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateInteractiveSendDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="initiateInteractiveSendDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initiateInteractiveSendDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentsForUser">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDocumentsForUserRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentsForUserResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestImages">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLatestImagesRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLatestImagesResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDocumentInfoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentInfoResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createForm">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createFormRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createFormResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUser">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="verifyUserRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyUserResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentUrlByVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getDocumentUrlByVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDocumentUrlByVersionResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSigningUrl">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getSigningUrlRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSigningUrlResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testEchoFile">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="testEchoFileRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testEchoFileResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendReminder">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendReminderRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendReminderResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createEmbeddedWidget">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createEmbeddedWidgetRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createEmbeddedWidgetResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="cancelDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLatestDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLatestDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDocumentMegaSign">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sendDocumentMegaSignRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendDocumentMegaSignResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="personalizeUrlWidget">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="personalizeUrlWidgetRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="personalizeUrlWidgetResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createUserRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFormData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFormDataRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFormDataResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMegaSignDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMegaSignDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMegaSignDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersInAccount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getUsersInAccountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersInAccountResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImagesByVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getImagesByVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getImagesByVersionResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAccount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createAccountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAccountResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLibraryDocument">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createLibraryDocumentRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createLibraryDocumentResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLibraryDocumentsForUser">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLibraryDocumentsForUserRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLibraryDocumentsForUserResponse">
        <wsdlsoap:body use="literal"/>

      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoSignDocumentService9">
    <wsdl:port name="EchoSignDocumentService9HttpPort" binding="tns:EchoSignDocumentService9HttpBinding">
      <wsdlsoap:address location="https://secure.echosign.com/services/EchoSignDocumentService9"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>