phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/efe-gateway/src/main/resources/psp.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2"
             name="EfeFilerService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2"
                        schemaLocation="efe-filer.xsd"/>
        </xsd:schema>
    </types>
    <message name="sync">
        <part name="parameters" element="tns:sync"/>
    </message>
    <message name="syncResponse">
        <part name="parameters" element="tns:syncResponse"/>
    </message>
    <message name="EfeSystemFault_Exception">
        <part name="fault" element="tns:EfeSystemFault"/>
    </message>
    <message name="EfeUnavailableFault_Exception">
        <part name="fault" element="tns:EfeUnavailableFault"/>
    </message>
    <message name="submit">
        <part name="parameters" element="tns:submit"/>
    </message>
    <message name="submitResponse">
        <part name="parameters" element="tns:submitResponse"/>
    </message>
    <message name="getMessages">
        <part name="parameters" element="tns:getMessages"/>
    </message>
    <message name="getMessagesResponse">
        <part name="parameters" element="tns:getMessagesResponse"/>
    </message>
    <message name="syncByDate">
        <part name="parameters" element="tns:syncByDate"/>
    </message>
    <message name="syncByDateResponse">
        <part name="parameters" element="tns:syncByDateResponse"/>
    </message>
    <message name="getMessagesByFilerId">
        <part name="parameters" element="tns:getMessagesByFilerId"/>
    </message>
    <message name="getMessagesByFilerIdResponse">
        <part name="parameters" element="tns:getMessagesByFilerIdResponse"/>
    </message>
    <message name="getMessagesByTrackingNumber">
        <part name="parameters" element="tns:getMessagesByTrackingNumber"/>
    </message>
    <message name="getMessagesByTrackingNumberResponse">
        <part name="parameters" element="tns:getMessagesByTrackingNumberResponse"/>
    </message>
    <message name="listAgencies">
        <part name="parameters" element="tns:listAgencies"/>
    </message>
    <message name="listAgenciesResponse">
        <part name="parameters" element="tns:listAgenciesResponse"/>
    </message>
    <message name="listFormTypes">
        <part name="parameters" element="tns:listFormTypes"/>
    </message>
    <message name="listFormTypesResponse">
        <part name="parameters" element="tns:listFormTypesResponse"/>
    </message>
    <message name="isRoutingNumberValid">
        <part name="parameters" element="tns:isRoutingNumberValid"/>
    </message>
    <message name="isRoutingNumberValidResponse">
        <part name="parameters" element="tns:isRoutingNumberValidResponse"/>
    </message>
    <portType name="EfeFilerPort">
        <operation name="sync">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/syncRequest"
                   message="tns:sync"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/syncResponse"
                    message="tns:syncResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/sync/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/sync/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="submit">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/submitRequest"
                   message="tns:submit"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/submitResponse"
                    message="tns:submitResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/submit/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/submit/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="getMessages">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesRequest"
                   message="tns:getMessages"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesResponse"
                    message="tns:getMessagesResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessages/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessages/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="syncByDate">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/syncByDateRequest"
                   message="tns:syncByDate"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/syncByDateResponse"
                    message="tns:syncByDateResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/syncByDate/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/syncByDate/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="getMessagesByFilerId">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByFilerIdRequest"
                   message="tns:getMessagesByFilerId"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByFilerIdResponse"
                    message="tns:getMessagesByFilerIdResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByFilerId/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByFilerId/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="getMessagesByTrackingNumber">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByTrackingNumberRequest"
                   message="tns:getMessagesByTrackingNumber"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByTrackingNumberResponse"
                    message="tns:getMessagesByTrackingNumberResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByTrackingNumber/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/getMessagesByTrackingNumber/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="listAgencies">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listAgenciesRequest"
                   message="tns:listAgencies"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listAgenciesResponse"
                    message="tns:listAgenciesResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listAgencies/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listAgencies/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="listFormTypes">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listFormTypesRequest"
                   message="tns:listFormTypes"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listFormTypesResponse"
                    message="tns:listFormTypesResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listFormTypes/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/listFormTypes/Fault/EfeUnavailableFault_Exception"/>
        </operation>
        <operation name="isRoutingNumberValid">
            <input wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/isRoutingNumberValidRequest"
                   message="tns:isRoutingNumberValid"/>
            <output wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/isRoutingNumberValidResponse"
                    message="tns:isRoutingNumberValidResponse"/>
            <fault message="tns:EfeSystemFault_Exception" name="EfeSystemFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/isRoutingNumberValid/Fault/EfeSystemFault_Exception"/>
            <fault message="tns:EfeUnavailableFault_Exception" name="EfeUnavailableFault_Exception"
                   wsam:Action="http://www.intuit.com/engine/efp/efe/filer/wsdl/v2/EfeFilerPort/isRoutingNumberValid/Fault/EfeUnavailableFault_Exception"/>
        </operation>
    </portType>
    <binding name="EfeFilerPortBinding" type="tns:EfeFilerPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sync">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="submit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getMessages">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="syncByDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getMessagesByFilerId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getMessagesByTrackingNumber">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="listAgencies">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="listFormTypes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="isRoutingNumberValid">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="EfeSystemFault_Exception">
                <soap:fault name="EfeSystemFault_Exception" use="literal"/>
            </fault>
            <fault name="EfeUnavailableFault_Exception">
                <soap:fault name="EfeUnavailableFault_Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="EfeFilerService">
        <port name="EfeFilerPort" binding="tns:EfeFilerPortBinding">
            <soap:address location="https://efeprgtmprod-psp.tax.intuit.com/efe-filer/v2/psp"/>
        </port>
    </service>
</definitions>