phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Common/email-client/src/main/resources/schema/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Fred Chen (Intuit) -->
<xs:schema xmlns="http://www.intuit.com/ias/common/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.intuit.com/ias/common/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:element name="Error" type="ErrorDataType"/>
	<xs:complexType name="ErrorDataType">
		<xs:sequence>
			<xs:element name="Category">
				<xs:annotation>
					<xs:documentation>The category of the error. i.e. SYSTEM,INPUT,BUSINESS_LOGIC</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>The category of the error. i.e. SYSTEM,INPUT,BUSINESS_LOGIC</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SYSTEM"/>
						<xs:enumeration value="INPUT"/>
						<xs:enumeration value="TRANSITORY"/>
						<xs:enumeration value="BUSINESS_LOGIC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code" type="IDDataType">
				<xs:annotation>
					<xs:documentation>The code that identifies the error that occurs</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="DescriptionDataType">
				<xs:annotation>
					<xs:documentation>Human readeable description of the error. This field should not be used in error handling logic and should not be returned directly to the customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="SystemIDDataType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>if present, describe where in the system the error occured</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Header" type="HeaderDataType"/>
	<xs:complexType name="HeaderDataType">
		<xs:sequence>
			<xs:element name="TransactionId" type="IDDataType" minOccurs="0" form="qualified">
				<xs:annotation>
					<xs:documentation>Optional: An optional identifier client applications can set to indicate this request is part of a transaction. If set, the Notification Service retrieves the TransactionId sent in the request and returns the value in the response Header/TransactionId field. If the client application does not set this field, the Notification Service internally generates a unique identifier and returns that value in the responose Header/TransactionId field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalRequestId" type="IDDataType" minOccurs="0" form="qualified">
				<xs:annotation>
					<xs:documentation>(Not Used For Request) This field contains a unique identifier generated by the Notification Service to represent the specific request/response. It is used by the response message. Client applications do not set this field in the request. The Notification Service ignores any value set in the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationDateTime" type="xs:dateTime" minOccurs="0" form="qualified">
				<xs:annotation>
					<xs:documentation>The date/time of the request in ISO8601 format: YYYY-MM-DDThh:mm:ss{tz} where tz is the timezone designation +-hh:mm or Z for UTC time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CallerSystem" type="SystemIDDataType" form="qualified">
				<xs:annotation>
					<xs:documentation>Identifier for the entity calling the Notification Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceSystem" type="SystemIDDataType" form="qualified">
				<xs:annotation>
					<xs:documentation>Identifier for system originating the request to the Notification Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Endpoint" type="SystemIDDataType" minOccurs="0" form="qualified">
				<xs:annotation>
					<xs:documentation>(Not Used For Request) This field is set by the Notification Service in the Response header to indicate which system serviced the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ServiceVersion" type="VersionDataType" use="required" >
			<xs:annotation>
				<xs:documentation>The version of the service to call. This attribute is currently not used by the service,  but the value should be set to 1.0.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="VersionDataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SystemIDDataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDDataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DescriptionDataType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
