phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/amo-gateway/src/main/resources/CommonBillingProfileABO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Rajkumar Ramakrishnan (Intuit) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.intuit.net/xml/CommonBillingProfileABO" targetNamespace="http://www.intuit.net/xml/CommonBillingProfileABO" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights
                     reserved. Siebel XSD Generation</xsd:documentation>
	</xsd:annotation>	
	<xsd:complexType name="BillingProfileType">
		<xsd:sequence>
			<xsd:element name="AccountId" type="xsd:string"/>
			<xsd:element name="AccountName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaximumNumberOfRecords" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillingProfileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillingProfileId" type="xsd:string"/>
			<xsd:element name="ServiceAccountId" type="xsd:string"/>
			<xsd:element name="BillPOID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Language" type="xsd:string"/>
		<xsd:attribute name="Locale" type="xsd:string"/>
		<xsd:attribute name="MessageId" type="xsd:string"/>
		<xsd:attribute name="EnterpriseServerName" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="AccountBalanceSummaryType">
		<xsd:sequence>
			<xsd:element name="Balance" type="xsd:string"/>
			<xsd:element name="BalanceSummaryId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DueNow" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PendingPayments" type="xsd:string"/>
			<xsd:element name="Total" type="xsd:string"/>
			<xsd:element name="UnbilledUsage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UnresolvedDisputes" type="xsd:string"/>
			<xsd:element name="BillPOID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountBalanceSummaryListType">
		<xsd:sequence>
			<xsd:element name="AccountBalanceSummaryList" type="AccountBalanceSummaryType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledInvoiceProfileListType">
		<xsd:sequence>
			<xsd:element name="BilledInvoiceProfileList" type="BilledInvoiceProfileType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledInvoiceProfileType">
		<xsd:sequence>
			<xsd:element name="ARAmount" type="xsd:string"/>
			<xsd:element name="BillNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AmountDue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillPeriod" type="xsd:string"/>
			<xsd:element name="DueDate" type="xsd:string"/>
			<xsd:element name="PreviousBalance" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillPayment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillPOID" type="xsd:string"/>
			<xsd:element name="ServiceAccountId" type="xsd:string"/>
			<xsd:element name="AccountId" type="xsd:string"/>
			<xsd:element name="BillingProfileId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsagePaymentsListType">
		<xsd:sequence>
			<xsd:element name="BilledUsagePaymentsList" type="BilledUsagePaymentsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsagePaymentsType">
		<xsd:sequence>
			<xsd:element name="Allocated" type="xsd:string"/>
			<xsd:element name="UnAllocated" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Comments" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BilledUsagePaymentId" type="xsd:string"/>
			<xsd:element name="PaymentAmount" type="xsd:string"/>
			<xsd:element name="PaymentDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PaymentMethod" type="xsd:string"/>
			<xsd:element name="ConfirmationNumber" type="xsd:string"/>
			<xsd:element name="BillPOID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageArItemsType">
		<xsd:sequence>
			<xsd:element name="ArItem" type="xsd:string"/>
			<xsd:element name="Date" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Resource" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type" type="xsd:string"/>
			<xsd:element name="Amount" type="xsd:string"/>
			<xsd:element name="BillPOID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageArItemsListType">
		<xsd:sequence>
			<xsd:element name="BilledUsageArItemsList" type="BilledUsageArItemsType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillingProfileABMType">
		<xsd:sequence>
			<xsd:element ref="BillingProfile"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageItemChargesType">
		<xsd:sequence>
			<xsd:element name="BillPOID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillingProfileId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Charge" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceChargeId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceAccountId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ItemChargeId" type="xsd:string" minOccurs="0"/>
			<!-- Added for US1891  Start-->		
			<xsd:element name="AssetID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ItemCharge" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ItemName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShippingAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxRate" type="xsd:string" minOccurs="0"/>
			<!-- Added for End  -->	
			
			
			
			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageItemChargesListType">
		<xsd:sequence>
			<xsd:element name="BilledUsageItemChargesList" type="BilledUsageItemChargesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageServiceChargesType">
		<xsd:sequence>
			<xsd:element name="BillPOID" type="xsd:string"/>
			<xsd:element name="BillingProfileId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Charge" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Discount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceChargeId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceAccountId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BilledUsageItemCharges" type="BilledUsageItemChargesListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageServiceChargesListType">
		<xsd:sequence>
			<xsd:element name="BilledUsageServiceChargesList" type="BilledUsageServiceChargesType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledUsageChargesListType">
		<xsd:sequence>
			<xsd:element name="BilledUsageServiceCharges" type="BilledUsageServiceChargesListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillToPartyType">
		<xsd:sequence>
			<xsd:element name="AccountId" type="xsd:string"/>
			<xsd:element name="AccountName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaximumNumberOfRecords" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CurrencyCode" type="xsd:string"/>
			<xsd:element name="BillingProfileName" type="xsd:string"/>
			<xsd:element name="BillingProfileId" type="xsd:string"/>
			<xsd:element name="ServiceAccountId" type="xsd:string"/>
			<xsd:element name="BillPOID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillToPartyListType">
		<xsd:sequence>
			<xsd:element name="BillToPartyList" type="BillToPartyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Language" type="xsd:string"/>
		<xsd:attribute name="Locale" type="xsd:string"/>
		<xsd:attribute name="MessageId" type="xsd:string"/>
		<xsd:attribute name="EnterpriseServerName" type="xsd:string"/>
	</xsd:complexType>
	<!-- Added for US1891  Start-->	

	<xsd:complexType name="BilledItemDetailType">
		<xsd:sequence>
			<xsd:element name="BillingProfile" type="BillingProfileType"/>
			<xsd:element name="ItemChargeID" type="xsd:string"/>
			</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="BilledItemEventDetailType">
		<xsd:sequence>
			<xsd:element name="AccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillPOID" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillingProfileId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Charge" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Date" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Discount" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="Duration" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="EventId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ItemChargeId" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="NetAmount" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="AccountName" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BillingProfileName" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ServiceAccountId" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilledItemEventDetailListType">
		<xsd:sequence>
			<xsd:element name="BilledItemEventDetail" type="BilledItemEventDetailType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	


	
	<!-- Added for US1891  End-->	
	
	
	<xsd:element name="BillToParty" type="BillToPartyType"/>
	<xsd:element name="BillToPartyList" type="BillToPartyListType"/>
	<xsd:element name="BilledInvoiceDetails" type="BilledUsageChargesListType"/>
	<xsd:element name="BillingProfile" type="BillingProfileType"/>
	<xsd:element name="BilledInvoiceProfile" type="BilledInvoiceProfileListType"/>
	<xsd:element name="AccountBalanceSummary" type="AccountBalanceSummaryListType"/>
	<xsd:element name="BilledUsagePayments" type="BilledUsagePaymentsListType"/>
	<xsd:element name="BilledUsageArItemsType" type="BilledUsageArItemsListType"/>
<!-- Added for US1891  Start-->
	<xsd:element name="BilledItemDetail" type="BilledItemDetailType"/>
	<xsd:element name="BilledItemEventDetails" type="BilledItemEventDetailListType"/>
<!-- Added for US1891  End-->	
		
		
		
		
</xsd:schema>
