phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/amo-gateway/src/main/resources/Fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.intuit.net/xml/IntuitFault"
            targetNamespace="http://www.intuit.net/xml/IntuitFault"
            attributeFormDefault="unqualified" elementFormDefault="qualified">
 <xsd:annotation>
  <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights
                     reserved. Intuit XSD Generation</xsd:documentation>
 </xsd:annotation>
 <xsd:element name="BillingFault" type="FaultElemenetType"/>
 <xsd:complexType name="FaultElemenetType">
  <xsd:sequence>
   <xsd:element name="FaultElement" type="Fault" minOccurs="1" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="Fault">
  <xsd:sequence>
   <xsd:element name="Code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Detail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Summary" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>