phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/amo-gateway/src/main/resources/IntuitCommunicationABM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Gracie (Intuit) -->
<!--
** Intuit Inc.  **
** AIA Enterprise Object Library **
** Version: 1.00 **
** Date: Nov 1, 2009 **
 
Copyright (c) 2009, Intuit Inc. All rights reserved
 
    XML Schema 
    Name: \EnterpriseObjectsLibrary\Industry\Intuit\EBO\Communication\V1\IntuitCommunicationABM.xsd 
 
-->
<!-- ====================================================================== -->
<!-- =====          Intuit ABO Communication ABM Schema Module           ===== -->
<!-- ====================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns="http://www.intuit.com/DigiComms/IntuitCommunicationABO/xsd" targetNamespace="http://www.intuit.com/DigiComms/IntuitCommunicationABO/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.01">
	<!-- ====================================================================== -->
	<!-- ==============  Imports and Includes   =============================== -->
	<!-- ====================================================================== -->
	<xsd:include schemaLocation="IntuitCommunicationABO.xsd"/>
	
	<!-- ====================================================================== -->
	<xsd:annotation>
		<xsd:documentation>
			<svcdoc:ABO>
				<svcdoc:Description>IntuitCommunication ABM identifies all the service operations that are supported for the Communication ABO</svcdoc:Description>
				<svcdoc:Type>ABM</svcdoc:Type>
				<svcdoc:Industry/>
				<svcdoc:ABOName>IntuitCommunicationABO</svcdoc:ABOName>
			</svcdoc:ABO>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ====================================================================== -->
	<xsd:complexType name="IntuitCommunicationABMType">
		<xsd:complexContent>
			<xsd:extension base="IntuitCommunicationABOType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====================================================================== -->
	<!-- ==================    CreateCommunication Service     =================== -->
	<!-- ====================================================================== -->	
	<xsd:element name="CreateCommunicationABM" type="CreateCommunicationDataAreaType"/>
	<xsd:complexType name="CreateCommunicationDataAreaType">
		<xsd:sequence>
			<xsd:element name="TransactionInfo" type="TransactionInfoType">
				<xsd:annotation>
					<xsd:documentation>Transaction Info</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CreateCommunication"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateCommunicationType">
		<xsd:complexContent>
			<xsd:extension base="IntuitCommunicationABMType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CreateCommunication" type="CreateCommunicationType"/>
	<!-- ====================================================================== -->
	<!-- =============      CreateCommunication Response Service     ============= -->
	<!-- ====================================================================== -->
	<xsd:element name="CreateCommunicationResponseABM" type="CreateCommunicationResponseDataAreaType"/>
	<xsd:complexType name="CreateCommunicationResponseDataAreaType">
		<xsd:sequence>
			<xsd:element ref="CreateCommunicationResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateCommunicationResponseType">
		<xsd:complexContent>
			<xsd:extension base="ResponseTypeDataType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CreateCommunicationResponse" type="CreateCommunicationResponseType"/>
</xsd:schema>
