phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/amo-gateway/src/main/resources/IntuitBillingProfileABM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Hartono Tjitro (INTUIT INC) -->
<!--
** Intuit Inc.  **
** ABCS Interfaces **
** Version: 1.00 **
** Date: May, 2010 **
 
Copyright (c) 2010, Intuit Inc. All rights reserved
 
    XML Schema 
    Name:integration\Interfaces\ABCSInterfaces\Schema\AIAComponents\CustomerAssetABCSImpl\IntuitCustomerAssetABM.xsd

Domain: Asset
Source of Truth, Perforce Location: 
wcgbosp4.bos.intuit.com_1666\integration\Interfaces\ABCSInterfaces\Schema\AIAComponents\CustomerAssetABCSImpl
 
-->
<!-- ====================================================================== -->
<!-- =====          Intuit ABO Customer Account ABM Schema Module           ===== -->
<!-- ====================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:corecommunicationcust="http://xmlns.oracle.com/EnterpriseObjects/Industry/Intuit/EBO/Communication/V1" xmlns:corecomcust="http://xmlns.oracle.com/EnterpriseObjects/Core/Custom/Common/V2" xmlns:corecomEBO="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/EBO/V1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xacml-context="urn:oasis:names:tc:xacml:2.0:context:schema:cd:04" xmlns:xacml="urn:oasis:names:tc:xacml:2.0:policy:schema:cd:04" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns="http://www.intuit.com/iep/BillingProfile/BillingProfileABO/V1" targetNamespace="http://www.intuit.com/iep/BillingProfile/BillingProfileABO/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.01">
	<!-- ====================================================================== -->
	<!-- ==============  Imports and Includes   =============================== -->
	<!-- ====================================================================== -->
	<xsd:include schemaLocation="IntuitBillingProfileABO.xsd"/>
	<!-- ====================================================================== -->
	<xsd:annotation>
		<xsd:documentation>
			<svcdoc:ABO>
				<svcdoc:Description>IntuitBillingProfile ABM identifies all the service operations that are supported for the BillingProfile ABO</svcdoc:Description>
				<svcdoc:Type>ABM</svcdoc:Type>
				<svcdoc:Industry/>
				<svcdoc:ABOName>IntuitBillingProfileABO</svcdoc:ABOName>
			</svcdoc:ABO>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ====================================================================== -->
	<xsd:complexType name="IntuitBillingProfileABMType">
		<xsd:complexContent>
			<xsd:extension base="IntuitBillingProfileABOType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====================================================================== -->
	<!-- ==================    UpdateBillingProfile Service     =================== -->
	<!-- ====================================================================== -->
	<xsd:element name="UpdateBillingProfileABM" type="UpdateBillingProfileDataAreaType"/>
	<xsd:complexType name="UpdateBillingProfileDataAreaType">
		<xsd:sequence>
			<xsd:element name="TransactionInfo" type="TransactionInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transaction Info</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="UpdateBillingProfile"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateBillingProfileType">
		<xsd:complexContent>
			<xsd:extension base="BillingProfileType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="UpdateBillingProfile" type="UpdateBillingProfileType"/>
	<!-- ====================================================================== -->
	<!-- =============      UpdateBillingProfile Response Service     ============= -->
	<!-- ====================================================================== -->
	<xsd:element name="UpdateBillingProfileResponseABM" type="UpdateBillingProfileResponseDataAreaType"/>
	<xsd:complexType name="UpdateBillingProfileResponseDataAreaType">
		<xsd:sequence>
			<xsd:element ref="UpdateBillingProfileResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateBillingProfileResponseType">
		<xsd:complexContent>
			<xsd:extension base="BillingProfileResponseType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="UpdateBillingProfileResponse" type="UpdateBillingProfileResponseType"/>
	<!-- ====================================================================== -->
	<!-- =============     CustomerAsset EventService     ============= -->
	<!-- ====================================================================== -->
	<xsd:complexType name="TransactionInfoType">
		<xsd:annotation>
			<xsd:documentation>Transaction Info</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransactionId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transaction Id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransactionDatetime" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Transaction Datetime</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SalesOrganization" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sales Organization requesting the service</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
