phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/amo-gateway/src/main/resources/IntuitSalesOrderABM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Lynn Luu (Intuit) -->
<!--
** Intuit Inc.  **
** ABCS Interfaces **
** Version: 1.00 **
** Date: May, 2010 **
 
Copyright (c) 2010, Intuit Inc. All rights reserved
 
    XML Schema 
    Name://integration/AIA/AIAComponents/functional/AIAComponents/ApplicationObjectLibrary/Intuit/V1/schemas/IntuitSalesOrderABM.xsd

Domain: Order
Source of Truth, Perforce Location: 
wcgbosp4.bos.intuit.com_1666\//integration/AIA/AIAComponents/functional/AIAComponents/ApplicationObjectLibrary/Intuit/V1/schemas/
 
-->
<!-- ====================================================================== -->
<!-- =====          Intuit ABO Customer Account ABM Schema Module           ===== -->
<!-- ====================================================================== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:corecom="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/V2" xmlns:corecommunicationcust="http://xmlns.oracle.com/EnterpriseObjects/Industry/Intuit/EBO/Communication/V1" xmlns:corecomcust="http://xmlns.oracle.com/EnterpriseObjects/Core/Custom/Common/V2" xmlns:corecomEBO="http://xmlns.oracle.com/EnterpriseObjects/Core/Common/EBO/V1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xacml-context="urn:oasis:names:tc:xacml:2.0:context:schema:cd:04" xmlns:xacml="urn:oasis:names:tc:xacml:2.0:policy:schema:cd:04" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns="http://www.intuit.com/iep/SalesOrder/IntuitSalesOrderABO/V1" targetNamespace="http://www.intuit.com/iep/SalesOrder/IntuitSalesOrderABO/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.01">
	<!-- ====================================================================== -->
	<!-- ==============  Imports and Includes   =============================== -->
	<!-- ====================================================================== -->
	<xsd:include schemaLocation="IntuitSalesOrderABO.xsd"/>
	<!-- ====================================================================== -->
	<xsd:annotation>
		<xsd:documentation>
			<svcdoc:ABO>
				<svcdoc:Description>IntuitSalesOrder ABM identifies all the service operations that are supported for the SalesOrder ABO</svcdoc:Description>
				<svcdoc:Type>ABM</svcdoc:Type>
				<svcdoc:Industry/>
				<svcdoc:ABOName>IntuitSalesOrderABO</svcdoc:ABOName>
			</svcdoc:ABO>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ====================================================================== -->
	<xsd:complexType name="IntuitSalesOrderABMType">
		<xsd:complexContent>
			<xsd:extension base="IntuitSalesOrderABOType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====================================================================== -->
	<!-- ==================    GetCustomerAccount Service     =================== -->
	<!-- ====================================================================== -->
	<xsd:element name="CreateSalesOrderABM" type="CreateSalesOrderDataAreaType"/>
	<xsd:complexType name="CreateSalesOrderDataAreaType">
		<xsd:sequence>
			<xsd:element name="TransactionInfo" type="TransactionInfoType">
				<xsd:annotation>
					<xsd:documentation>Transaction Info</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CreateSalesOrder"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateSalesOrderType">
		<xsd:complexContent>
			<xsd:extension base="IntuitSalesOrderABMType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CreateSalesOrder" type="CreateSalesOrderType"/>
	<!-- ====================================================================== -->
	<!-- =============      GetCustomerAccount Response Service     ============= -->
	<!-- ====================================================================== -->
	<xsd:element name="CreateSalesOrderResponseABM" type="CreateSalesOrderResponseDataAreaType"/>
	<xsd:complexType name="CreateSalesOrderResponseDataAreaType">
		<xsd:sequence>
			<xsd:element ref="CreateSalesOrderResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateSalesOrderResponseType">
		<xsd:complexContent>
			<xsd:extension base="SalesOrderResponseType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="CreateSalesOrderResponse" type="CreateSalesOrderResponseType"/>
</xsd:schema>
