phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/Address.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://address.xsd.wsapi.dd.pse.osp.intuit" xmlns:ns1="http://address.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://address.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Data Transfer Object Address</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="AddressLine1" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="80"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLine2" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="80"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLine3" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="80"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="State" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AL"/>
						<xs:enumeration value="AK"/>
						<xs:enumeration value="AS"/>
						<xs:enumeration value="AZ"/>
						<xs:enumeration value="AR"/>
						<xs:enumeration value="CA"/>
						<xs:enumeration value="CO"/>
						<xs:enumeration value="CT"/>
						<xs:enumeration value="DE"/>
						<xs:enumeration value="DC"/>
						<xs:enumeration value="FM"/>
						<xs:enumeration value="FL"/>
						<xs:enumeration value="GA"/>
						<xs:enumeration value="GU"/>
						<xs:enumeration value="HI"/>
						<xs:enumeration value="ID"/>
						<xs:enumeration value="IL"/>
						<xs:enumeration value="IN"/>
						<xs:enumeration value="IA"/>
						<xs:enumeration value="KS"/>
						<xs:enumeration value="KY"/>
						<xs:enumeration value="LA"/>
						<xs:enumeration value="ME"/>
						<xs:enumeration value="MH"/>
						<xs:enumeration value="MD"/>
						<xs:enumeration value="MA"/>
						<xs:enumeration value="MI"/>
						<xs:enumeration value="MN"/>
						<xs:enumeration value="MS"/>
						<xs:enumeration value="MO"/>
						<xs:enumeration value="MT"/>
						<xs:enumeration value="NE"/>
						<xs:enumeration value="NV"/>
						<xs:enumeration value="NH"/>
						<xs:enumeration value="NJ"/>
						<xs:enumeration value="NM"/>
						<xs:enumeration value="NY"/>
						<xs:enumeration value="NC"/>
						<xs:enumeration value="ND"/>
						<xs:enumeration value="MP"/>
						<xs:enumeration value="OH"/>
						<xs:enumeration value="OK"/>
						<xs:enumeration value="OR"/>
						<xs:enumeration value="PW"/>
						<xs:enumeration value="PA"/>
						<xs:enumeration value="PR"/>
						<xs:enumeration value="RI"/>
						<xs:enumeration value="SC"/>
						<xs:enumeration value="SD"/>
						<xs:enumeration value="TN"/>
						<xs:enumeration value="TX"/>
						<xs:enumeration value="UT"/>
						<xs:enumeration value="VT"/>
						<xs:enumeration value="VI"/>
						<xs:enumeration value="VA"/>
						<xs:enumeration value="WA"/>
						<xs:enumeration value="WV"/>
						<xs:enumeration value="WI"/>
						<xs:enumeration value="WY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZipCode" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
						<xs:pattern value="[0-9]{5}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZipCodeExtension" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{0}|[0-9]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
