phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/BadDebtRecoverRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://baddebtrecoverrs.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:bdrr="http://baddebtrecoverrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit">
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>

	<element name="BadDebtRecoverRs" type="bdrr:BadDebtRecoverRsType"/>

	<complexType name="BadDebtRecoverRsType">
		<sequence>
			<element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
</schema>