phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/BankReturnQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://bankreturnquery.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
    elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>

	<xs:element name="BankReturnQuery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="CompanyID" type="dd:IDType" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="FEIN" type="dd:FEINType" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="ReturnStatusCd" type="dd:ReturnStatusType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="PseTransactionID" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DateFrom" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="DateTo" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="StartIndex" type="xs:int" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xs:element name="EndIndex" type="xs:int" nillable="true" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>