phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/BankReturnQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://bankreturnqueryrs.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:br="http://bankreturnret.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit"
    elementFormDefault="qualified">
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:import namespace="http://bankreturnret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="BankReturnRet.xsd"/>

	<xs:element name="BankReturnQueryRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TotalRecordCount" type="xs:int" nillable="true" minOccurs="0" maxOccurs="1"></xs:element>
				<xs:element name="BankReturnRet" type="br:BankReturnRet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>