phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/BankAccount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Data Transfer Object BankAccount</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BankAccount">
		<xs:sequence>
			<xs:element name="AccountNumber" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="17"/>
						<xs:pattern value="[&#x20;-&#x7E;]*[&#x20;-&#x7E;]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RoutingNumber" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="9"/>
						<xs:pattern value="(01|02|03|04|05|06|07|08|09|10|11|12|21|22|23|24|25|26|27|28|29|30|31|32)[0-9]{7}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountType" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="C"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BankName" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
