phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/BankReturnRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://bankreturnret.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns="http://bankreturnret.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:ci="http://companyinfo.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:ba="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:ei="http://employeeinfo.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
    elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://companyinfo.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanyInfo.xsd"/>
	<xs:import namespace="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="BankAccount.xsd"/>
	<xs:import namespace="http://employeeinfo.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="EmployeeInfo.xsd"/>

	<xs:complexType name="BankReturnRet">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyInfo" type="ci:CompanyInfo" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PseReturnID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PseTransactionID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BankReturnCd" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BankReturnDesc" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReturnDate" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReturnStatusCd" type="dd:ReturnStatusType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReturnStatusDesc" type="xs:string" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TxTypeCode" type="dd:TxType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TxDate" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FinancialTxAmt" type="dd:AmountType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BankAccount" type="ba:BankAccount" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmployeeInfo" type="ei:EmployeeInfo" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DDTxBatchID" type="dd:IDType" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaycheckDepositDate" type="xs:date" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>