phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/BankReturnUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:ns1="http://bankreturnupdate.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://bankreturnupdate.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:element name="BankReturnUpdate">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
				<xs:element name="CompanyId" type="dd:IDType" nillable="false"/>
				<xs:element name="PseTransactionId" type="dd:IDType" nillable="false"/>
				<xs:element name="BankReturnStatus" type="dd:ReturnStatusType" nillable="false"/>
				<xs:element name="CompanyNote" type="xs:string" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
