phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyNoteRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://companynoteret.xsd.wsapi.dd.pse.osp.intuit" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:complexType name="CompanyNoteRet">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
			<xs:element name="CompanyNoteDateTime" type="xs:dateTime" nillable="false"/>
			<xs:element name="Notes" type="xs:string" nillable="false"/>
			<xs:element name="UserID" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>