phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyNoteAddRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cnr="http://companynoteret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://companynoteaddrs.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:import namespace="http://companynoteret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanyNoteRet.xsd"/>
	<xs:element name="CompanyNoteAddRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyNoteRet" type="cnr:CompanyNoteRet" nillable="false"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
