phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://companybankaccountret.xsd.wsapi.dd.pse.osp.intuit" xmlns:ba="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://companybankaccountret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="BankAccount.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object CompanyBankAccountRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CompanyBankAccountRet">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
			<xs:element name="CompanyBankAccountID" type="dd:IDType" nillable="false"/>
			<xs:element name="BankAccount" type="ba:BankAccount" nillable="false"/>
			<xs:element name="CompanyBankAccountStatusCd" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PNDVER"/>
						<xs:enumeration value="ACTV"/>
						<xs:enumeration value="INACTV"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VerificationRetryCount" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2"/>
						<xs:fractionDigits value="0"/>
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
