phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://companybankaccountquery.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://companybankaccountquery.xsd.wsapi.dd.pse.osp.intuit"	elementFormDefault="qualified">

	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:element name="CompanyBankAccountQuery"
		type="ns:CompanyBankAccountQueryType">
        <xs:annotation>
        	<xs:documentation>Data Transfer Object CompanyBankAccountQuery</xs:documentation>
        </xs:annotation>
	</xs:element>

	<xs:complexType name="CompanyBankAccountQueryType">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false">
			</xs:element>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false">
			</xs:element>
			<xs:element name="CompanyBankAccountStatusCd" type="ns:CompanyBankAccountStatusCdType" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CompanyBankAccountStatusCdType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTV"></xs:enumeration>
			<xs:enumeration value="INACTV"></xs:enumeration>
			<xs:enumeration value="PNDVER"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>