phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountStatusHistoryRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:fhr="http://companybankaccountstatushistoryret.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
	targetNamespace="http://companybankaccountstatushistoryret.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object CompanyBankAccountStatusHistoryRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CompanyBankAccountStatusHistoryRet">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyBankAccountID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyBankAccountStatusCd" type="dd:CompanyBankAccountStatusType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CompanyBankAccountStatusName" type="xs:string" nillable="false" maxOccurs="1"/>
			<xs:element name="DateTime" type="xs:dateTime" nillable="false" minOccurs="1" maxOccurs="1"/>
			<xs:element name="UserID" type="xs:string" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>