phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanySystemEventRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://companysystemeventret.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:se="http://systemeventdata.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://companysystemeventret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://systemeventdata.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="SystemEventData.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object CompanySystemEventRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CompanySystemEventRet">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
			<xs:element name="SystemEventDateTime" type="xs:dateTime" nillable="false"/>
			<xs:element name="SystemEventCd" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACHRETRN"/>
						<xs:enumeration value="CBASTATCHG"/>
						<xs:enumeration value="DDINCPRLMT"/>
						<xs:enumeration value="DDOVRPRLMT"/>
						<xs:enumeration value="DDSTATCHG"/>
						<xs:enumeration value="PYRLCANCLD"/>
						<xs:enumeration value="REVERSALRQ"/>
						<xs:enumeration value="REVERSALOK"/>
						<xs:enumeration value="STRIKE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SystemEventDescShort" type="xs:string" nillable="false"/>
			<xs:element name="SystemEventDescLong" type="xs:string" nillable="false"/>
			<xs:element name="SystemEventData" type="se:SystemEventData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
