phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://companyinfo.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:ci="http://companyinfo.xsd.wsapi.dd.pse.osp.intuit">
	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"></import>

	<complexType name="CompanyInfo">
		<sequence>
			<element name="CompanyID" type="ns:IDType" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="FEIN" type="ns:FEINType" minOccurs="1"
				maxOccurs="1">
			</element>
			<element name="LegalName" type="string" minOccurs="1"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>
</schema>