phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://companybankaccountqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://companybankaccountqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" xmlns:cbar="http://companybankaccountret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://companybankaccountret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanyBankAccountRet.xsd">
	</import>
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<element name="CompanyBankAccountQueryRs" type="ns:CompanyBankAccountQueryRsType">
	</element>
	<complexType name="CompanyBankAccountQueryRsType">
		<sequence>
			<element name="CompanyBankAccountRet" type="cbar:CompanyBankAccountRet" minOccurs="0" maxOccurs="unbounded">
    		</element>
			<element name="ResponseStatus" type="rs:ResponseStatus"/>
		</sequence>
	</complexType>
</schema>
