phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyEventRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://companyeventret.xsd.wsapi.dd.pse.osp.intuit" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ced="http://systemeventdata.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://systemeventdata.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="SystemEventData.xsd"/>
	<xs:complexType name="CompanyEventRet">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
			<xs:element name="PSECompanyEventID" type="dd:IDType" nillable="false"/>
			<xs:element name="CompanyEventDateTime" type="xs:dateTime" nillable="false"/>
			<xs:element name="CompanyEventCd" type="xs:string" nillable="false"/>
			<xs:element name="CompanyEventDescShort" type="xs:string" nillable="false"/>
			<xs:element name="CompanyEventDescLong" type="xs:string" nillable="false"/>
			<xs:element name="SystemEvent" type="xs:boolean" nillable="false"/>
			<xs:element name="CompanyEventData" type="ced:SystemEventData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CompanyEventStatus" type="xs:string" nillable="false"/>
			<xs:element name="UserID" type="xs:string" nillable="false"/>
			<xs:element name="CancelUserID" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="CancelDate" type="xs:dateTime" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>