phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountResetVerifyCountRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://companybankaccountresetverifycountrs.xsd.wsapi.dd.pse.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://companybankaccountresetverifycountrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd">
	</import>
	<element name="CompanyBankAccountResetVerifyCountRs" type="ns:CompanyBankAccountResetVerifyCountRsType">
	</element>
	<complexType name="CompanyBankAccountResetVerifyCountRsType">
		<sequence>
			<element name="ResponseStatus" type="rs:ResponseStatus"/>
		</sequence>
	</complexType>
</schema>
