phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanySystemEventSyncRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Jeff Jones (INTUIT INC.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://companysystemeventsyncrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:es="http://companysystemeventret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://companysystemeventsyncrs.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://companysystemeventret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanySystemEventRet.xsd"/>
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:element name="CompanySystemEventSyncRs">
		<xs:annotation>
			<xs:documentation>Data Transfer Object CompanySystemEventSyncRs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SystemEventTimeStamp" type="xs:dateTime" nillable="false"/>
				<xs:element name="CompanySystemEventRet" type="es:CompanySystemEventRet" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
