phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountResetVerifyCount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://companybankaccountresetverifycount.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns="http://companybankaccountresetverifycount.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit">

	<xs:import
		namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
		schemaLocation="PSEDDCommonTypes.xsd" />
	<xs:element name="CompanyBankAccountResetVerifyCount"
		type="ns:CompanyBankAccountResetVerifyCountType">
		<xs:annotation>
			<xs:documentation>
				Data Transfer Object CompanyBankAccountResetVerifyCount
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="CompanyBankAccountResetVerifyCountType">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
			<xs:element name="CompanyBankAccountID" type="dd:IDType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>