phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyEventQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://companyeventqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cer="http://companyeventret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:import namespace="http://companyeventret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanyEventRet.xsd"/>

	<xs:element name="CompanyEventQueryRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyEventRet" type="cer:CompanyEventRet" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>