phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/CompanyBankAccountStatusHistoryQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cbashqr="http://companybankaccountstatushistoryqueryrs.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:cbashr="http://companybankaccountstatushistoryret.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit"
	targetNamespace="http://companybankaccountstatushistoryqueryrs.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified">
	<xs:import namespace="http://companybankaccountstatushistoryret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanyBankAccountStatusHistoryRet.xsd" />
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd" />

	<xs:element name="CompanyBankAccountStatusHistoryQueryRs" type="cbashqr:CompanyBankAccountStatusHistoryQueryRsType">
		<xs:annotation>
			<xs:documentation>Data Transfer Object CompanyBankAccountStatusHistoryQueryRs</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="CompanyBankAccountStatusHistoryQueryRsType">
		<xs:sequence>
			<xs:element name="CompanyBankAccountStatusHistoryRet" type="cbashr:CompanyBankAccountStatusHistoryRet" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>