phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDCompanyLimitsUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns="http://ddcompanylimitsupdate.xsd.wsapi.dd.pse.osp.intuit"
           xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
           xmlns:cm="http://company.xsd.wsapi.dd.pse.osp.intuit"
           targetNamespace="http://ddcompanylimitsupdate.xsd.wsapi.dd.pse.osp.intuit"
           elementFormDefault="qualified">
    <xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
    <xs:element name="DDCompanyLimitsUpdate">
        <xs:annotation>
            <xs:documentation>Data Transfer Object DDCompanyLimitsUpdate</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
                <xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
                <xs:element name="CompanyLimitAmt" type="dd:AmountType" nillable="true"/>
                <xs:element name="EmployeeLimitAmt" type="dd:AmountType" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
