phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDCompanyExRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ce="http://companyex.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:ns="http://ddcompanyexret.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddcompanyexret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<import namespace="http://companyex.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="CompanyEx.xsd"/>
	<complexType name="DDCompanyExRet">
		<sequence>
			<element name="CompanyEx" type="ce:CompanyEx" nillable="false"/>
			<element name="FundingModelCd" type="dd:FundingModelType" nillable="false"/>
			<element name="FundingModelDesc" type="string" nillable="false"/>
			<element name="AveragePayrollAmt" type="dd:AmountType" minOccurs="0"/>
			<element name="PayrollFrequency" type="dd:FrequencyType" minOccurs="0"/>
			<element name="HighAnnualPayAmt" type="dd:AmountType" minOccurs="0"/>
			<element name="CompanyDDStatusCd" type="dd:DDCompanyStatusType" nillable="false"/>
			<element name="CompanyLimitAmt" type="dd:AmountType" minOccurs="0"/>
			<element name="EmployeeLimitAmt" type="dd:AmountType" minOccurs="0"/>
			<element name="PayrollRunTotalCount" type="int" nillable="false"/>
			<element name="BankReturnTotalCount" type="int" nillable="false"/>
			<element name="Strike12MonthCount" type="int" nillable="false"/>
			<element name="LimitViolationTotalCount" type="int" nillable="false"/>
			<element name="LimitViolationConsecutiveCount" type="int" nillable="false"/>
			<element name="LastTransactionResponseToken" type="int" nillable="false"/>
		</sequence>
	</complexType>
</schema>
