phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDCompanyRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddcompanyret.xsd.wsapi.dd.pse.osp.intuit" xmlns:cm="http://company.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddcompanyret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://company.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="Company.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object DDCompanyRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DDCompanyRet">
		<xs:sequence>
			<xs:element name="Company" type="cm:Company" nillable="false"/>
			<xs:element name="FundingModelCd" type="dd:FundingModelType" nillable="false"/>
			<xs:element name="FundingModelDesc" type="xs:string" nillable="false"/>
			<xs:element name="AveragePayrollAmt" type="dd:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="PayrollFrequency" type="dd:FrequencyType" nillable="true" minOccurs="0"/>
			<xs:element name="HighAnnualPayAmt" type="dd:AmountType" nillable="true" minOccurs="0"/>
			<xs:element name="CompanyDDStatusCd" type="dd:DDCompanyStatusType" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
