phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDCompanyAdd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Jeff Jones (INTUIT INC.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddcompanyadd.xsd.wsapi.dd.pse.osp.intuit" xmlns:cm="http://company.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddcompanyadd.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://company.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="Company.xsd"/>
	<xs:element name="DDCompanyAdd">
		<xs:annotation>
			<xs:documentation>Data Transfer Object DDCompanyAdd</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Company" type="cm:Company" nillable="false"/>
				<xs:element name="AveragePayrollAmt" type="dd:AmountType" nillable="true" minOccurs="0"/>
				<xs:element name="PayrollFrequencyCd" type="dd:FrequencyType" nillable="true" minOccurs="0"/>
				<xs:element name="HighAnnualPayAmt" type="dd:AmountType" nillable="true" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
