phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTransactionRecall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtransactionrecall.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:tb="http://ddtxrecallbatch.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddtransactionrecall.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://ddtxrecallbatch.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="DDTxRecallBatch.xsd"/>
	<xs:element name="DDTransactionRecall">
		<xs:annotation>
			<xs:documentation>Data Transfer Object DDTransactionRecall</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestID" type="dd:IDType" nillable="false"/>
				<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
				<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
				<xs:element name="Token" type="dd:IntType" nillable="false"/>
				<xs:element name="DDTxRecallBatch" type="tb:DDTxRecallBatch" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
