phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTransactionRecallRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtransactionrecallrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:tr="http://transactionresponseret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddtransactionrecallrs.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://transactionresponseret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="TransactionResponseRet.xsd"/>
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:element name="DDTransactionRecallRs">
		<xs:annotation>
			<xs:documentation>Data Transfer Object DDTransactionRecallRs</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionResponseRet" type="tr:TransactionResponseRet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
