phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTransactionVoidTx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtransactionvoidtx.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddtransactionvoidtx.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<element name="DDTransactionVoidTx" type="ns:DDTransactionVoidTxType"/>
	<complexType name="DDTransactionVoidTxType">
		<sequence>
			<element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
			<element name="CompanyID" type="dd:IDType" nillable="false"/>
			<element name="PSETransactionID" type="dd:IDType" nillable="false"/>
		</sequence>
	</complexType>
</schema>
