phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTransactionReverseRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://ddtransactionreversers.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtransactionreversers.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit">
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"></import>

	<element name="DDTransactionReverseRs"
		type="ns:DDTransactionReverseRsType">
	</element>

	<complexType name="DDTransactionReverseRsType">
		<sequence>
			<element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"
				minOccurs="1" maxOccurs="1">
			</element>
		</sequence>
	</complexType>
</schema>