phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTxRecallBatch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtxrecallbatch.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddtxrecallbatch.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
		<xs:annotation>
			<xs:documentation>Data Transfer Object DDTxRecallBatch</xs:documentation>
		</xs:annotation>
		<xs:complexType name="DDTxRecallBatch">
			<xs:sequence>
				<xs:element name="DDTxBatchID" type="dd:IDType" nillable="false"/>
				<xs:element name="DDTransactionID" type="dd:IDType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
</xs:schema>
