phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtx.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:ba="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddtx.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://bankaccount.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="BankAccount.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object DDTx</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DDTx">
		<xs:sequence>
			<xs:element name="DDTransactionID" type="dd:IDType" nillable="false"/>
			<xs:element name="EmployeeBankAccountID" type="dd:IDType" nillable="false"/>
			<xs:element name="BankAccount" type="ba:BankAccount" nillable="true" minOccurs="0"/>
			<xs:element name="TxAmount" type="dd:AmountType" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
