phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/DDTxBatch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://ddtxbatch.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:ec="http://eecheck.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://ddtxbatch.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://eecheck.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="EECheck.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object EECheck</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DDTxBatch">
		<xs:sequence>
			<xs:element name="DDTxBatchID" type="dd:IDType" nillable="false"/>
			<xs:element name="CompanyBankAccountID" type="dd:IDType" nillable="false"/>
			<xs:element name="TargetDDTxDate" type="xs:date" nillable="false"/>
			<xs:element name="EECheck" type="ec:EECheck" nillable="false" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
