phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/EECheck.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://eecheck.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:tx="http://ddtx.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://eecheck.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://ddtx.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="DDTx.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object EECheck</xs:documentation>
	</xs:annotation>
	<xs:complexType name="EECheck">
		<xs:sequence>
			<xs:element name="PaycheckID" type="dd:IDType" nillable="false"/>
			<xs:element name="EmployeeID" type="dd:IDType" nillable="false"/>
			<xs:element name="DDTx" type="tx:DDTx" nillable="false" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
