phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/EEFinancialTx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://eefinancialtx.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://eefinancialtx.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object EEFinancialTx</xs:documentation>
	</xs:annotation>
	<xs:complexType name="EEFinancialTx">
		<xs:sequence>
			<xs:element name="DDTransactionID" type="dd:IDType" nillable="false"/>
			<xs:element name="DDTxDate" type="xs:date" nillable="false"/>
			<xs:element name="TxStatusCd" type="dd:TxStatusType" nillable="false"/>
			<xs:element name="TxStatusDesc" type="xs:string" nillable="false"/>
			<xs:element name="TxStatusEffDate" type="xs:date" nillable="false"/>
			<xs:element name="DDTxAmt" type="dd:AmountType" nillable="false"/>
			<xs:element name="PaycheckID" type="dd:IDType" nillable="false"/>
			<xs:element name="EmployeeID" type="dd:IDType" nillable="false"/>
			<xs:element name="EEBankAccountID" type="dd:IDType" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
