phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/EEFinancialTxAddRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://eefinancialtxaddrs.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:eeftar="http://eefinancialtxaddrs.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:eeftr="http://eefinancialtxret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit">

	<import	namespace="http://eefinancialtxret.xsd.wsapi.dd.pse.osp.intuit"	schemaLocation="EEFinancialTxRet.xsd"></import>
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"></import>
	<element name="EEFinancialTxAddRs" type="eeftar:EEFinancialTxAddRsType"></element>

	<complexType name="EEFinancialTxAddRsType">
		<sequence>
			<element name="EEFinancialTxRet" type="eeftr:EEFinancialTxRet" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>
</schema>