phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/EmployeeInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://employeeinfo.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://employeeinfo.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object EmployeeInfo</xs:documentation>
	</xs:annotation>
	<xs:complexType name="EmployeeInfo">
		<xs:sequence>
			<xs:element name="EmployeeID" type="dd:IDType" nillable="false"/>
			<xs:element name="FirstName" type="dd:FirstNameType" nillable="false"/>
			<xs:element name="LastName" type="dd:LastNameType" nillable="false"/>
			<xs:element name="MiddleName" type="dd:MiddleNameType" nillable="true" minOccurs="0"/>
			<xs:element name="SocialSecurityNumber" type="dd:SSNType" nillable="true" minOccurs="0"/>
			<xs:element name="EmployeeStatusCd">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACTV"/>
						<xs:enumeration value="INACTV"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element> 
		</xs:sequence>
	</xs:complexType>
</xs:schema>
