phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://employee.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://employee.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object Employee</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Employee">
		<xs:sequence>
			<xs:element name="EmployeeID" type="dd:IDType" nillable="false"/>
			<xs:element name="FirstName" type="dd:FirstNameType" nillable="false"/>
			<xs:element name="LastName" type="dd:LastNameType" nillable="false"/>
			<xs:element name="MiddleName" type="dd:MiddleNameType" nillable="true" minOccurs="0"/>
			<xs:element name="SocialSecurityNumber" type="dd:SSNType" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
