phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ERFeeAdd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://erfeeadd.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ns="http://erfeeadd.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit">

	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"></import>
	<element name="ERFeeAdd"
		type="ns:ERFeeAddType">
	</element>

	<complexType name="ERFeeAddType">
		<sequence>
			<element name="SourceSystemCd" type="dd:SourceSystemType"
				nillable="false" minOccurs="1" maxOccurs="1">
			</element>
			<element name="CompanyID" type="dd:IDType" nillable="false"
				minOccurs="1" maxOccurs="1">
			</element>
            <element name="DDTxBatchID" type="dd:IDType"
                nillable="false" minOccurs="1" maxOccurs="1">
            </element>
            <element name="TxSettlementTypeCd" type="dd:TxSettlementType"
                nillable="false" minOccurs="1" maxOccurs="1">
            </element>
            <element name="TxDate" type="date"
                     nillable="false" minOccurs="1" maxOccurs="1">
            </element>
            <element name="FinancialTxAmt" type="dd:AmountType" nillable="false"
                minOccurs="1" maxOccurs="1">
            </element>
            <element name="CompanyBankAccountID" type="dd:IDType" nillable="true"
                minOccurs="0" maxOccurs="1">
            </element>
            <element name="FeeTypeCd" type="dd:FeeType"
                nillable="false" minOccurs="1" maxOccurs="1">
            </element>

        </sequence>
	</complexType>
	
</schema>