phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ERFinancialTxCancelRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://erfinancialtxcancelrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://erfinancialtxcancelrs.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<element name="ERFinancialTxCancelRs" type="ns:ERFinancialTxCancelRsType"/>
	<complexType name="ERFinancialTxCancelRsType">
		<sequence>
			<element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
		</sequence>
	</complexType>
</schema>
