phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ERFinancialTx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://erfinancialtx.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://erfinancialtx.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object ERFinancialTx</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ERFinancialTx">
		<xs:sequence>
			<xs:element name="TxTypeCd" type="dd:TxType" nillable="false"/>
			<xs:element name="TxTypeDesc" type="xs:string" nillable="false"/>
			<xs:element name="TxDate" type="xs:date" nillable="false"/>
			<xs:element name="CompanyBankAccountID" type="dd:IDType" nillable="false"/>
			<xs:element name="TxStatusCd" type="dd:TxStatusType" nillable="false"/>
			<xs:element name="TxStatusDesc" type="xs:string" nillable="false"/>
			<xs:element name="TxStatusEffDate" type="xs:date" nillable="false"/>
			<xs:element name="FinancialTxAmt" type="dd:AmountType" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
