phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ERFinancialTxQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://erfinancialtxqueryrs.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:erftqr="http://erfinancialtxqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:erftr="http://erfinancialtxret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit">
	<import	namespace="http://erfinancialtxret.xsd.wsapi.dd.pse.osp.intuit"	schemaLocation="ERFinancialTxRet.xsd"></import>
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"></import>

    <element name="ERFinancialTxQueryRs" type="erftqr:ERFinancialTxQueryRsType"></element>

    <complexType name="ERFinancialTxQueryRsType">
    	<sequence>
    		<element name="ERFinancialTxRet" type="erftr:ERFinancialTxRet" minOccurs="0" maxOccurs="unbounded"></element>
    		<element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>