phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ERFinancialTxAddRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://erfinancialtxaddrs.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:erftar="http://erfinancialtxaddrs.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:erftr="http://erfinancialtxret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit">

	<import	namespace="http://erfinancialtxret.xsd.wsapi.dd.pse.osp.intuit"	schemaLocation="ERFinancialTxRet.xsd"></import>
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"></import>

	<element name="ERFinancialTxAddRs" type="erftar:ERFinancialTxAddRsType" nillable="false"></element>

	<complexType name="ERFinancialTxAddRsType">
		<sequence>
			<element name="ERFinancialTxRet" type="erftr:ERFinancialTxRet" minOccurs="0" maxOccurs="unbounded"></element>
			<element name="ResonseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>
</schema>