phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ERFinancialTxQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://erfinancialtxquery.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:erftq="http://erfinancialtxquery.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit">
	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"></import>

    <element name="ERFinancialTxQuery" type="erftq:ERFinancialTxQueryType" nillable="false"></element>

    <complexType name="ERFinancialTxQueryType">
    	<sequence>
    		<element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"></element>
    		<element name="CompanyID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"></element>
    		<element name="DDTxBatchID" type="dd:IDType" minOccurs="0" maxOccurs="1"></element>
    		<element name="TxTypeCd" type="dd:ERTxType" minOccurs="0" maxOccurs="1"></element>
    		<element name="TxDateFrom" type="date" minOccurs="0" maxOccurs="1"></element>
    		<element name="TxDateTo" type="date" minOccurs="0" maxOccurs="1"></element>
    		<element name="CompanyBankAccountID" type="dd:IDType" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>