phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/EscalationAdd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://escalationadd.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ea="http://escalationadd.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit">
	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<element name="EscalationAdd" type="ea:EscalationAddType"/>

	<complexType name="EscalationAddType">
		<sequence>
			<element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="CompanyID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="DDTxBatchID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="Employee" type="boolean" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="TxSettlementTypeCd" type="dd:NonACHTxSettlementType" nillable="false" minOccurs="1" maxOccurs="1" />
			<element name="FinancialTxAmt" type="dd:AmountType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="TxDate" type="date" nillable="false" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
</schema>