phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/FeeRedebitAddRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:ns="http://feeredebitaddrs.xsd.wsapi.dd.pse.osp.intuit" 
		xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" 
		targetNamespace="http://feeredebitaddrs.xsd.wsapi.dd.pse.osp.intuit" 
		elementFormDefault="qualified">
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<element name="FeeRedebitAddRs" type="ns:FeeRedebitAddRsType"/>
	<complexType name="FeeRedebitAddRsType">
		<sequence>
			<element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
		</sequence>
	</complexType>
</schema>
