phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/FieldHistoryQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:fhqr="http://fieldhistoryqueryrs.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:fhr="http://fieldhistoryret.xsd.wsapi.dd.pse.osp.intuit"
	xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit"
	targetNamespace="http://fieldhistoryqueryrs.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified">
	<xs:import namespace="http://fieldhistoryret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="FieldHistoryRet.xsd" />
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd" />

	<xs:element name="FieldHistoryQueryRs" type="fhqr:FieldHistoryQueryRsType">
		<xs:annotation>
			<xs:documentation>Data Transfer Object FieldHistoryQueryRs</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="FieldHistoryQueryRsType">
		<xs:sequence>
			<xs:element name="FieldHistoryRet" type="fhr:FieldHistoryRet" nillable="true" minOccurs="0" maxOccurs="1" />
			<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>