phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/LedgerEntryQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ledgerentryquery.xsd.wsapi.dd.pse.osp.intuit"
        xmlns:ns="http://ledgerentryquery.xsd.wsapi.dd.pse.osp.intuit"
        xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
        elementFormDefault="qualified">
        <xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
                   schemaLocation="PSEDDCommonTypes.xsd"/>
        <xs:element name="LedgerEntryQuery" type="ns:LedgerEntryQueryType">
            <xs:annotation>
                <xs:documentation>
                    Data Transfer Object LedgerEntryQuery
                </xs:documentation>
            </xs:annotation>
        </xs:element>

        <xs:complexType name="LedgerEntryQueryType">
            <xs:sequence>
                <xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element name="CompanyID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
                <xs:element name="DDTxBatchID" type="dd:IDType"	nillable="true" minOccurs="0" maxOccurs="1"/>
                <xs:element name="LedgerAccountCd" type="dd:LedgerAccountType" nillable="true" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>