phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/LedgerEntryRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns="http://ledgerentryret.xsd.wsapi.dd.pse.osp.intuit"
           xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit"
           targetNamespace="http://ledgerentryret.xsd.wsapi.dd.pse.osp.intuit"
           elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object LedgerEntryRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LedgerEntryRet">
		<xs:sequence>
            <xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false"/>
            <xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
            <xs:element name="DDTxBatchID" type="dd:IDType" nillable="true" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="LedgerAccountCd" type="dd:LedgerAccountType" nillable="false"/>
			<xs:element name="LedgerAccountDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Amount" type="dd:AmountType" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="Credit" type="xs:boolean" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="TxTypeCd" type="dd:TxType" nillable="false" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="TxTypeDesc" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="TxStatusCd" type="dd:TxStatusType" nillable="false" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="TxStatusDesc" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="PostingDate" type="xs:date" nillable="false" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
