phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/LedgerAccountQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns="http://ledgeraccountqueryrs.xsd.wsapi.dd.pse.osp.intuit"
           xmlns:lar="http://ledgeraccountret.xsd.wsapi.dd.pse.osp.intuit"
           xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit"
           targetNamespace="http://ledgeraccountqueryrs.xsd.wsapi.dd.pse.osp.intuit"
           elementFormDefault="qualified">
    <xs:import namespace="http://ledgeraccountret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="LedgerAccountRet.xsd"/>
    <xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>

    <xs:element name="LedgerAccountQueryRs" type="ns:LedgerAccountQueryRsType">
        <xs:annotation>
            <xs:documentation>Data Transfer Object LedgerAccountQueryRs</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="LedgerAccountQueryRsType">
        <xs:sequence>
            <xs:element name="LedgerAccountRet" type="lar:LedgerAccountRet" nillable="true" minOccurs="0"
                        maxOccurs="12"/>
            <xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

