phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/OfferingServiceChargePriceQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:oscpr="http://offeringservicechargeprice.xsd.wsapi.dd.pse.osp.intuit" 
	xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" 
	targetNamespace="http://offeringservicechargepricequeryrs.xsd.wsapi.dd.pse.osp.intuit" 
	elementFormDefault="qualified">
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:import namespace="http://offeringservicechargeprice.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="OfferingServiceChargePrice.xsd"/>
	<xs:element name="OfferingServiceChargePriceQueryRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OfferingServiceChargePrice" type="oscpr:OfferingServiceChargePrice" nillable="true" minOccurs="0" maxOccurs="100"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>