phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/Offer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:ns="http://offer.xsd.wsapi.dd.pse.osp.intuit" 
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" 
	targetNamespace="http://offer.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object Offer</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Offer">
		<xs:sequence>
			<xs:element name="OfferID" type="dd:IDType" nillable="true"/>
			<xs:element name="OfferCd" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsApproved" type="xs:boolean" nillable="true"/>
			<xs:element name="DiscountType" type="dd:OfferDiscountType" nillable="false"/>
			<xs:element name="DiscountAmount" type="dd:AmountType" nillable="true"/>
			<xs:element name="DiscountPercent" type="xs:double" nillable="true"/>
			<xs:element name="BeginEvent" type="dd:OfferBeginEvent" nillable="false"/>
			<xs:element name="EndEvent" type="dd:OfferEndEvent" nillable="false"/>
			<xs:element name="EndDate" type="xs:date" nillable="true"/>
			<xs:element name="DurationDays" type="xs:positiveInteger" nillable="true"/>
			<xs:element name="UsagesAllowed" type="xs:positiveInteger" nillable="true"/>
			<xs:element name="ServiceChargeIds" nillable="true" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:list itemType="xs:string"/>
				</xs:simpleType>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
