phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/OfferingServiceCharge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:ns="http://offeringservicecharge.xsd.wsapi.dd.pse.osp.intuit" 
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" 
	targetNamespace="http://offeringservicecharge.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object OfferingServiceCharge</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OfferingServiceCharge">
		<xs:sequence>
			<xs:element name="OfferingServiceChargeID" type="dd:IDType" nillable="true"/>
			<xs:element name="OfferingServiceChargeGroupID" type="dd:IDType" nillable="true"/>
			<xs:element name="SKU" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsPriceTier" type="xs:boolean" nillable="false"/>
			<xs:element name="Tier" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NumberOfUnits" type="xs:integer" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
