phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/OfferingCreateRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:or="http://offering.xsd.wsapi.dd.pse.osp.intuit" 
	xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" 
	targetNamespace="http://offeringcreaters.xsd.wsapi.dd.pse.osp.intuit" 
	elementFormDefault="qualified">
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:import namespace="http://offering.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="Offering.xsd"/>
	<xs:element name="OfferingCreateRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Offering" type="or:Offering" nillable="true" minOccurs="0"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>