phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/OfferingServiceChargePrice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:oscpr="http://offeringservicechargeprice.xsd.wsapi.dd.pse.osp.intuit" 
	xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" 
	targetNamespace="http://offeringservicechargeprice.xsd.wsapi.dd.pse.osp.intuit"
	elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object OfferingServiceChargePrice</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OfferingServiceChargePrice">
		<xs:sequence>
			<xs:element name="PriceID" type="dd:IDType" nillable="true"/>
			<xs:element name="ChargeID" type="dd:IDType" nillable="true"/>
			<xs:element name="Price" type="dd:AmountType" nillable="false"/>
			<xs:element name="EffectiveDate" type="xs:date" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
