phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/PayrollRunQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://payrollrunquery.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://payrollrunquery.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">

	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:element name="PayrollRunQuery"
		type="ns:PayrollRunQueryType">
        <xs:annotation>
        	<xs:documentation>Data Transfer Object PayrollRunQuery</xs:documentation>
        </xs:annotation>
	</xs:element>

	<xs:complexType name="PayrollRunQueryType">
		<xs:sequence>
			<xs:element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="TxDateFrom" type="xs:date" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="TxDateTo" type="xs:date" minOccurs="0" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>