phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/PayrollRunQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://payrollrunqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://payrollrunqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" xmlns:cbar="http://payrollrunret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://payrollrunret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PayrollRunRet.xsd">
	</import>
	<import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<element name="PayrollRunQueryRs" type="ns:PayrollRunQueryRsType">
	</element>
	<complexType name="PayrollRunQueryRsType">
		<sequence>
			<element name="PayrollRunRet" type="cbar:PayrollRunRet" minOccurs="0" maxOccurs="unbounded"/>
			<element name="ResponseStatus" type="rs:ResponseStatus"/>
		</sequence>
	</complexType>
</schema>
