phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/RepaymentRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://repaymentrecord.xsd.wsapi.dd.pse.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://repaymentrecord.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<element name="RepaymentRecord" type="ns:RepaymentRecordType">
	</element>
	<complexType name="RepaymentRecordType">
		<sequence>
			<element name="SourceSystemCd" type="dd:SourceSystemType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="CompanyID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="DDTxBatchID" type="dd:IDType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="TxSettlementTypeCd" type="dd:TxSettlementType" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="TxDate" type="date" nillable="false" minOccurs="1" maxOccurs="1"/>
			<element name="RepaymentDistributionInfo" type="ns:RepaymentDistributionInfoType" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="RepaymentDistributionInfoType">
		<sequence>
			<element name="FinancialTxAmt" nillable="false" type="dd:AmountType" minOccurs="1" maxOccurs="1"/>
			<element name="FeeTypeCd" type="dd:FeeType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
</schema>