phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ResponseMessage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://responsemessage.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:md="http://responsemessagedata.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://responsemessage.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>	
	<xs:import namespace="http://responsemessagedata.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseMessageData.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object ResponseMessage</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ResponseMessage">
		<xs:sequence>
			<xs:element name="Message" type="xs:string" nillable="false"/>
			<xs:element name="Code" type="dd:IntType" nillable="false"/>
			<xs:element name="ExceptionType" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="ResponseMessageData" type="md:ResponseMessageData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
