phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ResponseMessageData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://responsemessagedata.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://responsemessagedata.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Data Transfer Object ResponseMessageData</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ResponseMessageData">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" nillable="false"/>
			<xs:element name="Value" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
