phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/ResponseStatus.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" xmlns:rm="http://responsemessage.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://responsemessage.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseMessage.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object ResponseStatus</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ResponseStatus">
		<xs:sequence>
			<xs:element name="Status" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResponseMessage" type="rm:ResponseMessage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
