phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/SourceSystemParamUpdateRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://sourcesystemparamupdaters.xsd.wsapi.dd.pse.osp.intuit" xmlns:ns1="http://sourcesystemparamret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://sourcesystemparamupdaters.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://sourcesystemparamret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="SourceSystemParamRet.xsd"/>
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>
	<xs:element name="SourceSystemParamUpdateRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SourceSystemParamRet" type="ns1:SourceSystemParamRet" nillable="true"/>
				<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
