phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/SourceSystemParamInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://sourcesystemparaminfo.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://sourcesystemparaminfo.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:complexType name="SourceSystemParamInfo">
		<xs:sequence>
			<xs:element name="ParamCd" type="xs:string" nillable="false"/>
			<xs:element name="ParamName" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="ParamDesc" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="ParamValue" nillable="false">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="99"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
