phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/TransactionResponseRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://transactionresponseret.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" xmlns:bt="http://ddtxbatchret.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://transactionresponseret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:import namespace="http://ddtxbatchret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="DDTxBatchRet.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object TransactionResponseRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TransactionResponseRet">
		<xs:sequence>
			<xs:element name="SourceSystem" type="dd:SourceSystemType" nillable="false"/>
			<xs:element name="CompanyID" type="dd:IDType" nillable="false"/>
			<xs:element name="RequestID" type="dd:IDType" nillable="true" minOccurs="0"/>
			<xs:element name="Token" type="dd:IntType" nillable="false"/>
			<xs:element name="DDTxBatchRet" type="bt:DDTxBatchRet" nillable="false" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
