phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/TxHistoryRet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://txhistoryret.xsd.wsapi.dd.pse.osp.intuit" xmlns:dd="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://txhistoryret.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	<xs:import namespace="http://pseddcommontypes.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="PSEDDCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Data Transfer Object TxHistoryRet</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TxHistoryRet">
		<xs:sequence>
			<xs:element name="PSETransactionID" type="dd:IDType" nillable="false"/>
			<xs:element name="TxStatusCd" type="dd:TxStatusType" nillable="false"/>
			<xs:element name="TxStatusDesc" type="xs:string" nillable="false"/>
			<xs:element name="Date" type="xs:dateTime" nillable="false"/>
			<xs:element name="UserID" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
