phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-api/src/main/java/intuit/osp/pse/dd/wsapi/xsd/TxHistoryQueryRs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://txhistoryqueryrs.xsd.wsapi.dd.pse.osp.intuit" xmlns:txhr="http://txhistoryret.xsd.wsapi.dd.pse.osp.intuit" xmlns:rs="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" targetNamespace="http://txhistoryqueryrs.xsd.wsapi.dd.pse.osp.intuit" elementFormDefault="qualified">
	
	<xs:import namespace="http://txhistoryret.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="TxHistoryRet.xsd"/>
	<xs:import namespace="http://responsestatus.xsd.wsapi.dd.pse.osp.intuit" schemaLocation="ResponseStatus.xsd"/>	
	
	<xs:element name="TxHistoryQueryRs" type="ns:TxHistoryQueryRsType"/>
	<xs:complexType name="TxHistoryQueryRsType">
		<xs:sequence>
			<xs:element name="TxHistoryRet" type="txhr:TxHistoryRet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ResponseStatus" type="rs:ResponseStatus" nillable="false" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
