phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/ers-gateway/src/main/resources/IntuitEntitlementReqABCSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by XMLSpy 2007 Enterprise Ed., Concurrent for 14 users (with SMP from 2007-04-24 to 2009-04-24) (Intuit) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ers="http://www.intuit.com/iep/entitlement/EntitlementService/xsd" xmlns:tns="http://www.intuit.com/iep/entitlement/EntitlementService/wsdl" targetNamespace="http://www.intuit.com/iep/entitlement/EntitlementService/wsdl">
	<wsdl:types>
		<xs:schema targetNamespace="http://www.intuit.com/iep/entitlement/EntitlementService/xsd" elementFormDefault="qualified">
			<xs:include schemaLocation="IntuitEntitlementABM.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ActivateEntitlementRequest">
		<wsdl:part name="body" element="ers:ActivateEntitlementRequest"/>
	</wsdl:message>
	<wsdl:message name="ActivateEntitlementResponse">
		<wsdl:part name="body" element="ers:ActivateEntitlementResponse"/>
	</wsdl:message>
	<wsdl:message name="AddNewEntitlementRequest">
		<wsdl:part name="body" element="ers:AddNewEntitlementRequest"/>
	</wsdl:message>
	<wsdl:message name="AddNewEntitlementResponse">
		<wsdl:part name="body" element="ers:AddNewEntitlementResponse"/>
	</wsdl:message>
	<wsdl:message name="AddUpdateApplicationDataRequest">
		<wsdl:part name="body" element="ers:AddUpdateApplicationDataRequest"/>
	</wsdl:message>
	<wsdl:message name="AddUpdateApplicationDataResponse">
		<wsdl:part name="body" element="ers:AddUpdateApplicationDataResponse"/>
	</wsdl:message>
	<wsdl:message name="CancelEntitlementsRequest">
		<wsdl:part name="body" element="ers:CancelEntitlementsRequest"/>
	</wsdl:message>
	<wsdl:message name="CancelEntitlementsResponse">
		<wsdl:part name="body" element="ers:CancelEntitlementsResponse"/>
	</wsdl:message>
	<wsdl:message name="DeactivateEntitlementUnitRequest">
		<wsdl:part name="body" element="ers:DeactivateEntitlementUnitRequest"/>
	</wsdl:message>
	<wsdl:message name="DeactivateEntitlementUnitResponse">
		<wsdl:part name="body" element="ers:DeactivateEntitlementUnitResponse"/>
	</wsdl:message>
	<wsdl:message name="GetApplicationDataRequest">
		<wsdl:part name="body" element="ers:GetApplicationDataRequest"/>
	</wsdl:message>
	<wsdl:message name="GetApplicationDataResponse">
		<wsdl:part name="body" element="ers:GetApplicationDataResponse"/>
	</wsdl:message>
	<wsdl:message name="GetEntitlementInformationAndPropertyDetailsRequest">
		<wsdl:part name="body" element="ers:GetEntitlementInformationAndPropertyDetailsRequest"/>
	</wsdl:message>
	<wsdl:message name="GetEntitlementInformationAndPropertyDetailsResponse">
		<wsdl:part name="body" element="ers:GetEntitlementInformationAndPropertyDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="GetEntitlementsPerIRVRequest">
		<wsdl:part name="body" element="ers:GetEntitlementsPerIRVRequest"/>
	</wsdl:message>
	<wsdl:message name="GetEntitlementsPerIRVResponse">
		<wsdl:part name="body" element="ers:GetEntitlementsPerIRVResponse"/>
	</wsdl:message>
	<wsdl:message name="GetEOCPerLicenseRequest">
		<wsdl:part name="body" element="ers:GetEOCPerLicenseRequest"/>
	</wsdl:message>
	<wsdl:message name="GetEOCPerLicenseResponse">
		<wsdl:part name="body" element="ers:GetEOCPerLicenseResponse"/>
	</wsdl:message>
	<wsdl:message name="GetLicensePerPartyRequest">
		<wsdl:part name="body" element="ers:GetLicensePerPartyRequest"/>
	</wsdl:message>
	<wsdl:message name="GetLicensePerPartyResponse">
		<wsdl:part name="body" element="ers:GetLicensePerPartyResponse"/>
	</wsdl:message>
	<wsdl:message name="PrequalifyActivateEntitlementRequest">
		<wsdl:part name="body" element="ers:PrequalifyActivateEntitlementRequest"/>
	</wsdl:message>
	<wsdl:message name="PrequalifyActivateEntitlementResponse">
		<wsdl:part name="body" element="ers:PrequalifyActivateEntitlementResponse"/>
	</wsdl:message>
	<wsdl:message name="ReenableEntitlementsRequest">
		<wsdl:part name="body" element="ers:ReenableEntitlementsRequest"/>
	</wsdl:message>
	<wsdl:message name="ReenableEntitlementsResponse">
		<wsdl:part name="body" element="ers:ReenableEntitlementsResponse"/>
	</wsdl:message>
	<wsdl:message name="RegisterOwnerRequest">
		<wsdl:part name="body" element="ers:RegisterOwnerRequest"/>
	</wsdl:message>
	<wsdl:message name="RegisterOwnerResponse">
		<wsdl:part name="body" element="ers:RegisterOwnerResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateEntitlementAttributeRequest">
		<wsdl:part name="body" element="ers:UpdateEntitlementAttributeRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateEntitlementAttributeResponse">
		<wsdl:part name="body" element="ers:UpdateEntitlementAttributeResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateEntitlementAttributesRequest">
		<wsdl:part name="body" element="ers:UpdateEntitlementAttributesRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateEntitlementAttributesResponse">
		<wsdl:part name="body" element="ers:UpdateEntitlementAttributesResponse"/>
	</wsdl:message>
	<wsdl:message name="ValidateEntitlementRequest">
		<wsdl:part name="body" element="ers:ValidateEntitlementRequest"/>
	</wsdl:message>
	<wsdl:message name="ValidateEntitlementResponse">
		<wsdl:part name="body" element="ers:ValidateEntitlementResponse"/>
	</wsdl:message>
	<wsdl:message name="ValidateLicenseRequest">
		<wsdl:part name="body" element="ers:ValidateLicenseRequest"/>
	</wsdl:message>
	<wsdl:message name="ValidateLicenseResponse">
		<wsdl:part name="body" element="ers:ValidateLicenseResponse"/>
	</wsdl:message>
	<wsdl:message name="Transaction">
		<wsdl:part name="trans" type="ers:TransactionInfoType"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="ers:Error"/>
	</wsdl:message>
	<wsdl:portType name="EntitlementServicePortType">
		<wsdl:operation name="ActivateEntitlement">
			<wsdl:documentation>ActivateEntitlement</wsdl:documentation>
			<wsdl:input name="ActivateEntitlementRequest" message="tns:ActivateEntitlementRequest"/>
			<wsdl:output name="ActivateEntitlementResponse" message="tns:ActivateEntitlementResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="AddNewEntitlement">
			<wsdl:documentation>AddNewEntitlement</wsdl:documentation>
			<wsdl:input name="AddNewEntitlementRequest" message="tns:AddNewEntitlementRequest"/>
			<wsdl:output name="AddNewEntitlementResponse" message="tns:AddNewEntitlementResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="AddUpdateApplicationData">
			<wsdl:documentation>AddUpdateApplicationData</wsdl:documentation>
			<wsdl:input name="AddUpdateApplicationDataRequest" message="tns:AddUpdateApplicationDataRequest"/>
			<wsdl:output name="AddUpdateApplicationDataResponse" message="tns:AddUpdateApplicationDataResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="CancelEntitlements">
			<wsdl:documentation>CancelEntitlements</wsdl:documentation>
			<wsdl:input name="CancelEntitlementsRequest" message="tns:CancelEntitlementsRequest"/>
			<wsdl:output name="CancelEntitlementsResponse" message="tns:CancelEntitlementsResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="DeactivateEntitlementUnit">
			<wsdl:documentation>DeactivateEntitlementUnit</wsdl:documentation>
			<wsdl:input name="DeactivateEntitlementUnitRequest" message="tns:DeactivateEntitlementUnitRequest"/>
			<wsdl:output name="DeactivateEntitlementUnitResponse" message="tns:DeactivateEntitlementUnitResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
				<wsdl:operation name="GetApplicationData">
			<wsdl:documentation>GetApplicationData</wsdl:documentation>
			<wsdl:input name="GetApplicationDataRequest" message="tns:GetApplicationDataRequest"/>
			<wsdl:output name="GetApplicationDataResponse" message="tns:GetApplicationDataResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="GetEntitlementInformationAndPropertyDetails">
			<wsdl:documentation>GetEntitlementInformationAndPropertyDetails</wsdl:documentation>
			<wsdl:input name="GetEntitlementInformationAndPropertyDetailsRequest" message="tns:GetEntitlementInformationAndPropertyDetailsRequest"/>
			<wsdl:output name="GetEntitlementInformationAndPropertyDetailsResponse" message="tns:GetEntitlementInformationAndPropertyDetailsResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="GetEntitlementsPerIRV">
			<wsdl:documentation>GetEntitlementsPerIRV</wsdl:documentation>
			<wsdl:input name="GetEntitlementsPerIRVRequest" message="tns:GetEntitlementsPerIRVRequest"/>
			<wsdl:output name="GetEntitlementsPerIRVResponse" message="tns:GetEntitlementsPerIRVResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="GetEOCPerLicense">
			<wsdl:documentation>GetEOCPerLicense</wsdl:documentation>
			<wsdl:input name="GetEOCPerLicenseRequest" message="tns:GetEOCPerLicenseRequest"/>
			<wsdl:output name="GetEOCPerLicenseResponse" message="tns:GetEOCPerLicenseResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="GetLicensePerParty">
			<wsdl:documentation>GetLicensePerParty</wsdl:documentation>
			<wsdl:input name="GetLicensePerPartyRequest" message="tns:GetLicensePerPartyRequest"/>
			<wsdl:output name="GetLicensePerPartyResponse" message="tns:GetLicensePerPartyResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="PrequalifyActivateEntitlement">
			<wsdl:documentation>PrequalifyActivateEntitlement</wsdl:documentation>
			<wsdl:input name="PrequalifyActivateEntitlementRequest" message="tns:PrequalifyActivateEntitlementRequest"/>
			<wsdl:output name="PrequalifyActivateEntitlementResponse" message="tns:PrequalifyActivateEntitlementResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="ReenableEntitlements">
			<wsdl:documentation>ReenableEntitlements</wsdl:documentation>
			<wsdl:input name="ReenableEntitlementsRequest" message="tns:ReenableEntitlementsRequest"/>
			<wsdl:output name="ReenableEntitlementsResponse" message="tns:ReenableEntitlementsResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="RegisterOwner">
			<wsdl:documentation>RegisterOwner</wsdl:documentation>
			<wsdl:input name="RegisterOwnerRequest" message="tns:RegisterOwnerRequest"/>
			<wsdl:output name="RegisterOwnerResponse" message="tns:RegisterOwnerResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntitlementAttribute">
			<wsdl:documentation>UpdateEntitlementAttribute</wsdl:documentation>
			<wsdl:input name="UpdateEntitlementAttributeRequest" message="tns:UpdateEntitlementAttributeRequest"/>
			<wsdl:output name="UpdateEntitlementAttributeResponse" message="tns:UpdateEntitlementAttributeResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntitlementAttributes">
			<wsdl:documentation>UpdateEntitlementAttributes</wsdl:documentation>
			<wsdl:input name="UpdateEntitlementAttributesRequest" message="tns:UpdateEntitlementAttributesRequest"/>
			<wsdl:output name="UpdateEntitlementAttributesResponse" message="tns:UpdateEntitlementAttributesResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="ValidateEntitlement">
			<wsdl:documentation>ValidateEntitlement</wsdl:documentation>
			<wsdl:input name="ValidateEntitlementRequest" message="tns:ValidateEntitlementRequest"/>
			<wsdl:output name="ValidateEntitlementResponse" message="tns:ValidateEntitlementResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="ValidateLicense">
			<wsdl:documentation>ValidateLicense</wsdl:documentation>
			<wsdl:input name="ValidateLicenseRequest" message="tns:ValidateLicenseRequest"/>
			<wsdl:output name="ValidateLicenseResponse" message="tns:ValidateLicenseResponse"/>
			<wsdl:fault name="Fault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EntitlementServiceBinding" type="tns:EntitlementServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ActivateEntitlement">
			<soap:operation soapAction="ActivateEntitlement"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddNewEntitlement">
			<soap:operation soapAction="AddNewEntitlement"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddUpdateApplicationData">
			<soap:operation soapAction="AddUpdateApplicationData"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CancelEntitlements">
			<soap:operation soapAction="CancelEntitlements"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeactivateEntitlementUnit">
			<soap:operation soapAction="DeactivateEntitlementUnit"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
				<wsdl:operation name="GetApplicationData">
			<soap:operation soapAction="GetApplicationData"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetEntitlementInformationAndPropertyDetails">
			<soap:operation soapAction="GetEntitlementInformationAndPropertyDetails"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetEntitlementsPerIRV">
			<soap:operation soapAction="GetEntitlementsPerIRV"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetEOCPerLicense">
			<soap:operation soapAction="GetEOCPerLicense"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetLicensePerParty">
			<soap:operation soapAction="GetLicensePerParty"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="PrequalifyActivateEntitlement">
			<soap:operation soapAction="PrequalifyActivateEntitlement"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ReenableEntitlements">
			<soap:operation soapAction="ReenableEntitlements"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RegisterOwner">
			<soap:operation soapAction="RegisterOwner"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntitlementAttribute">
			<soap:operation soapAction="UpdateEntitlementAttribute"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateEntitlementAttributes">
			<soap:operation soapAction="UpdateEntitlementAttributes"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ValidateEntitlement">
			<soap:operation soapAction="ValidateEntitlement"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ValidateLicense">
			<soap:operation soapAction="ValidateLicense"/>
			<wsdl:input>
				<soap:body parts="body" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EntitlementService">
		<wsdl:port name="EntitlementServicePort" binding="tns:EntitlementServiceBinding">
			<soap:address location="http://127.0.0.1/EntitlementService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
