phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/aia-gateway/src/main/resources/QueryBillingTransactionsIntuitEBS.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<definitions targetNamespace="http://xmlns.intuit.net/ABCS/Common/Industry/Communications/QueryBillingTransactionsIntuitReqABCS/V1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.intuit.net/ABCS/Common/Industry/Communications/QueryBillingTransactionsIntuitReqABCS/V1" xmlns:ws="http://www.example.com/webservice" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:esb="http://www.oracle.com/esb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:import="http://xmlns.intuit.net/ABCS/Common/Industry/Communications/QueryBillingTransactionsIntuitReqABCS/V1">
    <import namespace="http://xmlns.intuit.net/ABCS/Common/Industry/Communications/QueryBillingTransactionsIntuitReqABCS/V1"
            location="QueryBillingTransactionsIntuitReqABCS.wsdl"/>
    <binding name="__soap_QueryBillingTransactionsIntuitEBS_QueryBillingTransactionsIntuitReqABCS" type="tns:QueryBillingTransactionsIntuitReqABCS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="QueryAccountBalanceSummary">
            <soap:operation style="document" soapAction="QueryAccountBalanceSummary"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle=""/>
            </fault>
        </operation>
        <operation name="QueryInvoicePayment">
            <soap:operation style="document" soapAction="QueryInvoicePayment"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle=""/>
            </fault>
        </operation>
        <operation name="QueryInvoiceList">
            <soap:operation style="document" soapAction="QueryInvoiceList"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle=""/>
            </fault>
        </operation>
        <operation name="QueryAccountBalanceAdjustments">
            <soap:operation style="document" soapAction="QueryAccountBalanceAdjustments"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle=""/>
            </fault>
        </operation>
        <operation name="QueryInvoiceDetails">
            <soap:operation style="document" soapAction="QueryInvoiceDetails"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle=""/>
            </fault>
        </operation>
        <operation name="QueryEventDetails">
            <soap:operation style="document" soapAction="QueryEventDetails"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="fault">
                <soap:fault name="fault" use="literal" encodingStyle=""/>
            </fault>
        </operation>
    </binding>
    <binding name="__esb_QueryBillingTransactionsIntuitEBS_QueryBillingTransactionsIntuitReqABCS" type="tns:QueryBillingTransactionsIntuitReqABCS">
      <esb:binding/>
        <operation name="QueryAccountBalanceSummary">
      <esb:operation event-name="IntuitSystem.QueryBillingTransactionsIntuitEBS.QueryAccountBalanceSummary"/>
            <input/>
            <output/>
        </operation>
        <operation name="QueryInvoicePayment">
      <esb:operation event-name="IntuitSystem.QueryBillingTransactionsIntuitEBS.QueryInvoicePayment"/>
            <input/>
            <output/>
        </operation>
        <operation name="QueryInvoiceList">
      <esb:operation event-name="IntuitSystem.QueryBillingTransactionsIntuitEBS.QueryInvoiceList"/>
            <input/>
            <output/>
        </operation>
        <operation name="QueryAccountBalanceAdjustments">
      <esb:operation event-name="IntuitSystem.QueryBillingTransactionsIntuitEBS.QueryAccountBalanceAdjustments"/>
            <input/>
            <output/>
        </operation>
        <operation name="QueryInvoiceDetails">
      <esb:operation event-name="IntuitSystem.QueryBillingTransactionsIntuitEBS.QueryInvoiceDetails"/>
            <input/>
            <output/>
        </operation>
        <operation name="QueryEventDetails">
      <esb:operation event-name="IntuitSystem.QueryBillingTransactionsIntuitEBS.QueryEventDetails"/>
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="ESB_QueryBillingTransactionsIntuitEBS_Service">
        <port name="__esb_QueryBillingTransactionsIntuitEBS_QueryBillingTransactionsIntuitReqABCS"
              binding="tns:__esb_QueryBillingTransactionsIntuitEBS_QueryBillingTransactionsIntuitReqABCS">
        </port>
        <port name="__soap_QueryBillingTransactionsIntuitEBS_QueryBillingTransactionsIntuitReqABCS"
              binding="tns:__soap_QueryBillingTransactionsIntuitEBS_QueryBillingTransactionsIntuitReqABCS">
            <soap:address location="http://otbsys.bosptc.intuit.net:80/event/IntuitSystem/QueryBillingTransactionsIntuitEBS"/>
        </port>
    </service>
    <plt:partnerLinkType name="QueryBillingTransactionsIntuitReqABCSLT">
        <plt:role name="QueryBillingTransactionsIntuitReqABCSProvider">
            <plt:portType name="tns:QueryBillingTransactionsIntuitReqABCS"/>
        </plt:role>
    </plt:partnerLinkType>
</definitions>