phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Gateways/aia-gateway/src/main/resources/QueryBillingTransactionsIntuitReqABCS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by SB (INTUIT INC) -->
<!-- Created By: Rajkumar Ramakrishnan  -->
<!-- Date Created: 03-23-2010     -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:intuitbillabcs="http://xmlns.intuit.net/ABCS/Common/Industry/Communications/QueryBillingTransactionsIntuitReqABCS/V1" xmlns:svcdoc="http://xmlns.oracle.com/Services/Documentation/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:billingfault="http://www.intuit.net/xml/IntuitFault"
             xmlns:intuitbillabm="http://www.intuit.net/xml/CommonBillingProfileABO"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/"
             name="QueryBillingTransactionsIntuitReqABCS"
             targetNamespace="http://xmlns.intuit.net/ABCS/Common/Industry/Communications/QueryBillingTransactionsIntuitReqABCS/V1">
	<documentation>
		<svcdoc:Service>
			<svcdoc:Description>This service contains operations that would be used by
                          the participating application to interact with the BRM
                          systems</svcdoc:Description>
			<svcdoc:ServiceType>CommonABCSImplementation</svcdoc:ServiceType>
			<svcdoc:DisplayName>CommonRequestorABCS</svcdoc:DisplayName>
			<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
			<svcdoc:Version>1.0</svcdoc:Version>
			<svcdoc:ProductFamily>CRM</svcdoc:ProductFamily>
			<svcdoc:ProductPillar>CRM</svcdoc:ProductPillar>
			<svcdoc:ProductCode>CMU</svcdoc:ProductCode>
			<svcdoc:ImplementationTechnology>ESB</svcdoc:ImplementationTechnology>
		</svcdoc:Service>
	</documentation>
	<types>
		<!--documentation>
			<svcdoc:Schema>
				<svcdoc:SchemaReferenced>CommonBillingProfileABO.xsd</svcdoc:SchemaReferenced>
			</svcdoc:Schema>
		</documentation-->
		<xsd:schema targetNamespace="http://xmlns.oracle.com/ABCS/Siebel/Industry/Communications/UnbilledUsageSiebelCommsReqABCS/V1" elementFormDefault="qualified">
			<xsd:import namespace="http://www.intuit.net/xml/CommonBillingProfileABO"
                        schemaLocation="CommonBillingProfileABM.xsd"/>
			<xsd:import namespace="http://www.intuit.net/xml/IntuitFault" schemaLocation="Fault.xsd"/>
		</xsd:schema>
	</types>
	<message name="QueryInvoiceDetailsReqMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Account Balance
                            Summary request attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBillingInfoRequest" element="intuitbillabm:QueryBillingInfoRequest"/>
	</message>
	<message name="QueryInvoiceDetailsResMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Account Balance
                            Summary request attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBilledInvoiceDetailsResponse" element="intuitbillabm:QueryBilledInvoiceDetailsResponse"/>
	</message>
	<message name="QueryAccountBalanceSummaryReqMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Account Balance
                            Summary request attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBillingInfoRequest" element="intuitbillabm:QueryBillingInfoRequest"/>
	</message>
	<message name="QueryAccountBalanceSummaryResMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Account Balance
                            Summary response attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryAccountBalanceSummaryResponse" element="intuitbillabm:QueryAccountBalanceSummaryResponse"/>
	</message>
	<message name="QueryPaymentReqMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Billed Payment details
                            request attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBillingInfoRequest" element="intuitbillabm:QueryBillingInfoRequest"/>
	</message>
	<message name="QueryPaymentResMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Billed Payment details
                            response attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBilledUsagePaymentsResponse" element="intuitbillabm:QueryBilledUsagePaymentsResponse"/>
	</message>
	<message name="QueryInvoiceReqMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Billed Invoice List
                            request attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryMultipleBillingInfoRequest" element="intuitbillabm:QueryMultipleBillingInfoRequest"/>
	</message>
	<message name="QueryInvoiceResMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Billed Invoice List
                            response attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryInvoiceProfileResponse" element="intuitbillabm:QueryInvoiceProfileResponse"/>
	</message>
	<message name="QueryBalanceAdjReqMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Account Balance
                            Adjustments request attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBillingInfoRequest" element="intuitbillabm:QueryBillingInfoRequest"/>
	</message>
	<message name="QueryBalanceAdjResMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message will contain the Account Balance
                            Adjustments response attributes</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="QueryBilledArAdjustmentsResponse" element="intuitbillabm:QueryBilledArAdjustmentsResponse"/>
	</message>
	<message name="IntuitFaultMsg">
		<documentation>
			<svcdoc:Message>
				<svcdoc:Description>This message is used for propagating Error Context and
                        Error Message</svcdoc:Description>
			</svcdoc:Message>
		</documentation>
		<part name="Fault" element="billingfault:BillingFault"/>
	</message>
	<message name="QueryInvoiceEventDetailsReqMsg">
		<part name="QueryInvoiceEventDetailsRequest" element="intuitbillabm:QueryBilledItemEventDetailRequest"/>
	</message>
	<message name="QueryInvoiceEventDetailsResMsg">
		<part name="QueryInvoiceEventDetailsResMsg" element="intuitbillabm:QueryBilledItemEventDetailsResponse"/>
	</message>
	<portType name="QueryBillingTransactionsIntuitReqABCS">
		<documentation>
			<svcdoc:Interface>
				<svcdoc:Description>This ABCS Interface contains operations that route
                            the input messages to the appropriate ABCS
                            Implementation services</svcdoc:Description>
				<svcdoc:DisplayName>Account Balance Summary ABCS Requestor Interface</svcdoc:DisplayName>
				<svcdoc:LifecycleStatus>active</svcdoc:LifecycleStatus>
			</svcdoc:Interface>
		</documentation>
		<operation name="QueryAccountBalanceSummary">
			<documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operation routes to the QueryAccountBalanceSummaryCommonCommReqABCSImpl</svcdoc:Description>
					<svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
					<svcdoc:DisplayName>Query Account Balance Summary</svcdoc:DisplayName>
					<svcdoc:Status>Active</svcdoc:Status>
					<svcdoc:Scope>Public</svcdoc:Scope>
				</svcdoc:Operation>
			</documentation>
			<input message="intuitbillabcs:QueryAccountBalanceSummaryReqMsg"/>
			<output message="intuitbillabcs:QueryAccountBalanceSummaryResMsg"/>
			<fault name="fault" message="intuitbillabcs:IntuitFaultMsg"/>
		</operation>
		<operation name="QueryInvoicePayment">
			<documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operation routes to the
                              QueryUnbilledUsageEventDetails operation of the
                              QueryUnbilledUsageEventDetailsSiebelABCSImpl
                              service</svcdoc:Description>
					<svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
					<svcdoc:DisplayName>Query Unbilled Usage Event Details</svcdoc:DisplayName>
					<svcdoc:LifecycleStatus>active</svcdoc:LifecycleStatus>
					<svcdoc:Scope>Public</svcdoc:Scope>
				</svcdoc:Operation>
			</documentation>
			<input message="intuitbillabcs:QueryPaymentReqMsg"/>
			<output message="intuitbillabcs:QueryPaymentResMsg"/>
			<fault name="fault" message="intuitbillabcs:IntuitFaultMsg"/>
		</operation>
		<operation name="QueryInvoiceList">
			<documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operation routes to the QueryInvoicePaymentCommonCommReqABCSImpl</svcdoc:Description>
					<svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
					<svcdoc:DisplayName>Search Unbilled Usage Event Details</svcdoc:DisplayName>
					<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
					<svcdoc:Scope>Public</svcdoc:Scope>
				</svcdoc:Operation>
			</documentation>
			<input message="intuitbillabcs:QueryInvoiceReqMsg"/>
			<output message="intuitbillabcs:QueryInvoiceResMsg"/>
			<fault name="fault" message="intuitbillabcs:IntuitFaultMsg"/>
		</operation>
		<operation name="QueryAccountBalanceAdjustments">
			<documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operation routes to the QueryAccountBalanceAdjustmentsCommonCommReqABCSImpl
                              </svcdoc:Description>
					<svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
					<svcdoc:DisplayName>Query Unbilled Usage Resource Balance</svcdoc:DisplayName>
					<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
					<svcdoc:Scope>Public</svcdoc:Scope>
				</svcdoc:Operation>
			</documentation>
			<input message="intuitbillabcs:QueryBalanceAdjReqMsg"/>
			<output message="intuitbillabcs:QueryBalanceAdjResMsg"/>
			<fault name="fault" message="intuitbillabcs:IntuitFaultMsg"/>
		</operation>
		<operation name="QueryInvoiceDetails">
			<documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operatoin routes to the QueryInvoiceListCommonCommsReaABCSImpl</svcdoc:Description>
					<svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
					<svcdoc:DisplayName>Query Unbilled Usage Resource Balance</svcdoc:DisplayName>
					<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
					<svcdoc:Scope>Public</svcdoc:Scope>
				</svcdoc:Operation>
			</documentation>
			<input message="intuitbillabcs:QueryInvoiceDetailsReqMsg"/>
			<output message="intuitbillabcs:QueryInvoiceDetailsResMsg"/>
			<fault name="fault" message="intuitbillabcs:IntuitFaultMsg"/>
		</operation>
		<operation name="QueryEventDetails">
			<documentation>
				<svcdoc:Operation>
					<svcdoc:Description>This operatoin routes to the QueryInvoiceListCommonCommsReaABCSImpl</svcdoc:Description>
					<svcdoc:MEP>SYNC_REQ_RESPONSE</svcdoc:MEP>
					<svcdoc:DisplayName>Query Billed Item Event Detail</svcdoc:DisplayName>
					<svcdoc:LifecycleStatus>Active</svcdoc:LifecycleStatus>
					<svcdoc:Scope>Public</svcdoc:Scope>
				</svcdoc:Operation>
			</documentation>
			<input message="intuitbillabcs:QueryInvoiceEventDetailsReqMsg"/>
			<output message="intuitbillabcs:QueryInvoiceEventDetailsResMsg"/>
			<fault name="fault" message="intuitbillabcs:IntuitFaultMsg"/>
		</operation>
	</portType>
</definitions>
