phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Common/ofx/src/main/resources/ofx_request.xsd

<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Tiger (INTUIT INC.) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="USERPASS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="USERID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.RQEIN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBSCRIPTIONNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRNUID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TOKEN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
				<xs:pattern value="^@~*"/>
				<xs:pattern value="\d+"/>
				<xs:pattern value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SONRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DTCLIENT"/>
				<xs:element ref="USERID"/>
				<!-- Making optional for testing prod data -->
				<xs:element ref="USERPASS" minOccurs="0"/>
				<xs:element ref="LANGUAGE"/>
				<xs:element ref="APPVER"/>
				<xs:element ref="APPID"/>
				<xs:element ref="I.QBFILENAME" minOccurs="0"/>
				<xs:element ref="I.QBFILEID" minOccurs="0"/>
				<xs:element ref="I.IPADDRESS" minOccurs="0"/>
				<xs:element ref="I.QBUSERNAME" minOccurs="0"/>
				<xs:element ref="I.RQEIN" minOccurs="0"/>
				<xs:element ref="I.SUBSCRIPTIONNUM" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIGNONMSGSRQV1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SONRQ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REJECTIFMISSING">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYSVCSYNCRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOKEN"/>
				<xs:element ref="REJECTIFMISSING"/>
				<xs:element ref="I.DSSCUINFOMODTRNRQ" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DSSCUINFOMODTRNRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRNUID"/>
				<xs:element ref="I.DSSCUINFOMODRQ" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYSVCMSGSRQV1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYSVCSYNCRQ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OFX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SIGNONMSGSRQV1"/>
				<xs:element ref="I.PAYROLLMSGSRQV1" minOccurs="0"/>
				<xs:element ref="I.PAYSVCMSGSRQV1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LANGUAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ENG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.VOID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="^@~*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.VACACCRUED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STRTSTATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STRTPCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STRTCITY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STRTADDR2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STRTADDR1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SICKACCRUED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REGNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QBUSERNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QBFILENAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QBFILEID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.Q4TAXLIABAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.Q3TAXLIABAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.Q2TAXLIABAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.Q1TAXLIABAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRORATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
				<xs:enumeration value="^@~*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRINCTITLE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRINCMIDINI">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRINCLASTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRINCFIRSTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLUPDATERQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOKEN"/>
				<xs:element ref="REJECTIFMISSING"/>
				<xs:element ref="I.PAYROLLTRNRQ" minOccurs="0"/>
				<!-- These three fields are used for service migration-->
				<xs:element ref="I.PSPMIGRATE" minOccurs="0"/>
				<xs:element ref="I.PAYROLLTXNEXTID" minOccurs="0"/>
				<xs:element ref="I.PAYCHKNEXTID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--BEGIN - TAGS ADDED FOR SERVICE MIGRATION -->
	<xs:element name="I.PAYROLLTXNEXTID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYCHKNEXTID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PSPMIGRATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!--END - TAGS ADDED FOR SERVICE MIGRATION -->
	<xs:element name="I.PAYROLLTRNRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRNUID"/>
				<xs:element ref="SYNCCOMPLETEINFO" minOccurs="0"/>
				<xs:element ref="I.PAYROLLRQ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLRUN">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.DTPAYCHKS"/>
				<xs:element ref="I.PAYCHK" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYCHKMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.DISBURSEADVICE" minOccurs="0"/>
				<xs:element ref="I.DDADVICE" minOccurs="0"/>
				<xs:element ref="I.SESSIONID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DISBURSEADVICE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TAXLIABAMT" minOccurs="0"/>
				<xs:element ref="I.TAXQTR" minOccurs="0"/>
				<xs:element ref="I.TAXLIAB" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.TAXLIABAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXQTR">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXLIAB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.CURAMT"/>
				<xs:element ref="I.QTRAMT"/>
				<xs:element ref="I.YTDAMT"/>
				<xs:element ref="I.CURWB"/>
				<xs:element ref="I.QTRWB"/>
				<xs:element ref="I.YTDWB"/>
				<xs:element ref="I.TAXPMTTYPE"/>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.OTHERTAX" minOccurs="0"/>
				<xs:element ref="I.FEDTAX" minOccurs="0"/>
				<xs:element ref="I.STATETAXDESC" minOccurs="0"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.STATETAXDESC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.STATETAX"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.OTHERTAX">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATETAX">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CURAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QTRAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CURWB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QTRWB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.YTDWB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXPMTTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FEDTAX">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SESSIONID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTXDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYCHKDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEM" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.EMP" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTX" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PITEMMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.EMPMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTXMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PITEMDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.EMPDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTXDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYCHKDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.COINFOMOD" minOccurs="0"/>
				<xs:element ref="I.PAYROLLRUN" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.SESSIONID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DDITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.LIABACCT"/>
				<xs:element ref="I.LIABAGENCY"/>
				<xs:element ref="I.COMPID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.TAXITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADJGROSS"/>
				<xs:element ref="I.BASEDONQTY"/>
				<xs:element ref="I.ONSERVICE"/>
				<xs:element ref="I.LIABACCT"/>
				<xs:element ref="I.LIABAGENCY"/>
				<xs:element ref="I.FEDTAX" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.OTHERTAX" minOccurs="0"/>
				<xs:element ref="I.STATETAXDESC" minOccurs="0"/>
				<xs:element ref="I.EXPACCT"/>
				<xs:element ref="I.RATE"/>
				<xs:element ref="I.RATECHANGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.DEFLIMIT"/>
				<xs:element ref="I.TAXFORMLINE" minOccurs="0"/>
				<xs:element ref="I.W2CODE" minOccurs="0"/>
				<xs:element ref="I.TAXLAWID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADDITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADJGROSS"/>
				<xs:element ref="I.BASEDONQTY"/>
				<xs:element ref="I.TAXAFFECTED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.LIABACCT" minOccurs="0"/>
				<xs:element ref="I.LIABAGENCY" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.DEFRATE"/>
				<xs:element ref="I.DEFLIMIT"/>
				<xs:element ref="I.EXPBYJOB"/>
				<xs:element ref="I.TAXFORMLINE"/>
				<xs:element ref="I.W2CODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DEDUCTITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADJGROSS"/>
				<xs:element ref="I.BASEDONQTY"/>
				<xs:element ref="I.TAXAFFECTED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.LIABACCT"/>
				<xs:element ref="I.LIABAGENCY"/>
				<xs:element ref="I.ONSERVICE"/>
				<xs:element ref="I.COMPID"/>
				<xs:element ref="I.DEFRATE"/>
				<xs:element ref="I.DEFLIMIT"/>
				<xs:element ref="I.TAXFORMLINE"/>
				<xs:element ref="I.W2CODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SALARYITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.PAYTYPE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.CONTRIBITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADJGROSS" minOccurs="0"/>
				<xs:element ref="I.BASEDONQTY" minOccurs="0"/>
				<xs:element ref="I.TAXAFFECTED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.LIABACCT" minOccurs="0"/>
				<xs:element ref="I.LIABAGENCY" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.DEFRATE" minOccurs="0"/>
				<xs:element ref="I.DEFLIMIT" minOccurs="0"/>
				<xs:element ref="I.EXPBYJOB" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE" minOccurs="0"/>
				<xs:element ref="I.TAXFORMLINE" minOccurs="0"/>
				<xs:element ref="I.W2CODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.RATECHANGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.DTSUNSET" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DTSUNSET">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXAFFECTED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SPECIALTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADJGROSS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BASEDONQTY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LIABACCT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LIABAGENCY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COMPID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DEFRATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DEFLIMIT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXFORMLINE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COMMITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADJGROSS" minOccurs="0"/>
				<xs:element ref="I.BASEDONQTY" minOccurs="0"/>
				<xs:element ref="I.EARNINGSTABLE" minOccurs="0"/>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.LIABACCT" minOccurs="0"/>
				<xs:element ref="I.LIABAGENCY" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.DEFRATE" minOccurs="0"/>
				<xs:element ref="I.DEFLIMIT" minOccurs="0"/>
				<xs:element ref="I.EXPBYJOB" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE" minOccurs="0"/>
				<xs:element ref="I.TAXFORMLINE" minOccurs="0"/>
				<xs:element ref="I.W2CODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PITEM" type="IPITEM"/>
	<xs:element name="I.PITEMMOD" type="IPITEM"/>
	<xs:complexType name="IPITEM">
		<xs:sequence>
			<xs:element ref="I.PITEMID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.CREATETIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.MODTIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.PITEMNAME"/>
			<xs:element ref="I.INACTIVE"/>
			<xs:element ref="I.ISEMP"/>
			<xs:element ref="I.SPECIALTYPE" minOccurs="0"/>
			<xs:element ref="I.DETAILTYPE" minOccurs="0"/>
			<xs:element ref="I.DDITEM" minOccurs="0"/>
			<xs:element ref="I.ADDITEM" minOccurs="0"/>
			<xs:element ref="I.COMMITEM" minOccurs="0"/>
			<xs:element ref="I.TAXITEM" minOccurs="0"/>
			<xs:element ref="I.CONTRIBITEM" minOccurs="0"/>
			<xs:element ref="I.DEDUCTITEM" minOccurs="0"/>
			<xs:element ref="I.HRLYITEM" minOccurs="0"/>
			<xs:element ref="I.BONUSITEM" minOccurs="0"/>
			<xs:element ref="I.SALARYITEM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.HRLYITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT"/>
				<xs:element ref="I.PAYTYPE"/>
				<xs:element ref="I.OTMULTIPLIER" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EARNINGSTABLE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ISEMP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BONUSITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EXPACCT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDRINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TITLE" minOccurs="0"/>
				<xs:element ref="I.FIRST" minOccurs="0"/>
				<xs:element ref="I.MI" minOccurs="0"/>
				<xs:element ref="I.LAST" minOccurs="0"/>
				<xs:element ref="I.ADDR1" minOccurs="0"/>
				<xs:element ref="I.ADDR2" minOccurs="0"/>
				<xs:element ref="I.CITY" minOccurs="0"/>
				<xs:element ref="I.STATE" minOccurs="0"/>
				<xs:element ref="I.STATEWORKED" minOccurs="0"/>
				<xs:element ref="I.STATELIVED" minOccurs="0"/>
				<xs:element ref="I.POSTALCODE" minOccurs="0"/>
				<xs:element ref="I.PHONE" minOccurs="0"/>
				<xs:element ref="I.ALTPHONE" minOccurs="0"/>
				<xs:element ref="I.INITIALS" minOccurs="0"/>
				<xs:element ref="I.PRINTASNAME" minOccurs="0"/>
				<xs:element ref="I.EMAIL" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLTX" type="IPAYROLLTX"/>
	<xs:element name="I.PAYROLLTXMOD" type="IPAYROLLTX"/>
	<xs:complexType name="IPAYROLLTX">
		<xs:sequence>
			<xs:element ref="I.PAYROLLTXID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.CREATETIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.MODTIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.DTTX"/>
			<xs:element ref="I.PAYROLLTXTYPE"/>
			<xs:element ref="I.TXLINE" maxOccurs="unbounded"/>
			<xs:element ref="I.EMPID" minOccurs="0"/>
			<xs:element ref="I.EMPNAME" minOccurs="0"/>
			<xs:element ref="I.NAME" minOccurs="0"/>
			<xs:element ref="I.REFNUM"/>
			<xs:element ref="I.ACCTNAME"/>
			<xs:element ref="I.AMT"/>
			<xs:element ref="I.MEMO"/>
			<xs:element ref="I.DTPAYPDEND"/>
			<xs:element ref="I.VOID"/>
			<xs:element ref="I.ONSERVICE"/>
			<xs:element ref="I.CLEARED"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.PAYROLLTXID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTXTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CARRYOVER"/>
				<xs:enumeration value="PRIORPMT"/>
				<xs:enumeration value="LIABADJ"/>
				<xs:enumeration value="LIABCHK"/>
				<xs:enumeration value="QBRSLIABCHK"/>
				<xs:enumeration value="REFUND"/>
				<xs:enumeration value="DDRETURN"/>
				<xs:enumeration value="DDREVERSAL"/>
				<xs:enumeration value="FUNDSTRANSFER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TXLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.MEMO" minOccurs="0"/>
				<xs:element ref="I.ISDD" minOccurs="0"/>
				<xs:element ref="I.WB" minOccurs="0"/>
				<xs:element ref="I.TAXABLEWAGE" minOccurs="0"/>
				<xs:element ref="I.CLASS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ISDD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLMSGSRQV1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYROLLUPDATERQ"/>
				<!--minOccurs="0" maxOccurs="unbounded"/-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYCHKTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PAYCHK"/>
				<xs:enumeration value="YTDADJ"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYCHKINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.SICKACCRUED"/>
				<xs:element ref="I.VACACCRUED"/>
				<xs:element ref="I.PRORATE"/>
				<xs:element ref="I.CHKNUM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYCHKID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMP" type="IEMP"/>
	<xs:element name="I.EMPMOD" type="IEMP"/>
	<xs:complexType name="IEMP">
		<xs:sequence>
			<xs:element ref="I.EMPID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.CREATETIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.MODTIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.ADDRINFO" minOccurs="0"/>
			<xs:element ref="I.SSN" minOccurs="0"/>
			<xs:element ref="I.DTHIRE" minOccurs="0"/>
			<xs:element ref="I.DTRELEASE" minOccurs="0"/>
			<xs:element ref="I.BIRTHDATE" minOccurs="0"/>
			<xs:element ref="I.PAYROLL" minOccurs="0"/>
			<xs:element ref="I.EMPTAX" minOccurs="0"/>
			<xs:element ref="I.SICK" minOccurs="0"/>
			<xs:element ref="I.VAC" minOccurs="0"/>
			<xs:element ref="I.EMPDD" minOccurs="0"/>
			<xs:element ref="I.EMPCOMPLIANCE" minOccurs="0"/>
			<xs:element ref="I.INACTIVE" minOccurs="0"/>
			<xs:element ref="I.EMPNAME" minOccurs="0"/>
			<xs:element ref="I.BILLPAYACCT" minOccurs="0"/>
			<xs:element ref="I.HASCUSTOMFLD" minOccurs="0"/>
			<xs:element ref="I.EMPTYPE" minOccurs="0"/>
			<xs:element ref="I.EMPSEASONAL" minOccurs="0"/>
			<xs:element ref="I.EMPGENDER" minOccurs="0"/>
			<xs:element ref="I.CUSTOMFLD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.SESSIONID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.PAYCHK" type="IPAYCHK"/>
	<xs:element name="I.PAYCHKMOD" type="IPAYCHK"/>
	<xs:complexType name="IPAYCHK">
		<xs:sequence>
			<xs:element ref="I.PAYCHKID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.CREATETIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.MODTIMESTAMP" minOccurs="0"/>
			<xs:element ref="I.PAYSTUBINFO" minOccurs="0"/>
			<xs:element ref="I.EMPID"/>
			<xs:element ref="I.DTTX" minOccurs="0"/>
			<xs:element ref="I.PAYCHKTYPE"/>
			<xs:element ref="I.EMPNAME"/>
			<xs:element ref="I.CLASS"/>
			<xs:element ref="I.ACCTNAME" minOccurs="0"/>
			<xs:element ref="I.AMT" minOccurs="0"/>
			<xs:element ref="I.PAYCHKINFO" minOccurs="0"/>
			<xs:element ref="I.VOID"/>
			<xs:element ref="I.ONSERVICE" minOccurs="0"/>
			<xs:element ref="I.DTPAYPDBEGIN"/>
			<xs:element ref="I.DTPAYPDEND"/>
			<xs:element ref="I.MEMO"/>
			<xs:element ref="I.CLEARED"/>
			<xs:element ref="I.SALARYLINE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.HRLYWAGELINE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.ADJLINE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.TAXLINE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.DDLINE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.SESSIONID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.HRLYWAGELINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.YTDAMT"/>
				<xs:element ref="I.RATE"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.HRS"/>
				<xs:element ref="I.CLASS"/>
				<xs:element ref="I.JOB"/>
				<xs:element ref="I.ITEM"/>
				<xs:element ref="I.WCCODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SALARYLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.YTDAMT" minOccurs="0"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.HRS" minOccurs="0"/>
				<xs:element ref="I.CLASS"/>
				<xs:element ref="I.JOB" minOccurs="0"/>
				<xs:element ref="I.ITEM" minOccurs="0"/>
				<xs:element ref="I.WCCODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADJLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.AMT" minOccurs="0"/>
				<xs:element ref="I.YTDAMT" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.QTY" minOccurs="0"/>
				<xs:element ref="I.EXPBYJOB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.QTY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EXPBYJOB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.YTDAMT"/>
				<xs:element ref="I.WB"/>
				<xs:element ref="I.TAXABLEWAGE"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.TIPSWB"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.YTDAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TIPSWB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.JOB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ITEM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="150"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.WCCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ONSERVICE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MEMO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4095"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAILSTATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAILPCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAILCITY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAILADDR2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAILADDR1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LEGALNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.IPADDRESS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FEIN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SYNCCOMPLETEINFO">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FAX">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="42"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMAIL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTTX">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="8"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTPAYPDEND">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="8"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTPAYPDBEGIN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="8"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTPAYCHKS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="8"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DDLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.DDACCT"/>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DDAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DDADVICE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.DDAMT"/>
				<xs:element ref="I.DD" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BANKACCTTO"/>
				<xs:element ref="I.EMPID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.EMPNAME"/>
				<xs:element ref="I.SSN"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.CONTITLE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CONTACT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.NUMBER" minOccurs="0"/>
				<xs:element ref="I.TITLE" minOccurs="0"/>
				<xs:element ref="I.FIRSTNAME" minOccurs="0"/>
				<xs:element ref="I.MIDDLENAME" minOccurs="0"/>
				<xs:element ref="I.LASTNAME" minOccurs="0"/>
				<xs:element ref="I.GENCODE" minOccurs="0"/>
				<xs:element ref="I.DAYPHONE" minOccurs="0"/>
				<xs:element ref="I.EVEPHONE" minOccurs="0"/>
				<xs:element ref="I.CONFIRSTNAME" minOccurs="0"/>
				<xs:element ref="I.CONLASTNAME" minOccurs="0"/>
				<xs:element ref="I.CONMIDINI" minOccurs="0"/>
				<xs:element ref="I.CONTITLE" minOccurs="0"/>
				<xs:element ref="I.PHONE" minOccurs="0"/>
				<xs:element ref="I.FAX" minOccurs="0"/>
				<xs:element ref="I.EMAIL" minOccurs="0"/>
				<xs:element ref="I.CONBUSTITLE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.CONMIDINI">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CONLASTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CONFIRSTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COINFOMOD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.BANKNAME" minOccurs="0"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.REGNUM" minOccurs="0"/>
				<xs:element ref="I.LEGALNAME" minOccurs="0"/>
				<xs:element ref="I.FEIN" minOccurs="0"/>
				<xs:element ref="I.ADDR1" minOccurs="0"/>
				<xs:element ref="I.ADDR2" minOccurs="0"/>
				<xs:element ref="I.CITY" minOccurs="0"/>
				<xs:element ref="I.STATE" minOccurs="0"/>
				<xs:element ref="I.POSTALCODE" minOccurs="0"/>
				<xs:element ref="I.Q1TAXLIABAMT" minOccurs="0"/>
				<xs:element ref="I.Q2TAXLIABAMT" minOccurs="0"/>
				<xs:element ref="I.Q3TAXLIABAMT" minOccurs="0"/>
				<xs:element ref="I.Q4TAXLIABAMT" minOccurs="0"/>
				<xs:element ref="I.PRINCFIRSTNAME" minOccurs="0"/>
				<xs:element ref="I.PRINCLASTNAME" minOccurs="0"/>
				<xs:element ref="I.PRINCMIDINI" minOccurs="0"/>
				<xs:element ref="I.PRINCTITLE" minOccurs="0"/>
				<xs:element ref="I.CONTACT" minOccurs="0"/>
				<xs:element ref="BANKACCTFROM" minOccurs="0"/>
				<xs:element ref="I.REALMID" minOccurs="0"/>
				<xs:element ref="I.TAXREADY" minOccurs="0"/>
				<xs:element ref="I.DTFILEQTRSTART" minOccurs="0"/>
				<xs:element ref="I.TESTING" minOccurs="0"/>
				<xs:element ref="I.MAILADDR1" minOccurs="0"/>
				<xs:element ref="I.MAILADDR2" minOccurs="0"/>
				<xs:element ref="I.MAILCITY" minOccurs="0"/>
				<xs:element ref="I.MAILSTATE" minOccurs="0"/>
				<xs:element ref="I.MAILPCODE" minOccurs="0"/>
				<xs:element ref="I.STRTADDR1" minOccurs="0"/>
				<xs:element ref="I.STRTADDR2" minOccurs="0"/>
				<xs:element ref="I.STRTCITY" minOccurs="0"/>
				<xs:element ref="I.STRTSTATE" minOccurs="0"/>
				<xs:element ref="I.STRTPCODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="APPVER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
				<xs:pattern value="\d+\.\d+\.[RPBA]\.\d+[/].+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="APPID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DSSCUINFOMODRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.USERID"/>
				<xs:element ref="I.AGREENUM"/>
				<xs:element ref="I.OFFERCODE"/>
				<xs:element ref="I.DTCLIENT"/>
				<xs:element ref="I.BUSNAME" minOccurs="0"/>
				<xs:element ref="I.LEGALNAME" minOccurs="0"/>
				<xs:element ref="I.PRINCNAME" minOccurs="0"/>
				<xs:element ref="I.FEIN" minOccurs="0"/>
				<xs:element ref="I.APPKEY" minOccurs="0"/>
				<xs:element ref="I.PRICE_TYPE" minOccurs="0"/>
				<xs:element ref="I.AGREESUBTYPE" minOccurs="0"/>
				<xs:element ref="I.TAXSERVICE" minOccurs="0"/>
				<xs:element ref="I.DIRECTDEPOSIT" minOccurs="0"/>
				<xs:element ref="I.FEDFILINGSERVICE" minOccurs="0"/>
				<xs:element ref="I.STATEFILINGSERVICE" minOccurs="0"/>
				<xs:element ref="I.FEDPMTFREQ" minOccurs="0"/>
				<xs:element ref="I.APPVER" minOccurs="0"/>
				<xs:element ref="I.TAXEXEMPT" minOccurs="0"/>
				<xs:element ref="I.REGNUM" minOccurs="0"/>
				<xs:element ref="I.BUSFAX" minOccurs="0"/>
				<xs:element ref="I.BUSPHONE" minOccurs="0"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.BANKNAME" minOccurs="0"/>
				<xs:element name="ACCTID" minOccurs="0"/>
				<xs:element name="BANKID" minOccurs="0"/>
				<xs:element ref="ACCTTYPE" minOccurs="0"/>
				<xs:element ref="I.TAXDISP" minOccurs="0"/>
				<xs:element ref="I.CANCELREASON" minOccurs="0"/>
				<xs:element ref="I.CANCELDISPOSITION" minOccurs="0"/>
				<xs:element ref="I.CHANGESOURCE" minOccurs="0"/>
				<xs:element ref="I.STATUSREASON" minOccurs="0"/>
				<xs:element ref="I.ADDRESSLIST" minOccurs="0"/>
				<xs:element ref="I.CONTACT" minOccurs="0"/>
				<xs:element ref="I.PRINCIPALLIST" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PRINCIPALLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PRINCIPAL" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PRINCIPAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.NUMBER"/>
				<xs:element ref="I.TITLE"/>
				<xs:element ref="I.FIRSTNAME"/>
				<xs:element ref="I.MIDDLENAME"/>
				<xs:element ref="I.LASTNAME"/>
				<xs:element ref="I.GENCODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.NUMBER">
		<xs:simpleType>
			<xs:restriction base="xs:int"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.GENCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DAYPHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EVEPHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CONBUSTITLE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDRESSLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADDRESS" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADDRESS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TYPE"/>
				<xs:element ref="I.ADDR1"/>
				<xs:element ref="I.ADDR2"/>
				<xs:element ref="I.CITY"/>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.POSTALCODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPTAX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.SUBJTOFIT"/>
				<xs:element ref="I.SUBJTOSS"/>
				<xs:element ref="I.SUBJTOFUTA"/>
				<xs:element ref="I.SUBJTOMCARE"/>
				<xs:element ref="I.QUALFORAEIC"/>
				<xs:element ref="I.DECEASED"/>
				<xs:element ref="I.ENFORCESUBJECTTO"/>
				<xs:element ref="I.EMPFIT" minOccurs="0"/>
				<xs:element ref="I.EMPSIT" minOccurs="0"/>
				<xs:element ref="I.EMPSUI" minOccurs="0"/>
				<xs:element ref="I.EMPSDI" minOccurs="0"/>
				<xs:element ref="I.EMPOTHERTAX" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYPD" minOccurs="0"/>
				<xs:element ref="I.CLASS" minOccurs="0"/>
				<xs:element ref="I.USETIME" minOccurs="0"/>
				<xs:element ref="I.PPLANOVERRIDE" minOccurs="0"/>
				<xs:element ref="I.WAGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.ADJ" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYPD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SEMIMONTHLY"/>
				<xs:enumeration value="BIWEEKLY"/>
				<xs:enumeration value="WEEKLY"/>
				<xs:enumeration value="MONTHLY"/>
				<xs:enumeration value="DAILY"/>
				<xs:enumeration value="YEARLY"/>
				<xs:enumeration value="QUARTERLY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.WAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SICK" type="ACCRUAL"/>
	<xs:element name="I.VAC" type="ACCRUAL"/>
	<xs:complexType name="ACCRUAL">
		<xs:sequence>
			<xs:element ref="I.HRS"/>
			<xs:element ref="I.ACCRUALPD" minOccurs="0"/>
			<xs:element ref="I.HRSPERPD" minOccurs="0"/>
			<xs:element ref="I.MAXHRS" minOccurs="0"/>
			<xs:element ref="I.NEWYRRESET" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.ACCRUALPD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HRSPERPD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAXHRS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.NEWYRRESET">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPDD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.USEDD" minOccurs="0"/>
				<xs:element ref="I.DDACCT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.USEDD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPCOMPLIANCE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.SETTING" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SETTING">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.DOMAIN"/>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.NAME"/>
				<xs:element ref="I.VALUE"/>
				<xs:element ref="I.RULESVERSION"/>
				<xs:element ref="I.DESCRIPTION"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DOMAIN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.VALUE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.RULESVERSION">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DESCRIPTION">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DDACCT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ACCTNAME"/>
				<xs:element ref="I.AMT" minOccurs="0"/>
				<xs:element ref="BANKACCTTO"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BANKID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
				<xs:pattern value="\d+"/>
				<xs:pattern value=""/>
				<xs:pattern value="^@~*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACCTTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="UNKNOWN"/>
				<xs:enumeration value="CHECKING"/>
				<xs:enumeration value="SAVINGS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACCTID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="0"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BANKACCTTO" type="BANKACCT"/>
	<xs:element name="BANKACCTFROM" type="BANKACCT"/>
	<xs:complexType name="BANKACCT">
		<xs:sequence>
			<xs:element ref="BANKID"/>
			<xs:element ref="ACCTID"/>
			<xs:element ref="ACCTTYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.ENFORCESUBJECTTO">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DECEASED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QUALFORAEIC">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOMCARE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOFUTA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOSS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOFIT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPFIT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TAXTBLMISCDATA" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.FEDFILESTATUS"/>
				<xs:element ref="I.ALLOWANCES"/>
				<xs:element ref="I.CLAIMDEPENDENTS" minOccurs="0"/>
				<xs:element ref="I.OTHERINCOME" minOccurs="0"/>
				<xs:element ref="I.DEDUCTIONS" minOccurs="0"/>
				<xs:element ref="I.MULTIPLEJOBS" minOccurs="0"/>
				<xs:element ref="I.FEDW4EMPLOYEEPREF" minOccurs="0"/>
				<xs:element ref="I.EXTRAWITHHOLD"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPSIT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TAXLAWVER"/>
				<xs:element ref="I.TAXTBLMISCDATA" maxOccurs="unbounded"/>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.STATEFILESTATUS"/>
				<xs:element ref="I.ALLOWANCES"/>
				<xs:element ref="I.EXTRAWITHHOLD"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.FEDFILESTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXLAWVER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXTBLMISCDATA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPSDI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPOTHERTAX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TAXLAWVER"/>
				<xs:element ref="I.TAXTBLMISCDATA" maxOccurs="unbounded"/>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.W2NAME"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.FIRSTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MIDDLENAME" type="xs:string"/>
	<xs:element name="I.LASTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TITLE" type="xs:string"/>
	<xs:element name="I.USERID" type="xs:string"/>
	<xs:element name="I.AGREENUM" type="xs:string"/>
	<xs:element name="I.OFFERCODE" type="xs:string"/>
	<xs:element name="I.DTCLIENT" type="xs:string"/>
	<xs:element name="I.BUSNAME" type="xs:string"/>
	<xs:element name="I.PRINCNAME" type="xs:string"/>
	<xs:element name="I.APPKEY" type="xs:string"/>
	<xs:element name="I.PRICE_TYPE" type="xs:string"/>
	<xs:element name="I.AGREESUBTYPE" type="xs:string"/>
	<xs:element name="I.TAXSERVICE" type="xs:string"/>
	<xs:element name="I.DIRECTDEPOSIT" type="xs:string"/>
	<xs:element name="I.FEDFILINGSERVICE" type="xs:string"/>
	<xs:element name="I.STATEFILINGSERVICE" type="xs:string"/>
	<xs:element name="I.FEDPMTFREQ" type="xs:string"/>
	<xs:element name="I.APPVER" type="xs:string"/>
	<xs:element name="I.TAXEXEMPT" type="xs:string"/>
	<xs:element name="I.BUSFAX" type="xs:string"/>
	<xs:element name="I.BUSPHONE" type="xs:string"/>
	<xs:element name="I.TAXDISP" type="xs:string"/>
	<xs:element name="I.CANCELREASON" type="xs:string"/>
	<xs:element name="I.CANCELDISPOSITION" type="xs:string"/>
	<xs:element name="I.CANCELSOURCE" type="xs:string"/>
	<xs:element name="I.STATUSREASON" type="xs:string"/>
	<xs:element name="I.TYPE" type="xs:string"/>
	<xs:element name="I.CHANGESOURCE" type="xs:string"/>
	<xs:element name="I.SUBTYPE" type="xs:string"/>
	<xs:element name="I.W2NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPSUI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EXTRAWITHHOLD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CLAIMDEPENDENTS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.OTHERINCOME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DEDUCTIONS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MULTIPLEJOBS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FEDW4EMPLOYEEPREF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATEFILESTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ALLOWANCES">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTHIRE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTRELEASE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BIRTHDATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.INITIALS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRINTASNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ALTPHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATELIVED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATEWORKED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LAST">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MI">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FIRST">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPSEASONAL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPGENDER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QBUNIQUEID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CREATETIMESTAMP" type="xs:integer"/>
	<xs:element name="I.MODTIMESTAMP" type="xs:integer"/>
	<xs:element name="I.SSN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.RATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HRS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CLASS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="210"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXREADY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TESTING">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTFILEQTRSTART">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CLEARED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CITY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CHKNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BANKNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="51"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.AMT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDR2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDR1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ACCTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DTCLIENT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HASCUSTOMFLD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BILLPAYACCT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.INACTIVE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CUSTOMFLD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.FLDNAME" minOccurs="0"/>
				<xs:element ref="I.FLDVALUE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.FLDNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FLDVALUE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.LIMIT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.LIMIT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PPLANOVERRIDE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.USETIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REFNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.POSTALCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.WB">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXABLEWAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYSTUBINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYCHKID" minOccurs="0"/>
				<xs:element ref="I.QBUNIQUEID"/>
				<xs:element ref="I.CHKNUM" minOccurs="0"/>
				<xs:element ref="I.CREATETIMESTAMP"/>
				<xs:element ref="I.MODTIMESTAMP"/>
				<xs:element ref="I.EMPLOYEEINFO"/>
				<xs:element ref="I.EMPLOYERINFO"/>
				<xs:element ref="I.PAYPERIOD"/>
				<xs:element name="I.GROSSPAY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.YTDGROSSPAY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
               	<xs:element name="I.NETPAY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.YTDNETPAY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.ADJNETPAY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.YTDADJNETPAY">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.TAXES">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.YTDTAXES">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.PRETAXDEDUCTIONS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.YTDPRETAXDEDUCTIONS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.EARNINGSLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.EARNINGSLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.PRETAXDEDUCTIONLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.PRETAXDEDUCTIONLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.ADJNETPAYLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.ADJNETPAYLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.TAXLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.TAXLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.DIRECTDEPOSITLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.DIRECTDEPOSITLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.NONTAXCOMPANYCONTRIBUTIONLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.NONTAXCOMPANYCONTRIBUTIONLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.TAXCOMPANYCONTRIBUTIONLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.TAXCOMPANYCONTRIBUTIONLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.PAIDTIMEOFFLINEITEMS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.PAIDTIMEOFFLINEITEM" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.USERMESSAGES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.USERMESSAGE" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="I.COMPANYMESSAGES" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="I.COMPANYMESSAGE" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPLOYEEINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.QBUNIQUEID"/>
				<xs:element ref="I.FIRSTNAME" minOccurs="0"/>
				<xs:element ref="I.MIDDLENAME" minOccurs="0"/>
				<xs:element ref="I.LASTNAME" minOccurs="0"/>
				<xs:element name="I.ADDRESS" type="IPSTUBADDRESS" minOccurs="0"/>
				<xs:element ref="I.SSN" minOccurs="0"/>
				<xs:element name="I.FEDTAXFILINGSTATUS">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.FEDTAXFILINGSTATUSCODE" type="xs:int"/>
				<xs:element name="I.STATETAXFILINGSTATUS" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="63"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.STATETAXFILINGSTATUSCODE" type="xs:int" minOccurs="0"/>
				<xs:element name="I.FEDERALALLOWANCES" type="xs:int"/>
				<xs:element name="I.STATEALLOWANCES" type="xs:int" minOccurs="0"/>
				<xs:element name="I.FEDERALEXTRA" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.FEDERALCLAIMDEPENDENTS" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.FEDERALOTHERINCOME" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.FEDERALDEDUCTIONS" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.FEDERALMULTIPLEJOBS" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.FEDERALW4EMPPREF" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.STATEEXTRA" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.TAXFILINGSTATE" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="I.CREATETIMESTAMP"/>
				<xs:element ref="I.MODTIMESTAMP"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPLOYERINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.NAME" minOccurs="0"/>
				<xs:element name="I.ADDRESS" type="IPSTUBADDRESS" minOccurs="0"/>
				<xs:element name="I.NAMEADDRFEDID" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="I.EMPLOYERHASH" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="200"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
                <xs:element name="I.AGENCYID" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                    </xs:restriction>
                </xs:simpleType>
                </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYPERIOD">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="I.BEGINDATE" type="xs:date"/>
				<xs:element name="I.ENDDATE" type="xs:date"/>
				<xs:element name="I.CHECKDATE" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPPAID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EARNINGSLINEITEM" type="IPSTUBPAYLINEITEM"/>
	<xs:complexType name="IPSTUBADDRESS">
		<xs:sequence>
			<xs:element name="I.LINE1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="51"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I.LINE2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="51"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I.LINE3" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="51"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I.LINE4" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="51"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I.LINE5" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="51"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.PRETAXDEDUCTIONLINEITEM" type="IPSTUBPAYLINEITEM"/>
	<xs:element name="I.WAGEBASE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ROUTINGNUMBER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ACCTNUMBER">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ACCTTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.AVAILABLE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.YTDUSED">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.INCOMESUBJECTTOTAX">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DIRECTDEPOSITLINEITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.NAME"/>
				<xs:element ref="I.CURAMT"/>
				<xs:element ref="I.QBUNIQUEID"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.BANKNAME" minOccurs="0"/>
				<xs:element ref="I.ROUTINGNUMBER" minOccurs="0"/>
				<xs:element ref="I.ACCTNUMBER" minOccurs="0"/>
				<xs:element ref="I.ACCTTYPE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADJNETPAYLINEITEM" type="IPSTUBPAYLINEITEM"/>
	<xs:element name="I.TAXLINEITEM" type="IPSTUBPAYLINEITEM"/>
	<xs:element name="I.NONTAXCOMPANYCONTRIBUTIONLINEITEM" type="IPSTUBPAYLINEITEM"/>
	<xs:element name="I.TAXCOMPANYCONTRIBUTIONLINEITEM" type="IPSTUBPAYLINEITEM"/>
	<xs:element name="I.PAIDTIMEOFFLINEITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.NAME" minOccurs="0"/>
				<xs:element ref="I.AVAILABLE" minOccurs="0"/>
				<xs:element ref="I.YTDUSED" minOccurs="0"/>
				<xs:element ref="I.QBUNIQUEID"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.USERMESSAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COMPANYMESSAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="IPSTUBPAYLINEITEM">
		<xs:sequence>
			<xs:element ref="I.NAME"/>
			<xs:element ref="I.QTYTIME" minOccurs="0"/>
			<xs:element ref="I.QTYAMOUNT" minOccurs="0"/>
			<xs:element ref="I.RATE" minOccurs="0"/>
			<xs:element ref="I.CURAMT" minOccurs="0"/>
			<xs:element ref="I.YTDAMT" minOccurs="0"/>
			<xs:element ref="I.INCOMESUBJECTTOTAX" minOccurs="0"/>
			<xs:element ref="I.WAGEBASE" minOccurs="0"/>
			<xs:element ref="I.EMPPAID"/>
			<xs:element ref="I.QBUNIQUEID"/>
			<xs:element ref="I.ACCTNAME" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.QTYTIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QTYAMOUNT">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.W2CODE">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REALMID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DETAILTYPE" type="xs:long"/>
	<xs:element name="I.TAXLAWID" type="xs:long"/>
	<xs:element name="I.OTMULTIPLIER" type="xs:float"/>
</xs:schema>
