phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Common/ofx/src/main/resources/ofx_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TRNUID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TOKEN">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CODE"/>
				<xs:element ref="SEVERITY"/>
				<xs:element ref="MESSAGE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SONRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="STATUS"/>
				<xs:element ref="DTSERVER"/>
				<xs:element ref="LANGUAGE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIGNONMSGSRSV1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SONRS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SEVERITY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OFX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SIGNONMSGSRSV1"/>
				<xs:element ref="I.PAYROLLMSGSRSV1" minOccurs="0"/>
				<xs:element ref="I.PAYSVCMSGSRSV1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYSVCMSGSRSV1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYSVCSYNCRS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYSVCSYNCRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOKEN" minOccurs="0"/>
				<xs:element ref="SYNCERROR" minOccurs="0"/>
				<xs:group ref="messagetype" minOccurs="0" maxOccurs="unbounded"/>
				<!--
				<xs:element ref="I.CUEVENTTRNRS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.CUINFOMODTRNRS" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.DSSCUINFOMODTRNRS" minOccurs="0" maxOccurs="unbounded"/>
-->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="messagetype">
		<xs:sequence>
			<xs:element ref="I.CUEVENTTRNRS" minOccurs="0"/>
			<xs:element ref="I.CUINFOMODTRNRS" minOccurs="0"/>
			<xs:element ref="I.DSSCUINFOMODTRNRS" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="I.DSSCUINFOMODTRNRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRNUID"/>
				<xs:element ref="STATUS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MESSAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LANGUAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ENG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.VOID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.VACACCRUED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TXLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.WB" minOccurs="0"/>
				<xs:element ref="I.TAXABLEWAGE" minOccurs="0"/>
				<xs:element ref="I.CLASS" minOccurs="0"/>
				<xs:element ref="I.ISDD" minOccurs="0"/>
				<xs:element ref="I.MEMO" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.TAXSERVSTATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TAXSERVMODE"/>
				<xs:element ref="I.DTACTIVE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.TAXSERVMODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTACTIVE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SICKACCRUED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SERVICEKEY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRORATE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMNEXTID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLUPDATERS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOKEN"/>
				<xs:element ref="I.PAYROLLTXNEXTID"/>
				<xs:element ref="I.PAYCHKNEXTID"/>
				<xs:element ref="I.EMPNEXTID"/>
				<xs:element ref="I.PITEMNEXTID"/>
				<xs:element ref="I.TAXSERVSTATUS" minOccurs="0"/>
				<xs:element ref="I.DDSTATUS" minOccurs="0"/>
				<xs:element ref="I.GLSERVSTATUS" minOccurs="0"/>
				<xs:element ref="I.PAYROLLTRNRS" minOccurs="0"/>
				<xs:element ref="I.PAYROLLUPDATEDATA" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLUPDATEDATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.COINFOMOD" minOccurs="0"/>
				<xs:element ref="I.SESSIONID" minOccurs="0"/>		
				<xs:element ref="I.PITEMDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PITEMMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.EMPDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.EMPMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYCHKMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTXDELID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTXMOD" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SESSIONID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTXTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTXNEXTID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTXID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTRNRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRNUID"/>
				<xs:element ref="STATUS"/>
				<xs:element minOccurs="0" ref="WARNING"/>
				<xs:element ref="I.PAYROLLRS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYCHKMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTXMOD" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.PAYROLLTX" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLMSGSRSV1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYROLLUPDATERS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYCHKTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYCHKNEXTID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPMOD" type="IEMP"/>
	<xs:complexType name="IEMP">
		<xs:sequence>
			<xs:element ref="I.EMPID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.EMPNAME" minOccurs="0"/>
			<xs:element ref="I.EMPTYPE" minOccurs="0"/>
			<xs:element ref="I.EMPSEASONAL" minOccurs="0"/>
			<xs:element ref="I.ADDRINFO" minOccurs="0"/>
			<xs:element ref="I.EMPGENDER" minOccurs="0"/>
			<xs:element ref="I.SSN" minOccurs="0"/>
			<xs:element ref="I.DTHIRE" minOccurs="0"/>
			<xs:element ref="I.DTRELEASE" minOccurs="0"/>
			<xs:element ref="I.BIRTHDATE" minOccurs="0"/>
			<xs:element ref="I.PAYROLL" minOccurs="0"/>
			<xs:element ref="I.EMPTAX" minOccurs="0"/>
			<xs:element ref="I.SICK" minOccurs="0"/>
			<xs:element ref="I.VAC" minOccurs="0"/>
			<xs:element ref="I.EMPDD" minOccurs="0"/>
			<xs:element ref="I.BILLPAYACCT" minOccurs="0"/>
			<xs:element ref="I.HASCUSTOMFLD" minOccurs="0"/>
			<xs:element ref="I.CUSTOMFLD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="I.INACTIVE" minOccurs="0"/>
			<xs:element ref="I.EMPCOMPLIANCE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.PITEMDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLTXDELID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMMOD" type="IPITEM"/>
	<xs:complexType name="IPITEM">
		<xs:sequence>
			<xs:element ref="I.PITEMID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.PITEMNAME"/>
			<xs:element ref="I.INACTIVE"/>
			<xs:element ref="I.ISEMP"/>
			<xs:element ref="I.SPECIALTYPE" minOccurs="0"/>
			<xs:element ref="I.DDITEM" minOccurs="0"/>
			<xs:element ref="I.ADDITEM" minOccurs="0"/>
			<xs:element ref="I.COMMITEM" minOccurs="0"/>
			<xs:element ref="I.TAXITEM" minOccurs="0"/>
			<xs:element ref="I.CONTRIBITEM" minOccurs="0"/>
			<xs:element ref="I.DEDUCTITEM" minOccurs="0"/>
			<xs:element ref="I.HRLYITEM" minOccurs="0"/>
			<xs:element ref="I.BONUSITEM" minOccurs="0"/>
			<xs:element ref="I.SALARYITEM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.ADDRINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TITLE" minOccurs="0"/>
				<xs:element ref="I.FIRST" minOccurs="0"/>
				<xs:element ref="I.MI" minOccurs="0"/>
				<xs:element ref="I.LAST" minOccurs="0"/>
				<xs:element ref="I.INITIALS" minOccurs="0"/>
				<xs:element ref="I.PRINTASNAME" minOccurs="0"/>
				<xs:element ref="I.ADDR1" minOccurs="0"/>
				<xs:element ref="I.ADDR2" minOccurs="0"/>
				<xs:element ref="I.CITY" minOccurs="0"/>
				<xs:element ref="I.STATE" minOccurs="0"/>
				<xs:element ref="I.STATEWORKED" minOccurs="0"/>
				<xs:element ref="I.STATELIVED" minOccurs="0"/>
				<xs:element ref="I.POSTALCODE" minOccurs="0"/>
				<xs:element ref="I.PHONE" minOccurs="0"/>
				<xs:element ref="I.ALTPHONE" minOccurs="0"/>
				<xs:element ref="I.EMAIL" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLTX" type="IPAYROLLTX"/>
	<xs:element name="I.PAYROLLTXMOD" type="IPAYROLLTX"/>
	<xs:complexType name="IPAYROLLTX">
		<xs:sequence>
			<xs:element ref="I.PAYROLLTXID"/>
			<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
			<xs:element ref="I.EMPNAME" minOccurs="0"/>
			<xs:element ref="I.EMPID" minOccurs="0"/>
			<xs:element ref="I.NAME"/>
			<xs:element ref="I.ACCTNAME"/>
			<xs:element ref="I.AMT"/>
			<xs:element ref="I.MEMO" minOccurs="0"/>
			<xs:element ref="I.CLEARED"/>
			<xs:element ref="I.DTTX"/>
			<xs:element ref="I.REFNUM"/>
			<xs:element ref="I.PAYROLLTXTYPE"/>
			<xs:element ref="I.DTPAYPDEND"/>
			<xs:element ref="I.VOID"/>
			<xs:element ref="I.ONSERVICE"/>
			<xs:element ref="I.TXLINE" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.PAYCHKMOD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYCHKID"/>
				<xs:element ref="I.QBUNIQUEID" minOccurs="0"/>
				<xs:element ref="I.EMPID"/>
				<xs:element ref="I.EMPNAME"/>
				<xs:element ref="I.DTTX"/>
				<xs:element ref="I.DTPAYPDBEGIN"/>
				<xs:element ref="I.DTPAYPDEND"/>
				<xs:element ref="I.CLEARED"/>
				<xs:element ref="I.CLASS"/>
				<xs:element ref="I.ACCTNAME"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.PAYCHKTYPE"/>
				<xs:element ref="I.PAYCHKINFO" minOccurs="0"/>
				<xs:element ref="I.MEMO" minOccurs="0"/>
				<xs:element ref="I.VOID"/>
				<xs:element ref="I.ONSERVICE"/>
				<xs:element ref="I.SALARYLINE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.HRLYWAGELINE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.ADJLINE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.TAXLINE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.DDLINE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.SESSIONID" minOccurs="0"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DDLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.DDACCT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYCHKINFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.SICKACCRUED"/>
				<xs:element ref="I.VACACCRUED"/>
				<xs:element ref="I.PRORATE"/>
				<xs:element ref="I.CHKNUM"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYCHKID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ONSERVICE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MEMO">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LEGALNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ISDD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FEIN">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPNEXTID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QBUNIQUEID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTTX">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTPAYPDEND">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTPAYPDBEGIN">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DDSTATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.DDMODE"/>
				<xs:element ref="I.FUNDINGMODEL" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DDMODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FUNDINGMODEL">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.GLSERVSTATUS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.GLMODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.GLMODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COINFOMOD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.LEGALNAME" minOccurs="0"/>
				<xs:element ref="I.FEIN" minOccurs="0"/>
				<xs:element ref="I.ADDR1" minOccurs="0"/>
				<xs:element ref="I.ADDR2" minOccurs="0"/>
				<xs:element ref="I.CITY" minOccurs="0"/>
				<xs:element ref="I.STATE" minOccurs="0"/>
				<xs:element ref="I.POSTALCODE" minOccurs="0"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.TAXREADY" minOccurs="0"/>
				<xs:element ref="I.DTFILEQTRSTART" minOccurs="0"/>
				<xs:element ref="I.SERVICEKEY" minOccurs="0"/>
				<xs:element ref="I.SUBTYPE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DTSERVER">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EVENTDATE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EVENTCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYROLLSTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ACTIVSTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HOLDFLAG">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REASONCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REASONTEXT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.APPID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REGNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STRIKECOUNT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ENTEXTFEATURE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SEASONAL">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<!-- CUEVENT -->
	<xs:element name="I.CUEVENTTRNRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRNUID"/>
				<xs:element ref="I.CUEVENTRS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.CUEVENTRS">
		<xs:complexType>
			<xs:all>
				<xs:element ref="I.USERID" minOccurs="0"/>
				<xs:element ref="I.AGREENUM" minOccurs="0"/>
				<xs:element ref="I.PAYROLLEVENT" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLLEVENT">
		<xs:complexType>
			<xs:all>
				<xs:element ref="I.EVENTDATE"/>
				<xs:element ref="I.EVENTCODE" minOccurs="0"/>
				<xs:element ref="I.PAYROLLSTATUS" minOccurs="0"/>
				<xs:element ref="I.ACTIVSTATUS" minOccurs="0"/>
				<xs:element ref="I.HOLDFLAG" minOccurs="0"/>
				<xs:element ref="I.EVENTREASON" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EVENTREASON">
		<xs:complexType>
			<xs:all>
				<xs:element ref="I.REASONCODE" minOccurs="0"/>
				<xs:element ref="I.REASONTEXT" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- CUINFOMOD -->
	<xs:element name="I.CUINFOMODTRNRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRNUID"/>
				<xs:element ref="I.CUINFOMODRS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.CUINFOMODRS">
		<xs:complexType>
			<xs:all>
				<xs:element ref="I.USERID"/>
				<xs:element ref="I.AGREENUM"/>
				<xs:element ref="DTCLIENT"/>
				<xs:element ref="I.LEGALNAME" minOccurs="0"/>
				<xs:element ref="I.FEIN" minOccurs="0"/>
				<xs:element ref="I.APPKEY" minOccurs="0"/>
				<xs:element ref="BANKID" minOccurs="0"/>
				<xs:element ref="ACCTID" minOccurs="0"/>
				<xs:element ref="ACCTTYPE" minOccurs="0"/>
				<xs:element ref="I.BANKNAME" minOccurs="0"/>
				<xs:element ref="I.ACCTNAME" minOccurs="0"/>
				<xs:element ref="I.FEDPMTFREQ"/>
				<xs:element ref="I.APPID"/>
				<xs:element ref="I.APPVER"/>
				<xs:element ref="I.REGNUM"/>
				<xs:element ref="I.STRIKECOUNT"/>
				<xs:element ref="I.TAXSERVICE" minOccurs="0"/>
				<xs:element ref="I.DIRECTDEPOSIT" minOccurs="0"/>
				<xs:element ref="I.FEDFILINGSERVICE" minOccurs="0"/>
				<xs:element ref="I.STATEFILINGSERVICE" minOccurs="0"/>
				<xs:element ref="I.SEASONAL" minOccurs="0"/>
				<xs:element ref="I.ENTEXTFEATURE" minOccurs="0"/>
				<xs:element ref="I.ADDRESSLIST" minOccurs="0"/>
				<xs:element ref="I.CONTACT" minOccurs="0"/>
				<xs:element ref="I.STATELIST"/>
				<xs:element ref="I.PRINCIPALLIST" minOccurs="0"/>
				<xs:element ref="I.CHANGESOURCE" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.STATELIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PRINCIPALLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PRINCIPAL" minOccurs="0" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PRINCIPAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.NUMBER"/>
				<xs:element ref="I.TITLE"/>
				<xs:element ref="I.FIRSTNAME"/>
				<xs:element ref="I.MIDDLENAME"/>
				<xs:element ref="I.LASTNAME"/>
				<xs:element ref="I.GENCODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.NUMBER">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.GENCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CONTACT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TITLE"/>
				<xs:element ref="I.FIRSTNAME"/>
				<xs:element ref="I.MIDDLENAME"/>
				<xs:element ref="I.LASTNAME"/>
				<xs:element ref="I.GENCODE"/>
				<xs:element ref="I.DAYPHONE"/>
				<xs:element ref="I.EVEPHONE"/>
				<xs:element ref="I.FAX"/>
				<xs:element ref="I.EMAIL"/>
				<xs:element ref="I.CONBUSTITLE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DAYPHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EVEPHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FAX">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMAIL">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CONBUSTITLE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDRESSLIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ADDRESS" minOccurs="0" maxOccurs="3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADDRESS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.TYPE"/>
				<xs:element ref="I.ADDR1"/>
				<xs:element ref="I.ADDR2"/>
				<xs:element ref="I.CITY"/>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.POSTALCODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SYNCERROR" type="xs:string"/>

	<xs:element name="I.EMPTAX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ENFORCESUBJECTTO"/>
				<xs:element ref="I.SUBJTOFIT"/>
				<xs:element ref="I.SUBJTOSS"/>
				<xs:element ref="I.SUBJTOFUTA"/>
				<xs:element ref="I.SUBJTOMCARE"/>
				<xs:element ref="I.QUALFORAEIC"/>
				<xs:element ref="I.EMPFIT" minOccurs="0"/>
				<xs:element ref="I.EMPSIT" minOccurs="0"/>
				<xs:element ref="I.EMPSUI" minOccurs="0"/>
				<xs:element ref="I.EMPSDI" minOccurs="0"/>
				<xs:element ref="I.EMPOTHERTAX" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.DECEASED" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYROLL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PAYPD" minOccurs="0"/>
				<xs:element ref="I.CLASS" minOccurs="0"/>
				<xs:element ref="I.USETIME" minOccurs="0"/>
				<xs:element ref="I.PPLANOVERRIDE" minOccurs="0"/>
				<xs:element ref="I.WAGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.ADJ" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.PAYPD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SEMIMONTHLY"/>
				<xs:enumeration value="BIWEEKLY"/>
				<xs:enumeration value="WEEKLY"/>
				<xs:enumeration value="MONTHLY"/>
				<xs:enumeration value="DAILY"/>
				<xs:enumeration value="YEARLY"/>
				<xs:enumeration value="QUARTERLY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.WAGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SICK" type="ACCRUAL"/>
	<xs:element name="I.VAC" type="ACCRUAL"/>
	<xs:complexType name="ACCRUAL">
		<xs:sequence>
			<xs:element ref="I.HRS"/>
			<xs:element ref="I.ACCRUALPD" minOccurs="0"/>
			<xs:element ref="I.HRSPERPD" minOccurs="0"/>
			<xs:element ref="I.MAXHRS" minOccurs="0"/>
			<xs:element ref="I.NEWYRRESET" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.ACCRUALPD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HRSPERPD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MAXHRS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.NEWYRRESET">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPDD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.USEDD" minOccurs="0"/>
				<xs:element ref="I.DDACCT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.USEDD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPCOMPLIANCE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.SETTING" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SETTING">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.DOMAIN"/>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.NAME"/>
				<xs:element ref="I.VALUE"/>
				<xs:element ref="I.DESCRIPTION"/>
				<xs:element ref="I.RULESVERSION"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DOMAIN">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.VALUE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.RULESVERSION">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DESCRIPTION">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DDACCT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.ACCTNAME"/>
				<xs:element ref="BANKACCTTO"/>
				<xs:element ref="I.AMT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BANKID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
				<xs:pattern value="\d+"/>
				<xs:pattern value=""/>
				<xs:pattern value="^@~*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACCTTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="UNKNOWN"/>
				<xs:enumeration value="CHECKING"/>
				<xs:enumeration value="SAVINGS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ACCTID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="0"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BANKACCTTO" type="BANKACCT"/>
	<xs:element name="BANKACCTFROM" type="BANKACCT"/>
	<xs:complexType name="BANKACCT">
		<xs:sequence>
			<xs:element ref="BANKID"/>
			<xs:element ref="ACCTID"/>
			<xs:element ref="ACCTTYPE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="I.ENFORCESUBJECTTO">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DECEASED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.QUALFORAEIC">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOMCARE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOFUTA">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOSS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SUBJTOFIT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPFIT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.FEDFILESTATUS"/>
				<xs:element ref="I.ALLOWANCES"/>
				<xs:element ref="I.CLAIMDEPENDENTS" minOccurs="0"/>
				<xs:element ref="I.OTHERINCOME" minOccurs="0"/>
				<xs:element ref="I.DEDUCTIONS" minOccurs="0"/>
				<xs:element ref="I.MULTIPLEJOBS" minOccurs="0"/>
				<xs:element ref="I.FEDW4EMPLOYEEPREF" minOccurs="0"/>
				<xs:element ref="I.EXTRAWITHHOLD"/>
				<xs:element ref="I.TAXLAWVER" minOccurs="0"/>
				<xs:element ref="I.TAXTBLMISCDATA" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPSIT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATEFILESTATUS"/>
				<xs:element ref="I.ALLOWANCES"/>
				<xs:element ref="I.EXTRAWITHHOLD"/>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.TAXLAWVER"/>
				<xs:element ref="I.TAXTBLMISCDATA" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.FEDFILESTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXLAWVER">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXTBLMISCDATA">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPSDI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.TAXLAWVER" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EMPOTHERTAX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.W2NAME"/>
				<xs:element ref="I.TAXLAWVER"/>
				<xs:element ref="I.TAXTBLMISCDATA" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.FIRSTNAME" type="xs:string"/>
	<xs:element name="I.MIDDLENAME" type="xs:string"/>
	<xs:element name="I.LASTNAME" type="xs:string"/>
	<xs:element name="I.TITLE" type="xs:string"/>
	<xs:element name="I.USERID" type="xs:string"/>
	<xs:element name="I.AGREENUM" type="xs:string"/>
	<xs:element name="I.DTCLIENT" type="xs:string"/>
	<xs:element name="I.BUSNAME" type="xs:string"/>
	<xs:element name="I.PRINCNAME" type="xs:string"/>
	<xs:element name="I.APPKEY" type="xs:string"/>
	<xs:element name="I.PRICE_TYPE" type="xs:string"/>
	<xs:element name="I.AGREESUBTYPE" type="xs:string"/>
	<xs:element name="I.TAXSERVICE" type="xs:string"/>
	<xs:element name="I.DIRECTDEPOSIT" type="xs:string"/>
	<xs:element name="I.FEDFILINGSERVICE" type="xs:string"/>
	<xs:element name="I.STATEFILINGSERVICE" type="xs:string"/>
	<xs:element name="I.FEDPMTFREQ" type="xs:string"/>
	<xs:element name="I.APPVER" type="xs:string"/>
	<xs:element name="I.TAXEXEMPT" type="xs:string"/>
	<xs:element name="I.BUSFAX" type="xs:string"/>
	<xs:element name="I.BUSPHONE" type="xs:string"/>
	<xs:element name="I.TAXDISP" type="xs:string"/>
	<xs:element name="I.CANCELREASON" type="xs:string"/>
	<xs:element name="I.CANCELDISPOSITION" type="xs:string"/>
	<xs:element name="I.CANCELSOURCE" type="xs:string"/>
	<xs:element name="I.STATUSREASON" type="xs:string"/>
	<xs:element name="I.TYPE" type="xs:string"/>
	<xs:element name="I.CHANGESOURCE" type="xs:string"/>
	<xs:element name="I.SUBTYPE" type="xs:string"/>
	<xs:element name="I.W2NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPSUI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.TAXLAWVER" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EXTRAWITHHOLD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CLAIMDEPENDENTS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.OTHERINCOME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DEDUCTIONS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MULTIPLEJOBS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FEDW4EMPLOYEEPREF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATEFILESTATUS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ALLOWANCES">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTHIRE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTRELEASE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BIRTHDATE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.INITIALS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PRINTASNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ALTPHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATELIVED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATEWORKED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LAST">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.MI">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FIRST">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PITEMNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EMPSEASONAL">
    		<xs:simpleType>
    			<xs:restriction base="xs:string"/>
    		</xs:simpleType>
    	</xs:element>
	<xs:element name="I.EMPGENDER">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SSN">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.RATE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.RATEPUSH">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HRS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CLASS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXREADY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TESTING">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DTFILEQTRSTART">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CLEARED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CITY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CHKNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BANKNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.AMT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDR2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADDR1">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ACCTNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DTCLIENT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HASCUSTOMFLD">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BILLPAYACCT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.INACTIVE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CUSTOMFLD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.FLDNAME" minOccurs="0"/>
				<xs:element ref="I.FLDVALUE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.FLDNAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FLDVALUE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADJ">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.PITEMNAME" minOccurs="0"/>
				<xs:element ref="I.LIMIT" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.LIMIT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PPLANOVERRIDE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.USETIME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.REFNUM">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.POSTALCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PHONE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.WB">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXABLEWAGE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ISEMP">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BONUSITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EXPACCT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.SPECIALTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ADJGROSS">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.CALCTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.BASEDONQTY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LIABACCT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.LIABAGENCY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COMPID">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DEFRATE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.DEFLIMIT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXFORMLINE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.COMMITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.LIABACCT" minOccurs="0"/>
				<xs:element ref="I.LIABAGENCY" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.DEFRATE" minOccurs="0"/>
				<xs:element ref="I.DEFLIMIT" minOccurs="0"/>
				<xs:element ref="I.ADJGROSS" minOccurs="0"/>
				<xs:element ref="I.BASEDONQTY" minOccurs="0"/>
				<xs:element ref="I.EXPBYJOB" minOccurs="0"/>
				<xs:element ref="I.EARNINGSTABLE" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE" minOccurs="0"/>
				<xs:element ref="I.TAXFORMLINE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DDITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.LIABACCT"/>
				<xs:element ref="I.LIABAGENCY"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.TAXITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.FEDTAX" minOccurs="0"/>
				<xs:element ref="I.STATETAXDESC" minOccurs="0"/>
				<xs:element ref="I.OTHERTAX" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE"/>
				<xs:element ref="I.LIABACCT"/>
				<xs:element ref="I.LIABAGENCY"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.RATEPUSH" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.RATECHANGE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.CALCTYPE" minOccurs="0"/>
				<xs:element ref="I.ADJGROSS" minOccurs="0"/>
				<xs:element ref="I.BASEDONQTY" minOccurs="0"/>
				<xs:element ref="I.DEFLIMIT" minOccurs="0"/>
				<xs:element ref="I.TAXFORMLINE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADDITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.LIABACCT" minOccurs="0"/>
				<xs:element ref="I.LIABAGENCY" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.DEFRATE"/>
				<xs:element ref="I.DEFLIMIT"/>
				<xs:element ref="I.TAXAFFECTED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.ADJGROSS"/>
				<xs:element ref="I.BASEDONQTY"/>
				<xs:element ref="I.EXPBYJOB"/>
				<xs:element ref="I.TAXFORMLINE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DEDUCTITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.LIABACCT"/>
				<xs:element ref="I.LIABAGENCY"/>
				<xs:element ref="I.ONSERVICE"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.DEFRATE"/>
				<xs:element ref="I.DEFLIMIT"/>
				<xs:element ref="I.TAXAFFECTED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.ADJGROSS"/>
				<xs:element ref="I.BASEDONQTY"/>
				<xs:element ref="I.TAXFORMLINE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SALARYITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.PAYTYPE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.CONTRIBITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT" minOccurs="0"/>
				<xs:element ref="I.LIABACCT" minOccurs="0"/>
				<xs:element ref="I.LIABAGENCY" minOccurs="0"/>
				<xs:element ref="I.COMPID" minOccurs="0"/>
				<xs:element ref="I.DEFRATE" minOccurs="0"/>
				<xs:element ref="I.TAXAFFECTED" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="I.ADJGROSS" minOccurs="0"/>
				<xs:element ref="I.BASEDONQTY" minOccurs="0"/>
				<xs:element ref="I.DEFLIMIT" minOccurs="0"/>
				<xs:element ref="I.EXPBYJOB" minOccurs="0"/>
				<xs:element ref="I.ONSERVICE" minOccurs="0"/>
				<xs:element ref="I.TAXFORMLINE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.RATECHANGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.DTSUNSET" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.DTSUNSET">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXAFFECTED">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HRLYITEM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.EXPACCT"/>
				<xs:element ref="I.PAYTYPE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.EARNINGSTABLE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.EXPBYJOB">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.PAYTYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.FEDTAX">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.OTHERTAX">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.STATETAXDESC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.STATE"/>
				<xs:element ref="I.STATETAX"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.STATETAX">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.HRLYWAGELINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.YTDAMT"/>
				<xs:element ref="I.RATE"/>
				<xs:element ref="I.HRS"/>
				<xs:element ref="I.CLASS"/>
				<xs:element ref="I.JOB"/>
				<xs:element ref="I.ITEM"/>
				<xs:element ref="I.WCCODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.SALARYLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.YTDAMT" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.HRS" minOccurs="0"/>
				<xs:element ref="I.CLASS"/>
				<xs:element ref="I.JOB" minOccurs="0"/>
				<xs:element ref="I.ITEM" minOccurs="0"/>
				<xs:element ref="I.WCCODE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.ADJLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID" minOccurs="0"/>
				<xs:element ref="I.AMT" minOccurs="0"/>
				<xs:element ref="I.YTDAMT" minOccurs="0"/>
				<xs:element ref="I.QTY" minOccurs="0"/>
				<xs:element ref="I.RATE" minOccurs="0"/>
				<xs:element ref="I.EXPBYJOB" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.QTY">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TAXLINE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="I.PITEMID"/>
				<xs:element ref="I.AMT"/>
				<xs:element ref="I.YTDAMT"/>
				<xs:element ref="I.WB"/>
				<xs:element ref="I.TAXABLEWAGE"/>
				<xs:element ref="I.TIPSWB"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="I.YTDAMT">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.TIPSWB">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.JOB">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.ITEM">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="I.WCCODE">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WARNING">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TITLE" type="xs:string"/>
				<xs:element name="MSG" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
