phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/Company.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.companyqueryrs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.companyqueryrs" xmlns:intf="urn:intuit.osp.pse.dd.wsapi.xsd.companyqueryrs" xmlns:tns1="http://base.wsf.common.osp.intuit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://base.wsf.common.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="WSException">
      <wsdl:part name="fault" type="tns1:WSException"/>
   </wsdl:message>

   <wsdl:message name="queryResponse">
      <wsdl:part name="queryReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="queryRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>
   
   <wsdl:message name="systemEventSyncResponse">
      <wsdl:part name="systemEventSyncReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="systemEventSyncRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>   

   <wsdl:portType name="Company">
      <wsdl:operation name="query" parameterOrder="requestDoc">
         <wsdl:input message="impl:queryRequest" name="queryRequest"/>
         <wsdl:output message="impl:queryResponse" name="queryResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>
      
      <wsdl:operation name="systemEventSync" parameterOrder="requestDoc">
         <wsdl:input message="impl:systemEventSyncRequest" name="systemEventSyncRequest"/>
         <wsdl:output message="impl:systemEventSyncResponse" name="systemEventSyncResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>      
   </wsdl:portType>

   <wsdl:binding name="CompanySoapBinding" type="impl:Company">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="query">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="queryRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companyquery.CompanyQuery" use="literal"/>
         </wsdl:input>
         <wsdl:output name="queryResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companyqueryrs.CompanyQueryRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="systemEventSync">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="systemEventSyncRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companysystemeventsync.CompanySystemEventSync" use="literal"/>
         </wsdl:input>
         <wsdl:output name="systemEventSyncResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companysystemeventsyncrs.CompanySystemEventSyncRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>      
   </wsdl:binding>   

   <wsdl:service name="Company">
      <wsdl:port binding="impl:CompanySoapBinding" name="Company">
         <wsdlsoap:address location="${wsdlsoap.address.location.root}/services/Company"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
