phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/CompanyBankAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountaddrs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountaddrs" xmlns:intf="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountaddrs" xmlns:tns1="http://base.wsf.common.osp.intuit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://base.wsf.common.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="WSException">
      <wsdl:part name="fault" type="tns1:WSException"/>
   </wsdl:message>

   <wsdl:message name="addResponse">
      <wsdl:part name="addReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="addRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="updateResponse">
      <wsdl:part name="updateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="updateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>
   
   <wsdl:message name="queryResponse">
      <wsdl:part name="queryReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="queryRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="queryStatusHistoryResponse">
      <wsdl:part name="queryStatusHistoryReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="queryStatusHistoryRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>   

   <wsdl:message name="verifyResponse">
      <wsdl:part name="verifyReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="verifyRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="deactivateResponse">
      <wsdl:part name="deactivateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="deactivateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message> 

   <wsdl:portType name="CompanyBankAccount">
      <wsdl:operation name="add" parameterOrder="requestDoc">
         <wsdl:input message="impl:addRequest" name="addRequest"/>
         <wsdl:output message="impl:addResponse" name="addResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="requestDoc">
         <wsdl:input message="impl:updateRequest" name="updateRequest"/>
         <wsdl:output message="impl:updateResponse" name="updateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>
     
      <wsdl:operation name="query" parameterOrder="requestDoc">
         <wsdl:input message="impl:queryRequest" name="queryRequest"/>
         <wsdl:output message="impl:queryResponse" name="queryResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>     

      <wsdl:operation name="queryStatusHistory" parameterOrder="requestDoc">
         <wsdl:input message="impl:queryStatusHistoryRequest" name="queryStatusHistoryRequest"/>
         <wsdl:output message="impl:queryStatusHistoryResponse" name="queryStatusHistoryResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>     

      <wsdl:operation name="verify" parameterOrder="requestDoc">
         <wsdl:input message="impl:verifyRequest" name="verifyRequest"/>
         <wsdl:output message="impl:verifyResponse" name="verifyResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>        

      <wsdl:operation name="deactivate" parameterOrder="requestDoc">
         <wsdl:input message="impl:deactivateRequest" name="deactivateRequest"/>
         <wsdl:output message="impl:deactivateResponse" name="deactivateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="CompanyBankAccountSoapBinding" type="impl:CompanyBankAccount">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="add">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountadd.CompanyBankAccountAdd" use="literal"/>
         </wsdl:input>
         <wsdl:output name="addResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountaddrs.CompanyBankAccountAddRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="update">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="updateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountupdate.CompanyBankAccountUpdate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountupdaters.CompanyBankAccountUpdateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>      

      <wsdl:operation name="query">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="queryRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountquery.CompanyBankAccountQuery" use="literal"/>
         </wsdl:input>
         <wsdl:output name="queryResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountqueryrs.CompanyBankAccountQueryRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation> 

      <wsdl:operation name="queryStatusHistory">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="queryStatusHistoryRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountstatushistoryquery.CompanyBankAccountStatusHistoryQuery" use="literal"/>
         </wsdl:input>
         <wsdl:output name="queryStatusHistoryResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountstatushistoryqueryrs.CompanyBankAccountStatusHistoryQueryRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation> 

      <wsdl:operation name="verify">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="verifyRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountverify.CompanyBankAccountVerify" use="literal"/>
         </wsdl:input>
         <wsdl:output name="verifyResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountverifyrs.CompanyBankAccountVerifyRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>  

      <wsdl:operation name="deactivate">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="deactivateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountdeactivate.CompanyBankAccountDeactivate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="deactivateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.companybankaccountdeactivaters.CompanyBankAccountDeactivateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

   </wsdl:binding>

	<wsdl:service name="CompanyBankAccount">
		<wsdl:port binding="impl:CompanyBankAccountSoapBinding" name="CompanyBankAccount">
		   <wsdlsoap:address location="${wsdlsoap.address.location.root}/services/CompanyBankAccount" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
