phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/DDCompany.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.companyaddrs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.companyaddrs" xmlns:intf="urn:intuit.osp.pse.dd.wsapi.xsd.companyaddrs" xmlns:tns1="http://base.wsf.common.osp.intuit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://base.wsf.common.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="WSException">
      <wsdl:part name="fault" type="tns1:WSException"/>
   </wsdl:message>

   <wsdl:message name="addResponse">
      <wsdl:part name="addReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="addRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="updateResponse">
      <wsdl:part name="updateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="updateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="cancelResponse">
      <wsdl:part name="cancelReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="cancelRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="getInfoResponse">
      <wsdl:part name="getInfoReturn" type="apachesoap:Element"/>
   </wsdl:message>
      <wsdl:message name="getInfoRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="queryResponse">
      <wsdl:part name="queryReturn" type="apachesoap:Element"/>
   </wsdl:message>
      <wsdl:message name="queryRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="updateFundingModelResponse">
      <wsdl:part name="updateFundingModelReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="updateFundingModelRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

    <wsdl:message name="updateLimitsResponse">
       <wsdl:part name="updateLimitsReturn" type="apachesoap:Element"/>
    </wsdl:message>
    <wsdl:message name="updateLimitsRequest">
       <wsdl:part name="requestDoc" type="apachesoap:Element"/>
    </wsdl:message>

    <wsdl:message name="updateDDStatusResponse">
       <wsdl:part name="updateDDStatusReturn" type="apachesoap:Element"/>
    </wsdl:message>
    <wsdl:message name="updateDDStatusRequest">
       <wsdl:part name="requestDoc" type="apachesoap:Element"/>
    </wsdl:message>

    <wsdl:message name="strikeAddResponse">
       <wsdl:part name="strikeAddReturn" type="apachesoap:Element"/>
    </wsdl:message>
    <wsdl:message name="strikeAddRequest">
       <wsdl:part name="requestDoc" type="apachesoap:Element"/>
    </wsdl:message>

    <wsdl:message name="strikeCancelResponse">
       <wsdl:part name="strikeCancelReturn" type="apachesoap:Element"/>
    </wsdl:message>
    <wsdl:message name="strikeCancelRequest">
       <wsdl:part name="requestDoc" type="apachesoap:Element"/>
    </wsdl:message>

   <wsdl:portType name="DDCompany">
      <wsdl:operation name="add" parameterOrder="requestDoc">
         <wsdl:input message="impl:addRequest" name="addRequest"/>
         <wsdl:output message="impl:addResponse" name="addResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="requestDoc">
         <wsdl:input message="impl:updateRequest" name="updateRequest"/>
         <wsdl:output message="impl:updateResponse" name="updateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="cancel" parameterOrder="requestDoc">
         <wsdl:input message="impl:cancelRequest" name="cancelRequest"/>
         <wsdl:output message="impl:cancelResponse" name="cancelResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="getInfo" parameterOrder="requestDoc">
         <wsdl:input message="impl:getInfoRequest" name="getInfoRequest"/>
         <wsdl:output message="impl:getInfoResponse" name="getInfoResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="query" parameterOrder="requestDoc">
         <wsdl:input message="impl:queryRequest" name="queryRequest"/>
         <wsdl:output message="impl:queryResponse" name="queryResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="updateFundingModel" parameterOrder="requestDoc">
         <wsdl:input message="impl:updateFundingModelRequest" name="updateFundingModelRequest"/>
         <wsdl:output message="impl:updateFundingModelResponse" name="updateFundingModelResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

       <wsdl:operation name="updateLimits" parameterOrder="requestDoc">
          <wsdl:input message="impl:updateLimitsRequest" name="updateLimitsRequest"/>
          <wsdl:output message="impl:updateLimitsResponse" name="updateLimitsResponse"/>
          <wsdl:fault message="impl:WSException" name="WSException"/>
       </wsdl:operation>

       <wsdl:operation name="updateDDStatus" parameterOrder="requestDoc">
          <wsdl:input message="impl:updateDDStatusRequest" name="updateDDStatusRequest"/>
          <wsdl:output message="impl:updateDDStatusResponse" name="updateDDStatusResponse"/>
          <wsdl:fault message="impl:WSException" name="WSException"/>
       </wsdl:operation>

       <wsdl:operation name="strikeAdd" parameterOrder="requestDoc">
          <wsdl:input message="impl:strikeAddRequest" name="strikeAddRequest"/>
          <wsdl:output message="impl:strikeAddResponse" name="strikeAddResponse"/>
          <wsdl:fault message="impl:WSException" name="WSException"/>
       </wsdl:operation>

       <wsdl:operation name="strikeCancel" parameterOrder="requestDoc">
          <wsdl:input message="impl:strikeCancelRequest" name="strikeCancelRequest"/>
          <wsdl:output message="impl:strikeCancelResponse" name="strikeCancelResponse"/>
          <wsdl:fault message="impl:WSException" name="WSException"/>
       </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="DDCompanySoapBinding" type="impl:DDCompany">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="add">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyadd.DDCompanyAdd" use="literal"/>
         </wsdl:input>
         <wsdl:output name="addResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyaddrs.DDCompanyAddRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="update">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="updateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyupdate.DDCompanyUpdate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyupdaters.DDCompanyUpdateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="cancel">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="cancelRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanycancel.DDCompanyCancel" use="literal"/>
         </wsdl:input>
         <wsdl:output name="cancelResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanycancelrs.DDCompanyCancelRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="getInfo">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="getInfoRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanygetinfo.DDCompanyGetInfo" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getInfoResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanygetinfors.DDCompanyGetInfoRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="query">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="queryRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyquery.DDCompanyQuery" use="literal"/>
         </wsdl:input>
         <wsdl:output name="queryResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyqueryrs.DDCompanyQueryRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="updateFundingModel">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="updateFundingModelRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyfundingmodelupdate.DDCompanyFundingModelUpdate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateFundingModelResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyfundingmodelupdaters.DDCompanyFundingModelUpdateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

       <wsdl:operation name="updateLimits">
          <wsdlsoap:operation soapAction=""/>
          <wsdl:input name="updateLimitsRequest">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanylimitsupdate.DDCompanyLimitsUpdate" use="literal"/>
          </wsdl:input>
          <wsdl:output name="updateLimitsResponse">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanylimitsupdaters.DDCompanyLimitsUpdateRs" use="literal"/>
          </wsdl:output>
          <wsdl:fault name="WSException">
             <wsdlsoap:fault name="WSException" use="literal"/>
          </wsdl:fault>
       </wsdl:operation>

       <wsdl:operation name="updateDDStatus">
          <wsdlsoap:operation soapAction=""/>
          <wsdl:input name="updateDDStatusRequest">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyddstatusupdate.DDCompanyDDStatusUpdate" use="literal"/>
          </wsdl:input>
          <wsdl:output name="updateDDStatusResponse">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanyddstatusupdaters.DDCompanyDDStatusUpdateRs" use="literal"/>
          </wsdl:output>
          <wsdl:fault name="WSException">
             <wsdlsoap:fault name="WSException" use="literal"/>
          </wsdl:fault>
       </wsdl:operation>

       <wsdl:operation name="strikeAdd">
          <wsdlsoap:operation soapAction=""/>
          <wsdl:input name="strikeAddRequest">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanystrikeadd.DDCompanyStrikeAdd" use="literal"/>
          </wsdl:input>
          <wsdl:output name="strikeAddResponse">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanystrikeaddrs.DDCompanyStrikeAddRs" use="literal"/>
          </wsdl:output>
          <wsdl:fault name="WSException">
             <wsdlsoap:fault name="WSException" use="literal"/>
          </wsdl:fault>
       </wsdl:operation>

       <wsdl:operation name="strikeCancel">
          <wsdlsoap:operation soapAction=""/>
          <wsdl:input name="strikeCancelRequest">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanystrikecancel.DDCompanyStrikeCancel" use="literal"/>
          </wsdl:input>
          <wsdl:output name="strikeCancelResponse">
             <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddcompanystrikecancelrs.DDCompanyStrikeCancelRs" use="literal"/>
          </wsdl:output>
          <wsdl:fault name="WSException">
             <wsdlsoap:fault name="WSException" use="literal"/>
          </wsdl:fault>
       </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="DDCompany">
      <wsdl:port binding="impl:DDCompanySoapBinding" name="DDCompany">
          <wsdlsoap:address location="${wsdlsoap.address.location.root}/services/DDCompany"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
