phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/DDTransaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionsubmitrs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionsubmitrs" xmlns:intf="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionsubmitrs" xmlns:tns1="http://base.wsf.common.osp.intuit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.3
		Built on Oct 05, 2005 (05:23:37 EDT)-->
	<wsdl:types>
		<schema targetNamespace="http://base.wsf.common.osp.intuit"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="WSException">
				<sequence/>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="WSException">
		<wsdl:part name="fault" type="tns1:WSException"/>
	</wsdl:message>

	<wsdl:message name="badDebtRecoverResponse">
		<wsdl:part name="badDebtRecoverReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="badDebtRecoverRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="badDebtWriteOffResponse">
		<wsdl:part name="badDebtWriteOffReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="badDebtWriteOffRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="cancelResponse">
		<wsdl:part name="cancelReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="cancelRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="ddRefundResponse">
		<wsdl:part name="ddRefundReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="ddRefundRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="eeReturnRefundResponse">
		<wsdl:part name="eeReturnRefundReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="eeReturnRefundRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="eeReturnTransferResponse">
		<wsdl:part name="eeReturnTransferReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="eeReturnTransferRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="erFeeAddResponse">
		<wsdl:part name="erFeeAddReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="erFeeAddRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="erReturnRefundResponse">
		<wsdl:part name="erReturnRefundReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="erReturnRefundRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="escalationAddResponse">
		<wsdl:part name="escalationAddReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="escalationAddRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="feeRedebitAddResponse">
		<wsdl:part name="feeRedebitAddReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="feeRedebitAddRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="feeTransferResponse">
		<wsdl:part name="feeTransferReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="feeTransferRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="intuit5DayReturnTransferResponse">
		<wsdl:part name="intuit5DayReturnTransferReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="intuit5DayReturnTransferRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="recallResponse">
		<wsdl:part name="recallReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="recallRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="redebitAddResponse">
		<wsdl:part name="redebitAddReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="redebitAddRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="repaymentRecordResponse">
		<wsdl:part name="repaymentRecordReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="repaymentRecordRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="reverseResponse">
		<wsdl:part name="reverseReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="reverseRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="submitResponse">
		<wsdl:part name="submitReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="submitRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="syncResponse">
		<wsdl:part name="syncReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="syncRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="voidTxResponse">
		<wsdl:part name="voidTxReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="voidTxRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>

	<wsdl:message name="txHistoryQueryResponse">
		<wsdl:part name="txHistoryQueryReturn" type="apachesoap:Element"/>
	</wsdl:message>
	<wsdl:message name="txHistoryQueryRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element"/>
	</wsdl:message>	

	<wsdl:portType name="DDTransaction">

		<wsdl:operation name="badDebtRecover" parameterOrder="requestDoc">
			<wsdl:input message="impl:badDebtRecoverRequest" name="badDebtRecoverRequest"/>
			<wsdl:output message="impl:badDebtRecoverResponse" name="badDebtRecoverResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="badDebtWriteOff" parameterOrder="requestDoc">
			<wsdl:input message="impl:badDebtWriteOffRequest" name="badDebtWriteOffRequest"/>
			<wsdl:output message="impl:badDebtWriteOffResponse" name="badDebtWriteOffResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="cancel" parameterOrder="requestDoc">
			<wsdl:input message="impl:cancelRequest" name="cancelRequest"/>
			<wsdl:output message="impl:cancelResponse" name="cancelResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="ddRefund" parameterOrder="requestDoc">
			<wsdl:input message="impl:ddRefundRequest" name="ddRefundRequest"/>
			<wsdl:output message="impl:ddRefundResponse" name="ddRefundResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="eeReturnRefund" parameterOrder="requestDoc">
			<wsdl:input message="impl:eeReturnRefundRequest" name="eeReturnRefundRequest"/>
			<wsdl:output message="impl:eeReturnRefundResponse" name="eeReturnRefundResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="eeReturnTransfer" parameterOrder="requestDoc">
			<wsdl:input message="impl:eeReturnTransferRequest" name="eeReturnTransferRequest"/>
			<wsdl:output message="impl:eeReturnTransferResponse" name="eeReturnTransferResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="erFeeAdd" parameterOrder="requestDoc">
			<wsdl:input message="impl:erFeeAddRequest" name="erFeeAddRequest"/>
			<wsdl:output message="impl:erFeeAddResponse" name="erFeeAddResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="erReturnRefund" parameterOrder="requestDoc">
			<wsdl:input message="impl:erReturnRefundRequest" name="erReturnRefundRequest"/>
			<wsdl:output message="impl:erReturnRefundResponse" name="erReturnRefundResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="escalationAdd" parameterOrder="requestDoc">
			<wsdl:input message="impl:escalationAddRequest" name="escalationAddRequest"/>
			<wsdl:output message="impl:escalationAddResponse" name="escalationAddResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>
		
		<wsdl:operation name="feeRedebitAdd" parameterOrder="requestDoc">
			<wsdl:input message="impl:feeRedebitAddRequest" name="feeRedebitAddRequest"/>
			<wsdl:output message="impl:feeRedebitAddResponse" name="feeRedebitAddResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="feeTransfer" parameterOrder="requestDoc">
			<wsdl:input message="impl:feeTransferRequest" name="feeTransferRequest"/>
			<wsdl:output message="impl:feeTransferResponse" name="feeTransferResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="intuit5DayReturnTransfer" parameterOrder="requestDoc">
			<wsdl:input message="impl:intuit5DayReturnTransferRequest" name="intuit5DayReturnTransferRequest"/>
			<wsdl:output message="impl:intuit5DayReturnTransferResponse" name="intuit5DayReturnTransferResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="recall" parameterOrder="requestDoc">
			<wsdl:input message="impl:recallRequest" name="recallRequest"/>
			<wsdl:output message="impl:recallResponse" name="recallResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="redebitAdd" parameterOrder="requestDoc">
			<wsdl:input message="impl:redebitAddRequest" name="redebitAddRequest"/>
			<wsdl:output message="impl:redebitAddResponse" name="redebitAddResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="repaymentRecord" parameterOrder="requestDoc">
			<wsdl:input message="impl:repaymentRecordRequest" name="repaymentRecordRequest"/>
			<wsdl:output message="impl:repaymentRecordResponse" name="repaymentRecordResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="reverse" parameterOrder="requestDoc">
			<wsdl:input message="impl:reverseRequest" name="reverseRequest"/>
			<wsdl:output message="impl:reverseResponse" name="reverseResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="submit" parameterOrder="requestDoc">
			<wsdl:input message="impl:submitRequest" name="submitRequest"/>
			<wsdl:output message="impl:submitResponse" name="submitResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="sync" parameterOrder="requestDoc">
			<wsdl:input message="impl:syncRequest" name="syncRequest"/>
			<wsdl:output message="impl:syncResponse" name="syncResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>
		
		<wsdl:operation name="voidTx" parameterOrder="requestDoc">
			<wsdl:input message="impl:voidTxRequest" name="voidTxRequest"/>
			<wsdl:output message="impl:voidTxResponse" name="voidTxResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

		<wsdl:operation name="txHistoryQuery" parameterOrder="requestDoc">
			<wsdl:input message="impl:txHistoryQueryRequest" name="txHistoryQueryRequest"/>
			<wsdl:output message="impl:txHistoryQueryResponse" name="txHistoryQueryResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>		
	</wsdl:portType>

	<wsdl:binding name="DDTransactionSoapBinding" type="impl:DDTransaction">

		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="badDebtRecover">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="badDebtRecoverRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.baddebtrecover.BadDebtRecover" use="literal"/>
			</wsdl:input>
			<wsdl:output name="badDebtRecoverResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.baddebtrecoverrs.BadDebtRecoverRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="badDebtWriteOff">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="badDebtWriteOffRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.baddebtwriteoff.BadDebtWriteOff" use="literal"/>
			</wsdl:input>
			<wsdl:output name="badDebtWriteOffResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.baddebtwriteoffrs.BadDebtWriteOffRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="cancel">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="cancelRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactioncancel.DDTransactionCancel" use="literal"/>
			</wsdl:input>
			<wsdl:output name="cancelResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactioncancelrs.DDTransactionCancelRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="ddRefund">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="ddRefundRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddrefund.DDRefund" use="literal"/>
			</wsdl:input>
			<wsdl:output name="ddRefundResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddrefundrs.DDRefundRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="eeReturnRefund">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="eeReturnRefundRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.eereturnrefund.EEReturnRefund" use="literal"/>
			</wsdl:input>
			<wsdl:output name="eeReturnRefundResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.eereturnrefundrs.EEReturnRefundRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="eeReturnTransfer">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="eeReturnTransferRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.eereturntransfer.EEReturnTransfer" use="literal"/>
			</wsdl:input>
			<wsdl:output name="eeReturnTransferResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.eereturntransferrs.EEReturnTransferRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="erFeeAdd">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="erFeeAddRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfeeadd.ERFeeAdd" use="literal"/>
			</wsdl:input>
			<wsdl:output name="erFeeAddResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfeeaddrs.ERFeeAddRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="erReturnRefund">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="erReturnRefundRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erreturnrefund.ERReturnRefund" use="literal"/>
			</wsdl:input>
			<wsdl:output name="erReturnRefundResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erreturnrefundrs.ERReturnRefundRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="escalationAdd">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="escalationAddRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.escalationadd.EscalationAdd" use="literal"/>
			</wsdl:input>
			<wsdl:output name="escalationAddResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.escalationaddrs.EscalationAddRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="feeRedebitAdd">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="feeRedebitAddRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.feeredebitadd.FeeRedebitAdd" use="literal"/>
			</wsdl:input>
			<wsdl:output name="feeRedebitAddResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.feeredebitaddrs.FeeRedebitAddRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="feeTransfer">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="feeTransferRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.feetransfer.FeeTransfer" use="literal"/>
			</wsdl:input>
			<wsdl:output name="feeTransferResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.feetransferrs.FeeTransferRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="intuit5DayReturnTransfer">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="intuit5DayReturnTransferRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.intuit5dayreturntransfer.Intuit5DayReturnTransfer" use="literal"/>
			</wsdl:input>
			<wsdl:output name="intuit5DayReturnTransferResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.intuit5dayreturntransferrs.Intuit5DayReturnTransferRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="recall">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="recallRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionrecall.DDTransactionRecall" use="literal"/>
			</wsdl:input>
			<wsdl:output name="recallResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionrecallrs.DDTransactionRecallRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="redebitAdd">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="redebitAddRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddredebitadd.DDRedebitAdd" use="literal"/>
			</wsdl:input>
			<wsdl:output name="redebitAddResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddredebitaddrs.DDRedebitAddRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="repaymentRecord">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="repaymentRecordRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.repaymentrecord.RepaymentRecord" use="literal"/>
			</wsdl:input>
			<wsdl:output name="repaymentRecordResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.repaymentrecordrs.RepaymentRecordRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="reverse">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="reverseRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionreverse.DDTransactionReverse" use="literal"/>
			</wsdl:input>
			<wsdl:output name="reverseResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionreversers.DDTransactionReverseRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="submit">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="submitRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionsubmit.DDTransactionSubmit" use="literal"/>
			</wsdl:input>
			<wsdl:output name="submitResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionsubmitrs.DDTransactionSubmitRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="sync">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="syncRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.transactionsync.TransactionSync" use="literal"/>
			</wsdl:input>
			<wsdl:output name="syncResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.transactionsyncrs.TransactionSyncRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="voidTx">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="voidTxRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionvoidtx.DDTransactionVoidTx" use="literal"/>
			</wsdl:input>
			<wsdl:output name="voidTxResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.ddtransactionvoidtxrs.DDTransactionVoidTxRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="txHistoryQuery">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="txHistoryQueryRequest">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.txhistoryquery.TxHistoryQuery" use="literal"/>
			</wsdl:input>
			<wsdl:output name="txHistoryQueryResponse">
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.txhistoryqueryrs.TxHistoryQueryRs" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DDTransaction">
		<wsdl:port binding="impl:DDTransactionSoapBinding" name="DDTransaction">
			<wsdlsoap:address location="${wsdlsoap.address.location.root}/services/DDTransaction"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
