phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/EmployeeBankAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountaddrs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountaddrs" xmlns:intf="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountaddrs" xmlns:tns1="http://base.wsf.common.osp.intuit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://base.wsf.common.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="WSException">
      <wsdl:part name="fault" type="tns1:WSException"/>
   </wsdl:message>
   
   <wsdl:message name="addResponse">
      <wsdl:part name="addReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="addRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="updateResponse">
      <wsdl:part name="updateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="updateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>
   
   <wsdl:message name="deactivateResponse">
      <wsdl:part name="deactivateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="deactivateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>   
   
   <wsdl:message name="historyQueryResponse">
      <wsdl:part name="historyQueryReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="historyQueryRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>      
   
   <wsdl:portType name="EmployeeBankAccount">
      <wsdl:operation name="add" parameterOrder="requestDoc">
         <wsdl:input message="impl:addRequest" name="addRequest"/>
         <wsdl:output message="impl:addResponse" name="addResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>
      
      <wsdl:operation name="update" parameterOrder="requestDoc">
         <wsdl:input message="impl:updateRequest" name="updateRequest"/>
         <wsdl:output message="impl:updateResponse" name="updateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>      
      
      <wsdl:operation name="deactivate" parameterOrder="requestDoc">
         <wsdl:input message="impl:deactivateRequest" name="deactivateRequest"/>
         <wsdl:output message="impl:deactivateResponse" name="deactivateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>      
      
      <wsdl:operation name="historyQuery" parameterOrder="requestDoc">
         <wsdl:input message="impl:historyQueryRequest" name="historyQueryRequest"/>
         <wsdl:output message="impl:historyQueryResponse" name="historyQueryResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>     
   </wsdl:portType>
   <wsdl:binding name="EmployeeBankAccountSoapBinding" type="impl:EmployeeBankAccount">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="add">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountadd.EmployeeBankAccountAdd" use="literal"/>
         </wsdl:input>
         <wsdl:output name="addResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountaddrs.EmployeeBankAccountAddRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>

      <wsdl:operation name="update">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="updateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountupdate.EmployeeBankAccountUpdate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountupdaters.EmployeeBankAccountUpdateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="deactivate">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="deactivateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountdeactivate.EmployeeBankAccountDeactivate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="deactivateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccountdeactivaters.EmployeeBankAccountDeactivateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>      
      
      <wsdl:operation name="historyQuery">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="historyQueryRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccounthistoryquery.EmployeeBankAccountHistoryQuery" use="literal"/>
         </wsdl:input>
         <wsdl:output name="historyQueryResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeebankaccounthistoryqueryrs.EmployeeBankAccountHistoryQueryRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>   
   </wsdl:binding>
   
   <wsdl:service name="EmployeeBankAccount">
      <wsdl:port binding="impl:EmployeeBankAccountSoapBinding" name="EmployeeBankAccount">
         <wsdlsoap:address location="${wsdlsoap.address.location.root}/services/EmployeeBankAccount"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>