phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/Employee.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeeaddrs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.employeeaddrs" xmlns:intf="urn:intuit.osp.pse.dd.wsapi.xsd.employeeaddrs" xmlns:tns1="http://base.wsf.common.osp.intuit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://base.wsf.common.osp.intuit" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="WSException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>
   <wsdl:message name="WSException">
      <wsdl:part name="fault" type="tns1:WSException"/>
   </wsdl:message>

   <wsdl:message name="addResponse">
      <wsdl:part name="addReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="addRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="updateResponse">
      <wsdl:part name="updateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="updateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="deactivateResponse">
      <wsdl:part name="deactivateReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="deactivateRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:message name="queryResponse">
      <wsdl:part name="queryReturn" type="apachesoap:Element"/>
   </wsdl:message>
   <wsdl:message name="queryRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

   <wsdl:portType name="Employee">
      <wsdl:operation name="add" parameterOrder="requestDoc">
         <wsdl:input message="impl:addRequest" name="addRequest"/>
         <wsdl:output message="impl:addResponse" name="addResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="requestDoc">
         <wsdl:input message="impl:updateRequest" name="updateRequest"/>
         <wsdl:output message="impl:updateResponse" name="updateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>            
      
      <wsdl:operation name="deactivate" parameterOrder="requestDoc">
         <wsdl:input message="impl:deactivateRequest" name="deactivateRequest"/>
         <wsdl:output message="impl:deactivateResponse" name="deactivateResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation>      
      
      <wsdl:operation name="query" parameterOrder="requestDoc">
         <wsdl:input message="impl:queryRequest" name="queryRequest"/>
         <wsdl:output message="impl:queryResponse" name="queryResponse"/>
         <wsdl:fault message="impl:WSException" name="WSException"/>
      </wsdl:operation> 
   </wsdl:portType>
   <wsdl:binding name="EmployeeSoapBinding" type="impl:Employee">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="add">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="addRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeeadd.EmployeeAdd" use="literal"/>
         </wsdl:input>
         <wsdl:output name="addResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeeaddrs.EmployeeAddRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      
      <wsdl:operation name="update">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="updateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeeupdate.EmployeeUpdate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeeupdaters.EmployeeUpdateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>      
      
      <wsdl:operation name="deactivate">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="deactivateRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeedeactivate.EmployeeDeactivate" use="literal"/>
         </wsdl:input>
         <wsdl:output name="deactivateResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeedeactivaters.EmployeeDeactivateRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>      
      
      <wsdl:operation name="query">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="queryRequest">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeequery.EmployeeQuery" use="literal"/>
         </wsdl:input>
         <wsdl:output name="queryResponse">
            <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.employeequeryrs.EmployeeQueryRs" use="literal"/>
         </wsdl:output>
         <wsdl:fault name="WSException">
            <wsdlsoap:fault name="WSException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>  
   </wsdl:binding>
   
   <wsdl:service name="Employee">
      <wsdl:port binding="impl:EmployeeSoapBinding" name="Employee">
         <wsdlsoap:address location="${wsdlsoap.address.location.root}/services/Employee"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
