phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/ERFinancialTx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ERFinancialTx"
	targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtx"
	xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtx"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsf="http://base.wsf.common.osp.intuit">

	<wsdl:types>
		<schema targetNamespace="http://base.wsf.common.osp.intuit"	xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import	namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="WSException">
				<sequence />
			</complexType>
		</schema>
	</wsdl:types>
	
	<wsdl:message name="queryRequest">
		<wsdl:part name="queryRequest" type="apachesoap:Element" />
	</wsdl:message>

	<wsdl:message name="queryResponse">
		<wsdl:part name="queryResponse" type="apachesoap:Element" />
	</wsdl:message>

   <wsdl:message name="cancelResponse">
      <wsdl:part name="cancelReturn" type="apachesoap:Element"/>
   </wsdl:message>
    
   <wsdl:message name="cancelRequest">
      <wsdl:part name="requestDoc" type="apachesoap:Element"/>
   </wsdl:message>

    <wsdl:message name="refundResponse">
       <wsdl:part name="refundReturn" type="apachesoap:Element"/>
    </wsdl:message>

    <wsdl:message name="refundRequest">
       <wsdl:part name="requestDoc" type="apachesoap:Element"/>
    </wsdl:message>

	<wsdl:message name="WSException">
		<wsdl:part name="fault" type="wsf:WSException" />
	</wsdl:message>
	
	<wsdl:portType name="ERFinancialTx">
		<wsdl:operation name="query" parameterOrder="queryRequest">
			<wsdl:input message="impl:queryRequest" name="queryRequest"/>
			<wsdl:output message="impl:queryResponse" name="queryResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>
        <wsdl:operation name="cancel" parameterOrder="requestDoc">
           <wsdl:input message="impl:cancelRequest" name="cancelRequest"/>
           <wsdl:output message="impl:cancelResponse" name="cancelResponse"/>
           <wsdl:fault message="impl:WSException" name="WSException"/>
        </wsdl:operation>
        <wsdl:operation name="refund" parameterOrder="requestDoc">
           <wsdl:input message="impl:refundRequest" name="refundRequest"/>
           <wsdl:output message="impl:refundResponse" name="refundResponse"/>
           <wsdl:fault message="impl:WSException" name="WSException"/>
        </wsdl:operation>
    </wsdl:portType>
	
	<wsdl:binding name="ERFinancialTxSOAP" type="impl:ERFinancialTx">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="query">
			<wsdlsoap:operation	soapAction="" />
			<wsdl:input>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtxquery.ERFinancialTxQuery" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtxqueryrs.ERFinancialTxQueryRs" use="literal" />
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="cancel">
           <wsdlsoap:operation soapAction=""/>
           <wsdl:input name="cancelRequest">
              <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtxcancel.ERFinancialTxCancel" use="literal"/>
           </wsdl:input>
           <wsdl:output name="cancelResponse">
              <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtxcancelrs.ERFinancialTxCancelRs" use="literal"/>
           </wsdl:output>
           <wsdl:fault name="WSException">
              <wsdlsoap:fault name="WSException" use="literal"/>
           </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="refund">
           <wsdlsoap:operation soapAction=""/>
           <wsdl:input name="refundRequest">
              <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtxrefund.ERFinancialTxRefund" use="literal"/>
           </wsdl:input>
           <wsdl:output name="refundResponse">
              <wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.erfinancialtxrefundrs.ERFinancialTxRefundRs" use="literal"/>
           </wsdl:output>
           <wsdl:fault name="WSException">
              <wsdlsoap:fault name="WSException" use="literal"/>
           </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
	
	<wsdl:service name="ERFinancialTx">
		<wsdl:port binding="impl:ERFinancialTxSOAP"	name="ERFinancialTx">
			<wsdlsoap:address location="${wsdlsoap.address.location.root}/services/ERFinancialTx" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
