phpp01/prvn/objects_apg/dt-payroll-svc-feature-intg-postgres-run-trunc-limit/app/Adapters/qboe-adapter/src/main/resources/ws-wsdl/src/main/resources/OfferingServiceChargeGroup.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OfferingServiceChargeGroup"
	targetNamespace="urn:intuit.osp.pse.dd.wsapi.xsd.OfferingServiceChargeGroup"
	xmlns:impl="urn:intuit.osp.pse.dd.wsapi.xsd.OfferingServiceChargeGroup"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsf="http://base.wsf.common.osp.intuit">

	<wsdl:types>
		<schema targetNamespace="http://base.wsf.common.osp.intuit"	xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://xml.apache.org/xml-soap" />
			<import	namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="WSException">
				<sequence />
			</complexType>
		</schema>
	</wsdl:types>

    <wsdl:message name="WSException">
        <wsdl:part name="fault" type="wsf:WSException" />
    </wsdl:message>

    <wsdl:message name="createRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element" />
	</wsdl:message>

	<wsdl:message name="createResponse">
		<wsdl:part name="createResponse" type="apachesoap:Element" />
	</wsdl:message>

    <wsdl:message name="updateRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element" />
	</wsdl:message>

	<wsdl:message name="updateResponse">
		<wsdl:part name="updateResponse" type="apachesoap:Element" />
	</wsdl:message>

    <wsdl:message name="deleteRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element" />
	</wsdl:message>

	<wsdl:message name="deleteResponse">
		<wsdl:part name="deleteResponse" type="apachesoap:Element" />
	</wsdl:message>

    <wsdl:message name="queryRequest">
		<wsdl:part name="requestDoc" type="apachesoap:Element" />
	</wsdl:message>

	<wsdl:message name="queryResponse">
		<wsdl:part name="queryResponse" type="apachesoap:Element" />
	</wsdl:message>

	<wsdl:portType name="OfferingServiceChargeGroup">
        <wsdl:operation name="create" parameterOrder="requestDoc">
			<wsdl:input message="impl:createRequest" name="createRequest"/>
			<wsdl:output message="impl:createResponse" name="createResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

        <wsdl:operation name="update" parameterOrder="requestDoc">
			<wsdl:input message="impl:updateRequest" name="updateRequest"/>
			<wsdl:output message="impl:updateResponse" name="updateResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

        <wsdl:operation name="delete" parameterOrder="requestDoc">
			<wsdl:input message="impl:deleteRequest" name="deleteRequest"/>
			<wsdl:output message="impl:deleteResponse" name="deleteResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>

        <wsdl:operation name="query" parameterOrder="requestDoc">
			<wsdl:input message="impl:queryRequest" name="queryRequest"/>
			<wsdl:output message="impl:queryResponse" name="queryResponse"/>
			<wsdl:fault message="impl:WSException" name="WSException"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OfferingServiceChargeGroupSOAP" type="impl:OfferingServiceChargeGroup">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="create">
			<wsdlsoap:operation	soapAction="" />
			<wsdl:input>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupcreate.OfferingServiceChargeGroupCreate" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupcreaters.OfferingServiceChargeGroupCreateRs" use="literal" />
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

        <wsdl:operation name="update">
			<wsdlsoap:operation	soapAction="" />
			<wsdl:input>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupupdate.OfferingServiceChargeGroupUpdate" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupupdaters.OfferingServiceChargeGroupUpdateRs" use="literal" />
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

        <wsdl:operation name="delete">
			<wsdlsoap:operation	soapAction="" />
			<wsdl:input>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupdelete.OfferingServiceChargeGroupDelete" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupdeleters.OfferingServiceChargeGroupDeleteRs" use="literal" />
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

        <wsdl:operation name="query">
			<wsdlsoap:operation	soapAction="" />
			<wsdl:input>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupquery.OfferingServiceChargeGroupQuery" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body namespace="urn:intuit.osp.pse.dd.wsapi.xsd.offeringservicechargegroupqueryrs.OfferingServiceChargeGroupQueryRs" use="literal" />
			</wsdl:output>
			<wsdl:fault name="WSException">
				<wsdlsoap:fault name="WSException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
    </wsdl:binding>

	<wsdl:service name="OfferingServiceChargeGroup">
		<wsdl:port binding="impl:OfferingServiceChargeGroupSOAP"	name="OfferingServiceChargeGroup">
			<wsdlsoap:address location="${wsdlsoap.address.location.root}/services/OfferingServiceChargeGroup" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
